<Plugin
    DescriptorVersion="1.0"
    Name="ConfigurationManager"
    PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"
    Author="SMa, Albert"
    Copyright="GPL"
    Description="MediaPortal-II configuration engine"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="ConfigurationManager.dll"/>
  </Runtime>

  <Builder Name="ConfigSection" ClassName="MediaPortal.Configuration.Builders.ConfigBuilder"/>
  <Builder Name="ConfigGroup" ClassName="MediaPortal.Configuration.Builders.ConfigBuilder"/>
  <Builder Name="ConfigSetting" ClassName="MediaPortal.Configuration.Builders.ConfigBuilder"/>
  <Builder Name="CustomConfigSetting" ClassName="MediaPortal.Configuration.Builders.ConfigBuilder"/>

  <Register Location="/Services">
    <Instance Id="MediaPortal.Core.Configuration.IConfigurationManager" ClassName="MediaPortal.Configuration.ConfigurationManagement.ConfigurationManager"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="Configuration" Directory="Language" Type="Language"/>
  </Register>
</Plugin>