<Plugin
    DescriptorVersion="1.0"
    Name="SeriesMetadataExtractor"
    PluginId="{A2D018D4-97E9-4B37-A7C3-31FD270277D0}"
    Author = "Morpheus_xx"
    Copyright="GPL"
    Description="Metadata extractor to detect and lookup Series information"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{D418C9C9-6D2A-44ed-ADC2-16345294B019}"/> <!-- MediaInfoPlugin -->
    <PluginReference PluginId="{3F5077F0-16E8-47E7-AD4B-E295812C174A}"/> <!-- MatroskaLib -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SeriesMetadataExtractor.dll"/>
    <Assembly FileName="FanArtService.Interfaces.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="SeriesMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.SeriesMetadataExtractor"/>
  </Register>

  <!-- We use our own local name here to avoid circular references to FanArtService -->
  <Builder Name="SeriesFanartProviderBuilder" ClassName="MediaPortal.Extensions.UserServices.FanArtService.Interfaces.Providers.FanartProviderBuilder"/>
  <Register Location="/Fanart/Providers">
    <SeriesFanartProviderBuilder Id="{73520BB9-112F-4208-90A8-C406E00AC192}" MediaTypes="Series" ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.FanartProvider.SeriesFanartProvider"/>
  </Register>

</Plugin>