<Plugin
    DescriptorVersion="1.0"
    Name="SeriesMetadataExtractor"
    PluginId="{A2D018D4-97E9-4B37-A7C3-31FD270277D0}"
    Author = "Morpheus_xx"
    Copyright="GPL"
    Description="Metadata extractor to detect and lookup Series information">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{D418C9C9-6D2A-44ed-ADC2-16345294B019}" CompatibleAPI="1"/> <!-- MediaInfoPlugin -->
    <PluginReference PluginId="{3F5077F0-16E8-47E7-AD4B-E295812C174A}" CompatibleAPI="1"/> <!-- MatroskaLib -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SeriesMetadataExtractor.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="SeriesMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.SeriesMetadataExtractor"/>
  </Register>

  <Register Location="/Media/RelationshipExtractors">
    <Instance
        Id="SeriesRelationshipExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.SeriesRelationshipExtractor"/>
  </Register>

  <Register Location="/Media/MergeHandlers">
    <Instance
        Id="EpisodeMergeHandler"
        ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.EpisodeMergeHandler"/>
  </Register>

  <Register Location="/Media/FanArtHandlers">
    <Instance
        Id="SeriesFanArtHandler"
        ClassName="MediaPortal.Extensions.MetadataExtractors.SeriesMetadataExtractor.SeriesFanArtHandler"/>
  </Register>
</Plugin>
