<Plugin
    DescriptorVersion="1.0"
    Name="Reflexion Skin"
    PluginId="{CA7543A8-D7DF-44BC-A6AC-75AB3911FE43}"
    Author="Furnibird,Morpheus_xx"
    Copyright="GPL"
    Description="Reflexion">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
    <PluginReference PluginId="{F6C71648-3874-4d27-9232-C41EBEDE0337}" CompatibleAPI="1"/> <!-- Background Manager -->
    <PluginReference PluginId="{AD9C0439-F9DA-443c-BAC3-163891FB09F1}" CompatibleAPI="1"/> <!-- Weather -->
  </DependsOn>
  
  <Register Location="/Resources/Skin">
    <Resource Id="ReflexionSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
