<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="DokanFile">1</Property>

    <!--LaunchCondition obsolete when installing dokan with MP    
    
    <Condition Message="!(loc.LC_Dokan)">
      <![CDATA[Installed OR (DOKANVERCHECK64 AND VersionNT64) OR (DOKANVERCHECK32 AND NOT VersionNT64)]]>
    </Condition>
    <Condition Message="!(loc.LC_DokanError)">
      <![CDATA[Installed OR DOKANINSTALLED]]>
    </Condition>
    -->

    <Property Id="DOKANINSTALLED">
      <RegistrySearch Id="IsDokanServiceInstalled"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\services\Dokan"
                      Name="DisplayName"
                      Type="raw" />
    </Property>

    <Property Id="DOKANVERCHECK32">
      <DirectorySearch Id="Dokan.sys.version" Path="[SystemFolder]\Drivers">
        <FileSearch Name="Dokan.sys" MinSize="91903" MaxSize="95745" />
      </DirectorySearch>
    </Property>

    <Property Id="DOKANVERCHECK64">
      <DirectorySearch Id="Dokan.sys64.version" Path="[System64Folder]\Drivers">
        <FileSearch Name="Dokan.sys" MinSize="120407" MaxSize="120409" />
      </DirectorySearch>
    </Property>

    <Binary Id="DokanInstallerExe" SourceFile="$(var.ProjectDir)Dokan\DokanInstall_0.6.0.exe" />

    <CustomAction Id="CA_InstallDokan"
                  BinaryKey="DokanInstallerExe"
                  Impersonate="yes"
                  Execute="deferred"
                  ExeCommand="/S"
                  Return="check" />
    
    <CustomAction Id="CA_UninstallDokan"
                  Directory="DokanLibraryFolder"
                  ExeCommand="[DokanLibraryFolder]DokanUninstall.exe"
                  Impersonate="yes"
                  Execute="deferred"
                  Return="ignore" />

  </Fragment>
</Wix>