<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="DokanFile">1</Property>

    <Property Id="DOKANINSTALLED">
      <RegistrySearch Id="IsDokanServiceInstalled"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\services\Dokan"
                      Name="DisplayName"
                      Type="raw" />
    </Property>

    <Property Id="DOKANYINSTALLED">
      <RegistrySearch Id="IsDokanyServiceInstalled"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\services\dokan1"
                      Name="DisplayName"
                      Type="raw" />
    </Property>

    <Binary Id="DokanyInstallerExe" SourceFile="$(var.ProjectDir)Dokany\DokanSetup.exe" />

    <CustomAction Id="CA_InstallDokany"
                  BinaryKey="DokanyInstallerExe"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand="/S"
                  Return="check" />
    
    <CustomAction Id="CA_UninstallDokan"
                  Directory="DokanLibraryFolder"
                  ExeCommand="[DokanLibraryFolder]DokanUninstall.exe"
                  Impersonate="no"
                  Execute="deferred"
                  Return="ignore" />

  </Fragment>
</Wix>
