<Plugin
    DescriptorVersion="1.0"
    Name="HelloWorld"
    PluginId="C28ABD6B-9615-4512-B8DA-A04096F35628"
    Author="Albert"
    Copyright="GPL"
    Description="Sample plugin"
    PluginVersion="0.1">
  <!-- Set the attribute AutoActivate="true" in the "Plugin" element for code plugins whose activation state should
       automatically turned to "activated". This is not needed for pure-skin plugins - skin plugins contribute their
       skin fragments automatically without being activated. -->
  <!-- Use a GUID generator to create a new unique GUID for the plugin. -->

  <!-- The runtime section contains registrations related to the runtime state and code of the plugin. -->
  <Runtime>
    <!-- The assembly containing the code of the plugin. Special classes are only needed if registered below. -->
    <Assembly FileName="HelloWorld.dll"/>
  </Runtime>

  <!-- Registration of all models which should be managed by the WorkflowManager. -->
  <Register Location="/Models">
    <!-- This registration is necessary to 1) make the model id public and 2) to find the model's class.
         GUIDs are always written without the enclosing curly braces "{}". Use a GUID generator to generate a new GUID
         for your model. -->
    <Model Id="5726DA5A-70D5-458f-AF67-611293D97912" ClassName="Models.HelloWorld.Model"/>
  </Register>

  <!-- Registration of our skin directory -->
  <Register Location="/Resources/Skin">
    <!-- This registration is necessary to declare the skin directory. You can use an arbitrary directory name or
         relative path; the path must be the relative to directory of the plugin.
         The id of the plugin can be arbitrary but must be unique in the MP 2 system. It is not referenced directly
         in any place. -->
    <Resource Id="HelloWorldSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Registration of our language directory -->
  <Register Location="/Resources/Language">
    <!-- This registration is necessary to declare the language directory. Just like for the skin directory,
         you can use an arbitrary directory name or relative path; the path must be the relative to the directory of the plugin.
         The id of the plugin can be arbitrary but must be unique in the MP 2 system. It is not referenced directly
         in any place. -->
    <Resource Id="HelloWorldLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>
