<Plugin
    Version = "1.0"
    Name = "PictureImporter"
    Author = "Frodo"
    Copyright = "GPL"
    Description = "Picture Importer"
    PluginVersion = "1.0">

  <DependsOn>
    <PluginReference Name="ImporterManager"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName = "PictureImporter.dll"/>
    <PluginStateTracker ClassName = "Media.Importers.PictureImporter.Importer"/>
  </Runtime>

  <Register Location = "/Media/Importers">
    <Importer
        Id = "PictureImporter"
        ClassName = "Media.Importers.PictureImporter.PictureImporter"
        Extensions = ".jpg,.jpeg,.png,.gif,.tga"/>
  </Register>
</Plugin>