<Plugin
    DescriptorVersion="1.0"
    Name="FreeImage Library"
    PluginId="{94B90D7C-EF2E-466C-9FDE-E9F57472761A}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Library plugin providing the FreeImage functionality needed for SkinEngine and some default metadata extractors">

  <Version
    PluginVersion="3.15.4.1"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>
  
  <Runtime>
    <Assembly FileName="FreeImageNet.dll"/>
  </Runtime>
</Plugin>
