<Plugin
    DescriptorVersion="1.0"
    Name="FreeImage Library"
    PluginId="{94B90D7C-EF2E-466C-9FDE-E9F57472761A}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Library plugin providing the FreeImage functionality needed for SkinEngine and some default metadata extractors">

  <Version
    PluginVersion="3.18"
    ReleaseDate="2018-12-05 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="FreeImageLib.dll"/>
    <Assembly FileName="FreeImageNet.dll"/>
  </Runtime>
</Plugin>
