<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="VCRedistFile">1</Property>
    
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="ATL_x86" SourceFile="$(sys.SOURCEFILEDIR)\Microsoft_VC100_ATL_x86.msm" DiskId="1" Language="0"/>
      <Merge Id="CRT_x86" SourceFile="$(sys.SOURCEFILEDIR)\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
      <Merge Id="MFC_x86" SourceFile="$(sys.SOURCEFILEDIR)\Microsoft_VC100_MFC_x86.msm" DiskId="1" Language="0"/>
    </DirectoryRef>

    <Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="ATL_x86"/>
      <MergeRef Id="CRT_x86"/>
      <MergeRef Id="MFC_x86"/>
    </Feature>

  </Fragment>
</Wix>