<Plugin
    DescriptorVersion="1.0" 
    Name="WakeOnLan Client"
    PluginId="{7064CF61-6C5A-430D-AA77-31230C966ECB}"
    Author="Brownard"
    Copyright="GPL"
    AutoActivate="true"
    Description="Plugin to allow the client to wake the server by WOL">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2017-09-30 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="WakeOnLan.Client.dll"/>
    <Assembly FileName="WakeOnLan.Common.dll"/>
    <PluginStateTracker ClassName="WakeOnLan.Client.WakeOnLanPlugin"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <CoreDependency Name="UPnP" CompatibleAPI="1" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
  </DependsOn>  

  <Register Location="/Resources/Language">
    <Resource Id="WakeOnLanLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Contents of '/General/Connectivity' group -->
  <Register Location="/Configuration/Settings/General/Connectivity">
    <ConfigSetting 
      Id="EnableWakeOnLan"
      Text="[WakeOnLan.EnableWakeOnLan]"
      HelpText="[WakeOnLan.EnableWakeOnLan.Help]"
      ClassName="WakeOnLan.Client.Settings.Configuration.EnableWakeOnLan"/>
  </Register>
  
</Plugin>
