<Plugin
    DescriptorVersion="1.0"
    Name="AudioMetadataExtractor"
    PluginId="{8B248D2D-C6DF-4263-BBF3-B424C6C81B31}"
    Author="Team Mediaportal"
    Copyright="GPL"
    Description="Metadata extractor for many kinds of audio file formats">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{9EBD5979-7BDF-4eb5-9010-ED77CC748BE7}" CompatibleAPI="1"/> <!-- TagLibPlugin -->
    <PluginReference PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}" CompatibleAPI="1"/> <!-- BassLibraries -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="AudioMetadataExtractor.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="AudioMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.AudioMetadataExtractor.AudioMetadataExtractor"/>
  </Register>

  <Register Location="/Media/RelationshipExtractors">
    <Instance
        Id="AudioRelationshipExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.AudioMetadataExtractor.AudioRelationshipExtractor"/>
  </Register>

  <Register Location="/Media/MergeHandlers">
    <Instance
        Id="TrackMergeHandler"
        ClassName="MediaPortal.Extensions.MetadataExtractors.AudioMetadataExtractor.TrackMergeHandler"/>
  </Register>

  <Register Location="/Media/FanArtHandlers">
    <Instance
        Id="AudioFanArtHandler"
        ClassName="MediaPortal.Extensions.MetadataExtractors.AudioMetadataExtractor.AudioFanArtHandler"/>
  </Register>
</Plugin>
