<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="BackgroundManager" Name="BackgroundManager">
        
        <Component Id="BackgroundManager" Guid="E84AEFC4-13A7-4090-A62B-164F3C1CE0A1">
          <File Id="BackgroundManager.dll" Name="BackgroundManager.dll" KeyPath="yes" Checksum="yes" />
          <File Id="BackgroundManager.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="BackgroundManager.Skin" Name="Skin"/>
      </Directory>
    </DirectoryRef>

    <Feature Id="BackgroundManager" Level="0">
      <ComponentRef Id="BackgroundManager" />
    </Feature>

  </Fragment>
</Wix>