<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="Black_Backdrop" Name="Black Backdrop">

        <Component Id="Black_Backdrop" Guid="211929DA-3762-486B-BAFB-170845C9C465">
          <File Id="Black_Backdrop.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="Black_Backdrop.Skin" Name="Skin">
          <Directory Id="Black_Backdrop.Skin.default" Name="default">
            <!-- todo add skin files here -->
            <!--
            <Component Id="Black_Backdrop.Skin.default" Guid="C5109D8A-855E-4536-A4F3-BBCBE0FE7073">
            </Component>
            -->
          </Directory>
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="Black_Backdrop" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="Black_Backdrop" />
    </Feature>

  </Fragment>
</Wix>