<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="Configuration" Name="Configuration">

        <Component Id="Configuration" Guid="201A5AA5-4FA8-461B-AD3A-36D19EFDA260">
          <File Id="Configuration.dll" Name="Configuration.dll" KeyPath="yes" Checksum="yes" />
          <File Id="Configuration.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="Configuration.Language" Name="Language">
          <Component Id="Configuration.Language" Guid="BB1D1497-A14F-47CB-AE5A-703F25613B9B">
            <File Id="Configuration.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

        <Directory Id="Configuration.Skin" Name="Skin">
          <Directory Id="Configuration.Skin.default" Name="default">
            
            <Directory Id="Configuration.Skin.default.screens" Name="screens">
              <Component Id="Configuration.Skin.default.screens" Guid="59301565-2AC1-40D8-AEB6-6A2A20E1E565">
                <File Id="configuration_section.xaml" Name="configuration-section.xaml" />
                <File Id="dialog_configuration_entry.xaml" Name="dialog_configuration_entry.xaml" />
                <File Id="dialog_configuration_multiselectionlist.xaml" Name="dialog_configuration_multiselectionlist.xaml" />
                <File Id="dialog_configuration_numberselect.xaml" Name="dialog_configuration_numberselect.xaml" />
                <File Id="dialog_configuration_singleselectionlist.xaml" Name="dialog_configuration_singleselectionlist.xaml" />
                <File Id="dialog_configuration_yesno.xaml" Name="dialog_configuration_yesno.xaml" />
                <File Id="master_configuration_dialog.xaml" Name="master_configuration_dialog.xaml" />
                <File Id="master_configuration_dialog_wb.xaml" Name="master_configuration_dialog_wb.xaml" />
                <File Id="master_configuration_dialog_wob.xaml" Name="master_configuration_dialog_wob.xaml" />
              </Component>
            </Directory>
            
            <Directory Id="Configuration.Skin.default.workflow" Name="workflow">
              <Component Id="Configuration.Skin.default.workflow" Guid="57D1005E-3B33-477A-BA04-6116C38DB434">
                <File Id="configuration_actions.xaml" Name="configuration-actions.xml" />
                <File Id="configuration_states.xaml" Name="configuration-states.xml" />
              </Component>
            </Directory>
            
          </Directory>
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="Configuration" Level="0">
      <ComponentRef Id="Configuration" />
      <ComponentRef Id="Configuration.Language" />
      <ComponentRef Id="Configuration.Skin.default.screens" />
      <ComponentRef Id="Configuration.Skin.default.workflow" />
    </Feature>

  </Fragment>
</Wix>