<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="ConfigurationManager" Name="ConfigurationManager">

        <Component Id="ConfigurationManager" Guid="DCF93695-23D6-4FC5-B929-3EE007C47657">
          <File Id="ConfigurationManager.dll" Name="ConfigurationManager.dll" KeyPath="yes" Checksum="yes" />
          <File Id="ConfigurationManager.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="ConfigurationManager.Language" Name="Language">
          <Component Id="ConfigurationManager.Language" Guid="FA4C4DD1-7039-42AD-809C-07DC97EFDCA1">
            <File Id="ConfigurationManager.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="ConfigurationManager" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="ConfigurationManager" />
      <ComponentRef Id="ConfigurationManager.Language" />
    </Feature>

  </Fragment>
</Wix>