<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="MovieMetadataExtractor" Name="MovieMetadataExtractor">

        <Component Id="MovieMetadataExtractor" Guid="C40623D8-C7D4-4998-8D8C-B36A39068316">
          <File Id="MovieMetadataExtractor.dll" Name="MovieMetadataExtractor.dll" KeyPath="yes" Checksum="yes" />
          <File Id="MovieMetadataExtractor.plugin.xml" Name="plugin.xml" />

          <!-- todo: is duplicated MediaInfo.dll needed here? -->
          <File Id="MovieMetadataExtractor.MediaInfo.dll" Name="MediaInfo.dll" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="MovieMetadataExtractor" Level="0">
      <ComponentRef Id="MovieMetadataExtractor" />
    </Feature>

  </Fragment>
</Wix>