<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="PictureMetadataExtractor" Name="PictureMetadataExtractor">

        <Component Id="PictureMetadataExtractor" Guid="F1C0D146-A0F7-4D85-8088-14F051C001BB">
          <File Id="PictureMetadataExtractor.dll" Name="PictureMetadataExtractor.dll" KeyPath="yes" Checksum="yes" />
          <File Id="PictureMetadataExtractor.plugin.xml" Name="plugin.xml" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="PictureMetadataExtractor" Level="0">
      <ComponentRef Id="PictureMetadataExtractor" />
    </Feature>

  </Fragment>
</Wix>