<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="SkinBase" Name="SkinBase">

        <Component Id="SkinBase" Guid="6156775B-7D0D-44E9-8A8D-2AA2EAF9DB7B">
          <File Id="SkinBase.dll" Name="SkinBase.dll" KeyPath="yes" Checksum="yes" />
          <File Id="SkinBase.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="SkinBase.Language" Name="Language">
          <Component Id="SkinBase.Language" Guid="0251884E-1F5C-4FA3-9CB7-CC735E6319E8">
            <File Id="SkinBase.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

        <Directory Id="SkinBase.Resources" Name="Resources">
          <!-- todo: add skin files -->
        </Directory>

        <Directory Id="SkinBase.Skin" Name="Skin">
          <!-- todo: add skin files -->
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="SkinBase" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="SkinBase" />
      <ComponentRef Id="SkinBase.Language" />
    </Feature>

  </Fragment>
</Wix>