<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="SlimTv4HomeProvider" Name="SlimTv4HomeProvider">

        <Component Id="SlimTv4HomeProvider" Guid="23DE3332-3AA0-43B6-9872-5D886C8B7995">
          <File Id="SlimTv4HomeProvider.dll" Name="SlimTv4HomeProvider.dll" KeyPath="yes" Checksum="yes" />
          <File Id="SlimTv4HomeProvider.plugin.xml" Name="plugin.xml" />

          <!-- todo: slimtvinterfaces are available multiple times -->
          <File Id="SlimTvInterfaces.dll" Name="SlimTvInterfaces.dll" />
          <File Id="TV4Home.Server.TVEInteractionLibrary.Interfaces.dll" Name="TV4Home.Server.TVEInteractionLibrary.Interfaces.dll" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="SlimTv4HomeProvider" Level="0">
      <ComponentRef Id="SlimTv4HomeProvider" />
    </Feature>

  </Fragment>
</Wix>