<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="SlimTvClient" Name="SlimTvClient">

        <Component Id="SlimTvClient" Guid="09776A76-E71F-481B-854C-5967B16A42EE">
          <File Id="SlimTvClient.dll" Name="SlimTvClient.dll" KeyPath="yes" Checksum="yes" />
          <File Id="SlimTvClient.plugin.xml" Name="plugin.xml" />

          <!-- todo: slimtvinterfaces are available multiple times -->
          <File Id="SlimTvClient.SlimTvInterfaces.dll" Name="SlimTvInterfaces.dll" />
        </Component>

        <Directory Id="SlimTvClient.Language" Name="Language">
          <Component Id="SlimTvClient.Language" Guid="E8203860-6FCF-4392-BE46-4544FBA8CC7B">
            <File Id="SlimTvClient.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

        <Directory Id="SlimTvClient.Skin" Name="Skin">
          <!-- todo: add skin files -->
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="SlimTvClient" Level="0">
      <ComponentRef Id="SlimTvClient" />
      <ComponentRef Id="SlimTvClient.Language" />
    </Feature>

  </Fragment>
</Wix>