<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="VideoPlayers" Name="VideoPlayers">

        <Component Id="VideoPlayers" Guid="E9D1B02A-893E-4A1E-B765-2854899C1952">
          <File Id="VideoPlayers.dll" Name="VideoPlayers.dll" KeyPath="yes" Checksum="yes" />
          <File Id="VideoPlayers.plugin.xml" Name="plugin.xml" />

          <File Id="DirectShowLib_2005.dll" Name="DirectShowLib-2005.dll" />
          <File Id="EVRPresenter.dll" Name="EVRPresenter.dll" />
        </Component>

        <Directory Id="VideoPlayers.Language" Name="Language">
          <Component Id="VideoPlayers.Language" Guid="0C2EA03E-3070-4B23-9249-A5863C7FD950">
            <File Id="VideoPlayers.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="VideoPlayers" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="VideoPlayers" />
      <ComponentRef Id="VideoPlayers.Language" />
    </Feature>

  </Fragment>
</Wix>