<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="Weather" Name="Weather">

        <Component Id="Weather" Guid="44F9E4C0-E03B-4501-9AF1-4EA5AA8D9B97">
          <File Id="Weather.dll" Name="Weather.dll" KeyPath="yes" Checksum="yes" />
          <File Id="Weather.plugin.xml" Name="plugin.xml" />
        </Component>

        <Directory Id="Weather.Language" Name="Language">
          <Component Id="Weather.Language" Guid="F209045F-9CEA-4974-B0FE-B2CF1C90CF68">
            <File Id="Weather.strings_en.xml" Name="strings_en.xml" />
            <File Id="Weather.strings_de.xml" Name="strings_de.xml" />
          </Component>
        </Directory>

        <Directory Id="Weather.Skin" Name="Skin">
          <!-- todo: add skin files-->
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="Weather" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="Weather" />
      <ComponentRef Id="Weather.Language" />
    </Feature>

  </Fragment>
</Wix>