<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ClientPluginsFolder" FileSource="$(var.OutDirServer)\Plugins">
      <Directory Id="ZipMediaProvider" Name="ZipMediaProvider">

        <Component Id="ZipMediaProvider" Guid="4CA4D64C-B526-46AB-A120-771C476A4B6A">
          <File Id="ZipMediaProvider.dll" Name="ZipMediaProvider.dll" KeyPath="yes" Checksum="yes" />
          <File Id="ZipMediaProvider.plugin.xml" Name="plugin.xml" />

          <File Id="ICSharpCode.SharpZipLib.dll" Name="ICSharpCode.SharpZipLib.dll" />
        </Component>

        <Directory Id="ZipMediaProvider.Language" Name="Language">
          <Component Id="ZipMediaProvider.Language" Guid="BC6C47F9-979C-4259-ADD1-E95528603174">
            <File Id="ZipMediaProvider.strings_en.xml" Name="strings_en.xml" />
          </Component>
        </Directory>

      </Directory>
    </DirectoryRef>

    <Feature Id="ZipMediaProvider" Level="1"
             Absent="disallow" AllowAdvertise="no" Display="hidden">
      <ComponentRef Id="ZipMediaProvider" />
      <ComponentRef Id="ZipMediaProvider.Language" />
    </Feature>

  </Fragment>
</Wix>