<Plugin
    DescriptorVersion="1.0" 
    Name="RefreshRateChanger"
    PluginId="{EE2CCBD2-8ACC-418B-9219-3C24C3FFD801}"
    Author="Morpheus_xx"
    Copyright="GPL"
    AutoActivate="true"
    Description="The RefreshRateChanger plugin provides allows to change the display's refresh rate to match video playback.">
    
  <Version  
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>
    

  <Runtime>
    <Assembly FileName="RefreshRateChanger.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.RefreshRateChanger.VideoFpsWatcher"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/>    <!-- SkinEngine -->
  </DependsOn>
</Plugin>
