<Plugin
    DescriptorVersion="1.0" 
    Name="RefreshRateChanger"
    PluginId="{EE2CCBD2-8ACC-418B-9219-3C24C3FFD801}"
    Author="Morpheus_xx"
    Copyright="GPL"
    AutoActivate="true"
    Description="The RefreshRateChanger plugin provides allows to change the display's refresh rate to match video playback."
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="RefreshRateChanger.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.RefreshRateChanger.VideoFpsWatcher"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/>    <!-- SkinEngine -->
  </DependsOn>
</Plugin>
