<Plugin
    Version = "1.0"
    Name = "Login"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Login Plugin">

  <Runtime>
    <Assembly FileName = "Login.dll"/>
  </Runtime>

  <Register Location = "/Models">
    <Model Id="{82582433-FD64-41bd-9059-7F662DBDA713}" Name="LoginModel" ClassName = "Models.Login.LoginModel"/>
  </Register>
</Plugin>