<div g-controller="movieDetailsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{movieDetailed.Title}}</b>
            <!-- watched status -->
            <span class="glyphicon" ng:class="{true: 'glyphicon-eye-open', false: 'glyphicon-eye-close'}[movieDetailed.Watched]"></span>
            <span class="pull-right"><span class="ratings" ng:class="getStars(movieDetailed.Rating)"></span>{{movieDetailed.Rating}}</span>
        </div>
        <div class="panel-body">
            <div class="row movies">
                <div class="col-sm-3">
                    <img ng-src="{{getCovers(movieDetailed.Id)}}">
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="additional-stats">
                                <li class="stat"><span>Released</span>{{movieDetailed.Year}}</li>
                                <li class="stat allow-wrap"><span>Director</span><div class="list" ng-repeat="director in movieDetailed.Directors">{{director}}{{$index < movieDetailed.Directors.length-1 ? ", " : ""}}</div></li>
                                <li class="stat"><span>Language</span>{{movieDetailed.Language}}</li>
                                <li class="stat"><span>Runtime</span>{{movieDetailed.Runtime}} minutes</li>
                                <li class="stat"><span>Certification</span><div data-original-title="Mature Audiences<br><i>Ages 17+ Recommended</i>" class="certification" title="">R</div></li>
                                <li class="stat"><span>Genres</span><div class="list" ng-repeat="genre in movieDetailed.Genres">{{genre}}{{$index < movieDetailed.Genres.length-1 ? ", " : ""}}</div></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <span style="font-weight: 900;">Summary</span><br>
                            {{movieDetailed.Summary}}
                        </div>
                        <div class="col-sm-12">
                            <span style="font-weight: 900;">Actors</span><br>
                            <div class="list" ng-repeat="actor in movieDetailed.Actors">{{actor.Title}}{{$index < movieDetailed.Actors.length-1 ? ", " : ""}}</div>
                        </div>
                        <div class="col-sm-12">
                            <span style="font-weight: 900;">Writers</span><br>
                            <div class="list" ng-repeat="writer in movieDetailed.Writers">{{writer}}{{$index < movieDetailed.Writers.length-1 ? ", " : ""}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>