<Plugin
    DescriptorVersion="1.0"
    Name="LocalFsResourceProvider"
    PluginId="{54727A8A-1CD8-46d1-84C6-C5E6A4169D70}"
    Author="Albert"
    Copyright="GPL"
    Description="Local Filesystem Resource Provider"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="LocalFsResourceProvider.dll"/>
  </Runtime>

  <Register Location="/Media/ResourceProviders">
    <Instance Id="LocalFsProvider" ClassName="MediaPortal.Extensions.ResourceProviders.LocalFsResourceProvider.LocalFsResourceProvider"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="LocalFsResourceProviderLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>
