<Plugin
    DescriptorVersion="1.0"
    Name="BassPlayer"
    PluginId="{9886EB43-B3EB-4cf1-A979-8D4D8874C555}"
    Author="hwahrmann, Symphy, Albert"
    Copyright="GPL"
    Description="Bass Music Player"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="BassPlayer.dll"/>
    <PluginStateTracker ClassName="Ui.Players.BassPlayer.BassPlayerPlugin"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="1CBD4219-4ABD-4543-A3FE-37F6D7DDD78D" ClassName="Ui.Players.BassPlayer.BassPlayerPlugin"/>
  </Register>
</Plugin>