/*** COLORS ******************************************************************/
/*** FONTS *******************************************************************/
/*** ELEMENTS ****************************************************************/
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #141414;
  word-wrap: break-word;
  line-height: 1.27;
  font: 13px/1.231 'Open Sans', Helvetica, sans-serif;
  padding: 10px;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  color: #33608f;
  text-decoration: none;
}
hr {
  margin: 4px 0 2px;
  background-color: #c8dbe5;
  border: 0;
}
/*** SITE ********************************************************************/
header.site {
  width: 100%;
  height: 200px;
}
header.site .logobar {
  position: relative;
  background-color: #000;
  margin: 2px 1px;
}
header.site .logobar .logobar-bg {
  background: url(http://forum.team-mediaportal.com/templates/yoo_nano2/images/bg/logobar_middle.png) 100% no-repeat;
  height: 155px;
  overflow: hidden;
}
header.site .logobar .logobar-text {
  position: absolute;
  top: 45px;
  right: 110px;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
}
footer.site {
  width: 100%;
  height: 40px;
}
footer.site .package-stats {
  color: #205082;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
footer.site .separator {
  padding: 0 10px;
  color: #b8d0de;
}
footer.site .copyright {
  color: #205082;
}
/*** LAYOUT ******************************************************************/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.flex-container.shelf {
  flex-direction: row;
}
.flex-container.stack {
  flex-direction: column;
}
.flex-item {
  flex: 0 1 auto;
  align-self: auto;
}
.main > .flex-item {
  margin-right: 10px;
  margin-bottom: 10px;
}
.main > .flex-item:last-child {
  margin-right: 0;
}
.main > .flex-item.left {
  flex: 0 0 300px;
  background-color: #e8f0f5;
}
.main > .flex-item.left.collapsed {
  flex: 0 0 40px;
}
.main > .flex-item.center {
  flex: 2 1 200px;
}
.main > .flex-item.right {
  flex: 1 1 200px;
  background-color: #b8d0de;
  padding: 10px;
}
/*** PACKAGE FILTER **********************************************************/
#package-filter section {
  padding: 10px;
}
#package-filter section > h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #c8dbe5;
  padding: 8px;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 8px;
}
#package-filter .package-tags .flex-container {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: flex-start;
}
#package-filter .package-tags .flex-item {
  flex-grow: 0;
  padding: 2px 4px;
  margin: 4px;
  border: 1px solid #51779e;
  background-color: #9fc2d6;
}
#package-filter .package-tags .tag:hover {
  color: #ffffff;
  background-color: #51779e;
}
#package-filter .package-tags .tag.selected {
  color: #ffffff;
  background-color: #6792ab;
}
/*** PACKAGE LIST ************************************************************/
#package-list .package {
  background: #e8f0f5;
  padding: 10px;
  position: relative;
  font-size: 12px;
  max-height: 80px;
  margin-bottom: 10px;
}
#package-list .package.selected {
  background: #b8d0de;
}
#package-list .package:hover {
  background: #c8dbe5;
}
#package-list .package .flex-container {
  margin-left: 10px;
}
#package-list .package .flex-container.top {
  margin-bottom: 10px;
}
#package-list .package .flex-item {
  margin: 0;
  flex: 1 1 auto;
}
#package-list .package label {
  display: block;
  color: #666;
}
#package-list .package span {
  display: block;
  font-size: 18px;
}
#package-list .package .icon {
  flex: 0 0 80px;
  height: 80px;
  width: 80px;
  background: #ddd;
  display: inline-block;
}
#package-list .package .name {
  font-size: 28px;
  min-width: 200px;
  overflow: hidden;
  text-wrap: avoid;
  word-wrap: normal;
}
#package-list .package .rating {
  flex: 0 0 100px;
  min-width: 100px;
  text-align: right;
}
#package-list .package .downloads {
  min-width: 80px;
}
#package-list .package .version {
  min-width: 80px;
}
#package-list .package .released {
  min-width: 120px;
}
/*** PACKAGE DETAILS *********************************************************/
#package-details section {
  margin-top: 10px;
}
#package-details section:first-child {
  margin-top: 0;
}
#package-details section > header {
  padding: 0 4px 4px;
  border-bottom: 2px solid #e8f0f5;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 8px;
}
#package-details section > header h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#package-details section > header span {
  position: absolute;
  top: 4px;
  right: 20px;
  font-size: 20px;
}
#package-details section > .flex-container {
  padding: 0 4px;
  /*flex-wrap:wrap;
      align-items:flex-start;
      align-content:space-between;
      justify-content:flex-start;*/
}
#package-details section > .flex-container > .flex-item {
  /*flex-grow:0;*/
  /*padding:2px 4px;
        margin:4px;
        border:1px solid @bg-a8;*/
  /*background-color:@bg-a4;*/
}
#package-details .compatibility .api-version {
  display: block;
}
#package-details .compatibility .api-version .package-version {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  width: 40%;
  color: #33608f;
}
#package-details .compatibility .api-version .system-version {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: #6792ab;
}
#package-details .compatibility .api-version .system-version :nth-child(2) {
  color: #86b4cf;
  padding: 0 4px;
}
#package-details .history .history-graph {
  height: 30px;
}
#package-details .about .description {
  padding-bottom: 8px;
  border-bottom: 1px solid #b8d0de;
}
#package-details .about .authors {
  margin-top: 4px;
}
#package-details .reviews .review {
  padding-top: 4px;
  border-bottom: 1px solid #9fc2d6;
}
#package-details .reviews .review span {
  margin-right: 4px;
}
#package-details .reviews .review header {
  margin: 0 0 2px;
}
#package-details .reviews .review header .rating {
  float: right;
}
#package-details .reviews .review header .title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
#package-details .reviews .review .body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-left: 10px;
}
#package-details .reviews .review footer {
  margin: 0 0 4px;
  text-align: right;
  margin-top: 4px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
}
#package-details .reviews span.fa {
  padding-right: 4px;
  font-size: 16px;
}
/*****************************************************************************/
/*****************************************************************************/
/*# sourceMappingURL=proto.css.map */