/*** COLORS ******************************************************************/
/*** FONTS *******************************************************************/
/*** ELEMENTS ****************************************************************/
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #141414;
  word-wrap: break-word;
  line-height: 1.27;
  font: 13px/1.231 'Open Sans', Helvetica, sans-serif;
  padding: 10px;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  color: #33608f;
  text-decoration: none;
}
hr {
  margin: 4px 0 2px;
  background-color: #c8dbe5;
  border: 0;
}
/*** SITE ********************************************************************/
header.site {
  width: 100%;
  height: 200px;
}
header.site .logobar {
  position: relative;
  background-color: #000;
  margin: 2px 1px;
}
header.site .logobar .logobar-bg {
  background: url(http://forum.team-mediaportal.com/templates/yoo_nano2/images/bg/logobar_middle.png) 100% no-repeat;
  height: 155px;
  overflow: hidden;
}
header.site .logobar .logobar-text {
  position: absolute;
  top: 45px;
  right: 110px;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
}
footer.site {
  width: 100%;
  height: 40px;
}
footer.site .package-stats {
  color: #205082;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
footer.site .separator {
  padding: 0 10px;
  color: #b8d0de;
}
footer.site .copyright {
  color: #205082;
}
/*** LAYOUT ******************************************************************/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.flex-container.horizontal {
  flex-direction: row;
}
.flex-container.vertical {
  flex-direction: column;
}
.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.main > .flex-item {
  margin-right: 10px;
  margin-bottom: 10px;
}
.main > .flex-item:last-child {
  margin-right: 0;
}
/*** PACKAGE LIST ************************************************************/
.package-filter {
  flex: 0 0 300px;
  background-color: #e8f0f5;
}
.package-filter.collapsed {
  width: 50px;
}
.package-filter section {
  padding: 10px;
}
.package-filter section > h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #c8dbe5;
  padding: 8px;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 8px;
}
.package-filter .package-tags .flex-container {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: flex-start;
}
.package-filter .package-tags .flex-item {
  flex-grow: 0;
  padding: 2px 4px;
  margin: 4px;
  border: 1px solid #51779e;
  background-color: #9fc2d6;
}
.package-filter .package-tags .tag:hover {
  color: #ffffff;
  background-color: #51779e;
}
.package-filter .package-tags .tag.selected {
  color: #ffffff;
  background-color: #6792ab;
}
.package-list {
  flex: 2 1 200px;
}
.package-list #package-list .package {
  background: #e8f0f5;
  padding: 10px;
  position: relative;
  font-size: 12px;
  max-height: 80px;
  margin-bottom: 10px;
  /*<div class="name">{name}</div>
      <div class="downloads">{totalDownloadCount}</div>
      <div class="rating">{averageRating}</div>
      <div class="version">{currentRelease.version}</div>
      <div class="released">{currentRelease.released}</div>
      <div class="compatibility">{apiVersionsAvailable}</div>*/
}
.package-list #package-list .package.selected {
  background: #b8d0de;
}
.package-list #package-list .package:hover {
  background: #c8dbe5;
}
.package-list #package-list .package .flex-container {
  margin-left: 10px;
}
.package-list #package-list .package .flex-container.top {
  margin-bottom: 10px;
}
.package-list #package-list .package .flex-item {
  margin: 0;
}
.package-list #package-list .package label {
  display: block;
  color: #666;
}
.package-list #package-list .package span {
  display: block;
  font-size: 18px;
}
.package-list #package-list .package .flex-item {
  flex: 1 1 auto;
}
.package-list #package-list .package .icon {
  flex: 0 0 80px;
  height: 80px;
  width: 80px;
  background: #ddd;
  display: inline-block;
}
.package-list #package-list .package .name {
  font-size: 28px;
  min-width: 200px;
  overflow: hidden;
  text-wrap: avoid;
  word-wrap: normal;
}
.package-list #package-list .package .rating {
  flex: 0 0 100px;
  min-width: 100px;
  text-align: right;
}
.package-list #package-list .package .downloads {
  min-width: 80px;
}
.package-list #package-list .package .version {
  min-width: 80px;
}
.package-list #package-list .package .released {
  min-width: 120px;
}
.package-details {
  flex: 1 1 200px;
  background-color: #e8f0f5;
  padding: 10px;
}
/*****************************************************************************/
/*****************************************************************************/
/*# sourceMappingURL=proto.css.map */