
/*** COLORS ******************************************************************/
@bg-a1: #e8f0f5;
@bg-a2: #c8dbe5;
@bg-a3: #b8d0de;
@bg-a4: #9fc2d6;
@bg-a5: #86b4cf;
@bg-a6: #73a2bd;
@bg-a7: #6792ab;
@bg-a8: #51779e;
@bg-a9: #33608f;
@bg-a10: #205082;
@bg-a11: #1b4775;
@bg-a12: #0c3663;

@fg-1: #000;
@fg-2: #fff;
@fg-3: #cc2a41;
@fg-4: #e8caa4;

/*** FONTS *******************************************************************/

.font(@size, @weight, @style) {
  font-family:'Open Sans',Helvetica,sans-serif;
  font-size: @size;
  font-weight:@weight;
}  
.font(@size, @weightOrstyle) when (isnumber(@weightOrstyle)) {
  .font(@size, @weightOrstyle, 'normal');
}  
.font(@size, @weightOrstyle) when (istext(@weightOrstyle)) {
  .font(@size, 400, @weightOrstyle);
}  


/*** ELEMENTS ****************************************************************/

body {
  font-family:'Open Sans',Helvetica,sans-serif;
  color: rgb(20,20,20);
  word-wrap: break-word;
  line-height: 1.27;
  font: 13px/1.231 'Open Sans',Helvetica,sans-serif;
  padding:10px;
}
ul {
  list-style:none;
  li {
  }
}
a:link, a:visited {
  color:@bg-a9;
  text-decoration: none;
}
hr {
  margin:4px 0 2px;
  background-color:@bg-a2;
  border:0;
}

/*** SITE ********************************************************************/

header.site {
  width:100%;
  height:200px;

  .logobar {
    position:relative;
    //border-radius: 6px;
    background-color: #000;
    margin: 2px 1px;

    .logobar-bg {
      background: url(http://forum.team-mediaportal.com/templates/yoo_nano2/images/bg/logobar_middle.png) 100% no-repeat;
      height: 155px;
      overflow: hidden;
      //border-radius: 6px;
    }

    .logobar-text {
      position:absolute;
      top:45px;
      right:110px;
      font-size: 50px;
      font-weight:100;
      color:#fff;
    }
  }
}

footer.site {
  width:100%;
  height:40px;

  .package-stats {
    color:@bg-a10;
    justify-content:center;
    align-content:center;
    align-items:stretch;
  }

  .separator {
    padding:0 10px;
    color:@bg-a3;
  }
  .copyright {
    color:@bg-a10;
  }
}

/*** LAYOUT ******************************************************************/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.main > .flex-item {
  margin-right:10px;
  margin-bottom:10px;

  &:last-child {
    margin-right:0;
  }
}

/*** PACKAGE LIST ************************************************************/

.package-filter {
  flex:0 0 300px;
  background-color:@bg-a1;

  &.collapsed {
    width:50px;
  }

  section {
    padding:10px;
    > h1 {
      .font(20px, 400);
      background-color:@bg-a2;
      padding:8px;
      position:relative;
      left:0;
      right:0;
      margin-bottom:8px;
    }
  }

  .package-type {

  }

  .package-name {

  }

  .package-tags {
    .flex-container {
      flex-wrap:wrap;
      align-items:flex-start;
      align-content:space-between;
      justify-content:flex-start;
    }
    .flex-item {
      flex-grow:0;
      padding:2px 4px;
      margin:4px;
      border:1px solid @bg-a8;
      background-color:@bg-a4;
    }
    .tag {
      &:hover {
        color:@fg-2;
        background-color:@bg-a8;
      }
      &.selected {
        color:@fg-2;
        background-color:@bg-a7;
      }
    }
  }
}

.package-list {
  flex:2 1 200px;
  
  #package-list {
    .package {
      background:@bg-a1;
      padding:10px;
      position:relative;
      font-size:12px;
      max-height:80px;
      margin-bottom:10px;

      &.selected {
        background:@bg-a3;
      }
      &:hover {
        background:@bg-a2;
      }

      .flex-container {
        margin-left:10px;
        &.top {
          margin-bottom:10px;
        }
      }
      .flex-item {
        margin:0;
      }
      label {
        display:block;
        color:#666;
      }
      span {
        display:block;
        font-size:18px;
      }

      .flex-item {
        flex:1 1 auto;
      }
      
      .icon {
        flex:0 0 80px;
        height:80px;
        width:80px;
        background:#ddd;
        display:inline-block;
      }

      .name {
        font-size:28px;
        min-width:200px;
        overflow:hidden;
        text-wrap:avoid;
        word-wrap:normal;
      }
      .rating {
        flex:0 0 100px;
        min-width:100px;
        text-align:right;
      }

      .downloads {
        min-width:80px;
      }
      .version {
        min-width:80px;
      }
      .released {
        min-width:120px;
      }
      /*<div class="name">{name}</div>
      <div class="downloads">{totalDownloadCount}</div>
      <div class="rating">{averageRating}</div>
      <div class="version">{currentRelease.version}</div>
      <div class="released">{currentRelease.released}</div>
      <div class="compatibility">{apiVersionsAvailable}</div>*/
    }
  }
}

.package-details {
  flex:1 1 200px;
  background-color:@bg-a1;
  padding:10px;
}

/*****************************************************************************/


/*****************************************************************************/
