<Plugin
    DescriptorVersion="1.0" 
    Name="Media"
    PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Media Navigation Plugin"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"/> <!-- SkinBase -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="Media.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="4CDD601F-E280-43b9-AD0A-6D7B2403C856" Name="MediaModel" ClassName="UiComponents.Media.Models.MediaModel"/>
    <Model Id="4E2301B4-3C17-4a1d-8DE5-2CEA169A0256" Name="VideoPlayerModel" ClassName="UiComponents.Media.Models.VideoPlayerModel"/>
    <Model Id="D8998340-DA2D-42be-A29B-6D7A72AEA2DC" Name="AudioPlayerModel" ClassName="UiComponents.Media.Models.AudioPlayerModel"/>

    <Model Id="6455D863-CCF2-403d-8C36-754299B61319" Name="LocalMediaContributorModel" ClassName="UiComponents.Media.Actions.LocalMediaAction"/>
    <Model Id="D8922F2B-5B56-4218-93B1-570616BAAEAD" Name="MusicContributorModel" ClassName="UiComponents.Media.Actions.MusicAction"/>
    <Model Id="598F813D-D575-4229-A8E6-5ABCE0EDCDB8" Name="MoviesContributorModel" ClassName="UiComponents.Media.Actions.MoviesAction"/>
    <Model Id="7190C5BB-430E-48be-A6B2-C651A840C54A" Name="PicturesContributorModel" ClassName="UiComponents.Media.Actions.PicturesAction"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="MediaLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="MediaSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
