<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>-->
  <!--<castle>-->
  <components>
    <!-- This component is required to load plugins into SlimTv service, it will handle possible exceptions during plugin instantiation -->
    <component id="PluginExceptionInterceptor"
      service="Castle.DynamicProxy.IInterceptor, Castle.Core"
      type="Mediaportal.TV.Server.Plugins.Base.PluginExceptionInterceptor, Mediaportal.TV.Server.Plugins.Base"
      lifestyle="singleton"/>
  </components>
  <!--</castle>-->
</configuration>
