<Plugin
    DescriptorVersion="1.0"
    Name="PicturePlayer"
    PluginId="{50A8E101-B43C-4681-9259-2386A898CC5C}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Picture Player"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/> <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="PicturePlayer.dll"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="3BD29059-A2AC-4983-BDBA-D3080D1CA19D" ClassName="MediaPortal.UI.Players.Pictures.PicturePlayerPlugin"/>
  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="PicturePlayerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players">
    <ConfigSection
        Id="Pictures"
        Redundant="true"
        Text="[Settings.Players.Pictures]"/>
  </Register>

  <!-- Contents of '/Players/Pictures' section -->
  <Register Location="/Configuration/Settings/Players/Pictures">
    <ConfigSetting
        Id="SlideShowImageDuration"
        Text="[Settings.Players.Pictures.SlideShowImageDuration]"
        HelpText="[Settings.Players.Pictures.SlideShowImageDuration.Help]"
        ClassName="MediaPortal.UI.Players.Pictures.Settings.Configuration.SlideShowImageDuration"/>
  </Register>
</Plugin>