<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaPortal.Media.MediaProviders.Tve3MediaProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MediaPortal.Media.MediaProviders.Tve3MediaProvider.Properties.Settings>
            <setting name="Tve3MediaProvider_Tve3WebService_ServiceInterface"
                serializeAs="String">
                <value>http://127.0.0.1:8080/TvServiceWebServices.asmx</value>
            </setting>
        </MediaPortal.Media.MediaProviders.Tve3MediaProvider.Properties.Settings>
    </applicationSettings>
</configuration>