<Plugin
    DescriptorVersion="1.0"
    Name="Tve3MediaProvider"
    PluginId="{847373A1-3BF9-470e-B7FC-F962EAACE5F7}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="TVE3 WebServices Media Provider"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="Tve3MediaProvider.dll"/>
  </Runtime>

  <Register Location="/Media/MediaProviders">
    <Instance Id="Tve3Provider" ClassName="MediaPortal.Media.MediaProviders.Tve3MediaProvider.Tve3MediaProvider"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="Tve3MediaProviderLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>
