<Plugin
    DescriptorVersion="1.0"
    Name="SkinHelper"
    PluginId="{8A3E438C-2304-4119-BF3A-0EB8A287B59C}"
    Author="Albert"
    Copyright="GPL"
    AutoActivate="true" 
    Description="Provides several helper functions for skinners">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SkinHelper.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Helpers.SkinHelper.PluginStateTracker"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="1C27C172-AD96-45A5-9E72-736E6D4B1ED5" Name="ThemeColorsModel" ClassName="MediaPortal.Helpers.SkinHelper.Models.ThemeColorsModel"/>
    <Model Id="68E0A3EE-56BD-45E0-BACC-F614C278B4CD" Name="LoadSkinThemeModel" ClassName="MediaPortal.Helpers.SkinHelper.Models.LoadSkinThemeModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <!-- Shows all color resources defined by the theme -->
    <WorkflowState Id="77E6F7F5-B94B-4015-B0F6-8EC1A915BE42"
        Name="ShowThemeColors"
        DisplayLabel="[SkinHelper.ThemeColorsWorkflowNavigationContextDisplayLabel]"
        MainScreen="ShowThemeColors"
        WorkflowModel="1C27C172-AD96-45A5-9E72-736E6D4B1ED5"/> <!-- Theme colors model -->
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="SkinHelperLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SkinHelperSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
