<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="bcccb3b9-2ac9-4cef-81d7-c0b0520bc521"
           Name="MediaPortal 2"
           Version="2.0.0.0"
           Language="1033"
           Manufacturer="Team MediaPortal"
           UpgradeCode="df866d75-870b-488a-835a-4edfdcd70c7b">

    <Package Id='*'
             Keywords='Installer'
             Description='MediaPortal 2 Installer'
             InstallerVersion='200'
             Languages='1033'
             Compressed='yes' />

    <?Include .\Includes.wxi?>

    <!--
    Source media for the installation.
    Specifies a single cab file to be embedded in the installer's .msi.
    -->
    <Media Id="1" Cabinet="MediaPortal2.cab" EmbedCab="yes" CompressionLevel="high" />

    <!--
    Support entries shown when clicking "Click here for support information"
    in Control Panel's Add/Remove Programs
    http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/configuration_properties.asp
    -->
    <Property Id="ARPCONTACT">
      http://www.team-mediaportal.com/contact-us-at-mediaportal
    </Property>
    <Property Id="ARPHELPLINK">
      http://wiki.team-mediaportal.com/
    </Property>
    <Property Id="ARPURLINFOABOUT">
      http://www.team-mediaportal.com/about-the-project/behind-the-project
    </Property>
    <Property Id="ARPURLUPDATEINFO">
      http://www.team-mediaportal.com/
    </Property>
    <!-- Puts MediaPortal icon in Control Panel's Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON">MediaPortalIcon</Property>
    <Icon Id="MediaPortalIcon" SourceFile="Ressources\MediaPortal.ico" />

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="TeamMediaPortalFolder" Name="Team MediaPortal">
          <Directory Id="INSTALLDIR_CLIENT" Name="MP2-Client" />
          <Directory Id="INSTALLDIR_SERVER" Name="MP2-Server" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MP2StartMenu" Name="MediaPortal 2" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
    
    <!-- Shortcuts -->
    <DirectoryRef Id="MP2StartMenu">
      <Component Id="MP2StartMenu" Guid="DB88BD5D-BD35-402E-ABD5-A8EBB1F0FA42">
        <Shortcut Id="MP2Uninstall.StartMenu.Shortcut"
                  Name="Uninstall MediaPortal 2"
                  Description="Uninstalls MediaPortal 2 description"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <!-- todo: why is $(var.RegKeyInstall) not working here? -->
        <RegistryValue Root="HKCU"
                       Key="Software\Team MediaPortal\MediaPortal 2\Install"
                       Name="MP2StartMenu"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="Remove.MP2StartMenu"
                      On="uninstall" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="MediaPortal_2"
             Level="1"
             AllowAdvertise="no"
             Display="expand"
             Title="MediaPortal 2"
             Description="MediaPortal 2 description">
      <FeatureRef Id="MP2Client" />
      <FeatureRef Id="MP2Server" />
      <ComponentRef Id="MP2StartMenu" />
    </Feature>

    <!-- User Interface -->
    <WixVariable Id="WixUILicenseRtf"
                 Value="$(var.SolutionDir)..\Bin\MP2-Client\bin\x86\Release\Docs\MediaPortal License.rtf" />
    <WixVariable Id="WixUIBannerBmp"
                 Value="Ressources\MPBanner.jpg" />
    <WixVariable Id="WixUIDialogBmp"
                 Value="Ressources\MPDialog.jpg" />

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>