<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <?include Includes.wxi?>

  <Package Name="$(var.Product)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" Language="!(loc.ProductLanguage)" Codepage="0" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="405" Scope="perMachine">
    <SummaryInformation Keywords="Installer" Description="MediaPortal 2 Installer" Codepage="!(loc.SummaryCodepage)" />

    <PropertyRef Id="UpgradesFile" />

    <PropertyRef Id="PropertiesFile" />
    <PropertyRef Id="AddRemovePropertiesFile" />
    <PropertyRef Id="LaunchConditionsFile" />

    <!--
    Source media for the installation.
    Specifies a single cab file to be embedded in the installer's .msi.
    -->
    <Media Id="1" Cabinet="MediaPortal2.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="MediaPortal2Icon" SourceFile="Resources\MP2_Icon_General.ico" />

    <!-- Directories -->


    <!-- Shortcuts -->
    <DirectoryRef Id="TeamMediaPortal.StartMenu">
      <Component Id="TeamMediaPortal.StartMenu" Guid="EBCECF2A-3330-11E1-BB19-75D94724019B">
        <RegistryValue Root="HKCU" Key="$(var.RegKeyInstall)" Name="TeamMediaPortal.StartMenu" Type="string" Value="1" KeyPath="yes" />
        <RemoveFolder Id="Remove.TeamMediaPortal.StartMenu" On="uninstall" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="MP2.StartMenu">
      <Component Id="MP2.StartMenu" Guid="DB88BD5D-BD35-402E-ABD5-A8EBB1F0FA42">
        <RegistryValue Root="HKCU" Key="$(var.RegKeyInstall)" Name="MP2.StartMenu" Type="string" Value="1" KeyPath="yes" />
        <RemoveFolder Id="Remove.MP2.StartMenu" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="MediaPortal_2" Level="1" AllowAdvertise="no" Display="expand" Title="!(loc.F_MediaPortal)" Description="!(loc.F_MediaPortal_Desc)" AllowAbsent="no">
      <FeatureRef Id="Client" />
      <FeatureRef Id="Server" />
      <FeatureRef Id="ServiceMonitor" />
      <FeatureRef Id="LogCollector" />

      <ComponentRef Id="Product.Registry.InstallDir" />
      <ComponentRef Id="Product.Registry.PersistedShortcutProperties" />
      <ComponentRef Id="TeamMediaPortal.Data.Folder" />
      <ComponentRef Id="TeamMediaPortal.StartMenu" />
      <ComponentRef Id="MP2.StartMenu" />
    </Feature>

    <!-- User Interface -->
    <!--Remove this when the MP2 bootstrapper app is finished-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.MediaPortal.Client.TargetDir)\Docs\MediaPortal License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\MPBanner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\MPDialog.jpg" />

    <ui:WixUI Id="MP2_Setup_UI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <InstallUISequence>

      <!--<Custom Action="ReadCustomPathsFromExistingPathsFile" Before="CostFinalize" Condition="NOT Installed" />-->

    </InstallUISequence>

    <InstallExecuteSequence>
      <!-- Stop all MP2 processes -->
      <!--<Custom Action="StopProcesses" Before="ReadCustomPathsFromExistingPathsFile" />-->

      <!-- Reads custom paths which maybe have been changed by the user in a former installation -->
      <!--<Custom Action="ReadCustomPathsFromExistingPathsFile" Before="PrepareXmlPathVariables" Condition="(NOT Installed) AND (INSTALLTYPE_CUSTOM = 0)" />-->

      <!--<Custom Action="PrepareXmlPathVariables" Before="FileCost" Condition="NOT Installed" />-->
      <!--<Custom Action="AttachClientToServer" After="InstallFinalize" Condition="NOT Installed" />-->

      <InstallExecute After="RemoveExistingProducts" />
    </InstallExecuteSequence>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="You cannot downgrade to [ProductName]" Schedule="afterInstallInitialize" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLDIR" Name="$(var.Manufacturer)">
        <Component Id="Product.Registry.InstallDir" Guid="463A7F64-BFB8-4BE1-85F4-D98724884FAF">
          <RegistryKey Root="HKLM" Key="$(var.RegKeyRoot)">
            <RegistryValue Type="string" Name="INSTALLDIR" Value="[INSTALLDIR]" />
          </RegistryKey>
        </Component>
      </Directory>

    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="TeamMediaPortal.Data.Folder" Name="$(var.Manufacturer)">
        <Component Id="TeamMediaPortal.Data.Folder" Guid="F681F96B-A41D-435B-A091-C9BF42179FB5">
          <CreateFolder>
            <util:PermissionEx User="Users" GenericAll="yes" />
          </CreateFolder>
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="TeamMediaPortal.StartMenu" Name="$(var.Manufacturer)">
        <Directory Id="MP2.StartMenu" Name="$(var.Product)" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
  </Package>
</Wix>
