<Plugin
    DescriptorVersion="1.0" 
    Name="AspNetServer"
    PluginId="{F2F6988F-C436-4D74-9819-3947E0DD6974}"
    Author="MJGraf"
    Copyright="GPL"
    AutoActivate="true"
    Description="Provides an ASP.NET server">

  <Version
    PluginVersion="0.06"
    ReleaseDate="2015-12-13 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <!-- NfoMetadataExtractors - this is a workaround to have Newtonsoft.Json.dll loaded -->
    <!-- We need to make Newtonsoft.Json.dll a separate plugin and reference it here -->
    <PluginReference PluginId="{2505C495-28AA-4D1C-BDEE-CA4A3A89B0D5}" CompatibleAPI="1"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName="AspNetServer.dll"/>
  </Runtime>

  <Register Location="/Services">
    <Service Id="AspNetServerService" RegistrationClassName="MediaPortal.Plugins.AspNetServer.IAspNetServerService"
        ServiceClassName="MediaPortal.Plugins.AspNetServer.AspNetServerService"/>
  </Register>
</Plugin>
