<Plugin
    Version = "1.0"
    Name = "ExtensionUpdater"
    Author = "Dukus"
    Copyright = "GPL"
    AutoActivate = "true" 
    Description = "MediaPortal Extension Updater plugin"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "ExtensionUpdater.dll"/>
    <PluginStateTracker ClassName = "Components.ExtensionUpdater.ExtensionUpdater"/>
  </Runtime>
</Plugin>