<Plugin
    Version = "1.0"
    Name = "Settings"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Settings Plugin">

  <Runtime>
    <Assembly FileName = "Settings.dll"/>
  </Runtime>

  <Register Location = "/Models/Settings">
    <Instance Id = "General" ClassName = "Models.Settings.General"/>
	  <Instance Id = "Appearance" ClassName = "Models.Settings.Appearance"/>
		<Instance Id = "Language" ClassName = "Models.Settings.Language"/>
		<Instance Id = "ScreenSettings" ClassName = "Models.Settings.ScreenSettings"/>
		<Instance Id = "RefreshrateSettings" ClassName = "Models.Settings.RefreshrateSettings"/>
	  <Instance Id = "MusicSettings" ClassName = "Models.Settings.MusicSettings"/>
    <Instance Id = "VideoSettings" ClassName = "Models.Settings.VideoSettings"/>
  </Register>
</Plugin>