<Plugin
    DescriptorVersion="1.0"
    Name="BDHandler"
    PluginId="{7C75B1E0-B977-4349-ACC2-C4B9B7EE20F1}"
    Author="ArmandP, Morpheus_xx"
    Copyright="GPL"
    Description="BDHandler">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}" CompatibleAPI="1"/> <!-- VideoPlayers -->
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration Model -->
    <PluginReference PluginId="{FE6076A1-8C38-416C-8129-A80942FCFB68}" CompatibleAPI="2"/> <!-- BluRayMetadataExtractor -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="BDHandler.dll"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="0870D735-B339-4afa-8D8C-6E2C923A70C9" ClassName="MediaPortal.UI.Players.Video.BDPlayerBuilder"/>
  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="BDHandlerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players">
    <ConfigSection
        Id="Codecs"
        Redundant="true"
        Text="[Settings.Players.Codecs]"/>
  </Register>

  <!-- Contents of '/Players/Codecs' section -->
  <Register Location="/Configuration/Settings/Players/Codecs">
    <ConfigGroup
        Id="VideoCodecs"
        Redundant="true"
        Text="[Settings.Players.Codecs.VideoCodecs]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/Codecs">
    <ConfigGroup
        Id="SourceFilters"
        Redundant="true"
        Text="[Settings.Players.Codecs.SourceFilters]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/Codecs/SourceFilters">
    <ConfigSetting
        Id="BluRaySourceFilter"
        Text="[Settings.Players.Codecs.VideoCodecs.BDSourceFilter]"
        HelpText="[Settings.Players.Codecs.VideoCodecs.BDSourceFilter.Help]"
        ClassName="MediaPortal.Plugins.BDHandler.Settings.Configuration.BDSourceFilterConfig"/>
  </Register>

</Plugin>
