<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

    <?include ..\..\Includes.wxi?>

    <!-- Icon -->
    <Icon Id="SetupTV35" SourceFile="$(var.SlimTv.Service35.TargetDir)\SetupTV.ico" />

    <!-- Shortcuts -->
    <DirectoryRef Id="MP2.StartMenu">
      <Component Id="SetupTV35.StartMenu.Shortcut" Guid="AE904E73-A984-49CB-98C8-1DFF5F9E76DE" Condition="STARTMENUSHORTCUTS = 1">
        
        <Shortcut Id="SetupTV35.StartMenu.Shortcut" Name="MediaPortal 2 TV Configuration" Target="[SERVER_PLUGINS_FOLDER]\SlimTv.Service35\SetupTV.exe" Icon="SetupTV35" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU" Key="$(var.RegKeyInstall)" Name="SetupTV35.StartMenu.Shortcut" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="SetupTV35.Desktop.Shortcut" Guid="D63564A4-7C9F-411F-979E-ED7E3B4E484F" Condition="DESKTOPSHORTCUTS = 1">
        
        <Shortcut Id="SetupTV35.Desktop.Shortcut" Name="MediaPortal 2 TV Configuration" Target="[SERVER_PLUGINS_FOLDER]\SlimTv.Service35\SetupTV.exe" Icon="SetupTV35" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU" Key="$(var.RegKeyInstall)" Name="SetupTV35.Desktop.Shortcut" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <!-- Defines the TVE3.5 feature level. If TVE3 is excluded then set to 1 so that TVE3.5 is selected by default, else 2 so that TVE3 is selected by default -->
    <?if $(IsNetCore) ~= "true" ?>
      <?define Service35FeatureLevel = 1 ?>
    <?else?>
      <?define Service35FeatureLevel = 2 ?>
    <?endif?>

    <!-- Feature -->
    <!-- Set install level to 2 to prevent installation by default -->
    <Feature Id="SlimTv.Service35" Level="$(var.Service35FeatureLevel)" AllowAdvertise="no" Title="!(loc.F_SlimTvService35)" Description="!(loc.F_SlimTvService35_Desc)">

      <ComponentRef Id="SetupTV35.StartMenu.Shortcut" />
      <ComponentRef Id="SetupTV35.Desktop.Shortcut" />

      <ComponentGroupRef Id="SlimTv.Service35.Heat" />
    </Feature>
    
	</Fragment>
</Wix>
