<Plugin
    Version = "1.0"
    Name = "Extensions"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Plugins, that installs MediaPortal Extensions"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Extensions.dll"/>
  </Runtime>

  <Register Location = "/Models/MyExtensions">
    <Instance Id = "Model" ClassName = "Models.Extensions.Model"/>
  </Register>
</Plugin>