<Plugin
    DescriptorVersion="1.0" 
    Name="MP2Web"
    PluginId="{f1c8ce41-d5bf-4f07-8acb-6c70272595c9}"
    Author="FreakyJ"
    Copyright="GPL"
    AutoActivate="true"
    Description="MP2 Webinterface">

  <Version
    PluginVersion="0.01"
    ReleaseDate="2015-12-27 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <PluginReference PluginId="{843291BB-CD86-4DCA-A6D9-2D89BA4B113A}" CompatibleAPI="1"/> <!-- AspNetWebApi -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="MP2Web.dll"/>
  </Runtime>

  <Register Location="/Services">
    <Service Id="MP2WebService" RegistrationClassName="MediaPortal.Plugins.MP2Web.MP2WebService"
        ServiceClassName="MediaPortal.Plugins.MP2Web.MP2WebService"/>
  </Register>
</Plugin>
