<Plugin
    DescriptorVersion="1.0"
    Name="AudioCDResourceProvider"
    PluginId="{87316CE6-904A-48D3-90F0-BBEF3E9D007C}"
    Author="Albert"
    Copyright="GPL"
    Description="Audio CD Resource Provider">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}" CompatibleAPI="1"/> <!-- BassLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="AudioCDResourceProvider.dll"/>
  </Runtime>

  <Register Location="/ResourceProviders">
    <Instance Id="AudioCDProvider" ClassName="MediaPortal.Extensions.ResourceProviders.AudioCDResourceProvider.AudioCDResourceProvider"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="AudioCDResourceProviderLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>
