<Plugin
    Version = "1.0"
    Name = "ImporterManager"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Importer Manager"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Services.ImporterManager.dll"/>
    <PluginStateTracker ClassName= "Components.Services.Importers.ImporterManager"/>
  </Runtime>

  <Builder Name = "Importer" ClassName = "Components.Services.Importers.ImporterBuilder"/>

  <Register Location = "/Services">
    <Instance Id = "IImporterManager" ClassName = "Components.Services.Importers.ImporterManager"/>
  </Register>
</Plugin>