<Plugin
    DescriptorVersion="1.0"
    Name="Server Settings Plugin"
    PluginId="{4A5273F8-5C5C-42AD-AA3C-CB326246BDC1}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Provides services for remote configuration of server settings"
    AutoActivate="true">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <CoreDependency Name="UPnP" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="ServerSettings.Interfaces.dll"/>
    <Assembly FileName="ServerSettings.Service.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.ServerSettings.ServerSettingsPlugin"/>
  </Runtime>

</Plugin>

