<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaPortal.DVBSub" version="1.7.1" targetFramework="net451" />
  <package id="MediaPortal.TsReader" version="3.0.83.1" targetFramework="net451" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net451" />
  <package id="xy-VSFilter" version="3.0.0.211" targetFramework="net451" />
</packages>