<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaPortal.CCCP" version="3.0.0.1" targetFramework="net451" />
  <package id="MediaPortal.DVBSub" version="1.16.1" targetFramework="net451" />
  <package id="MediaPortal.MpcSubs" version="1.0.0.0" targetFramework="net451" />
  <package id="MediaPortal.TsReader" version="4.2.2.34" targetFramework="net451" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net451" />
</packages>