<Plugin
    DescriptorVersion="1.0"
    Name="DefaultVideoPlayers"
    PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"
    Author="Frodo, Albert, Morpheus_xx"
    Copyright="GPL"
    Description="This plugin contains default players for several video formats and DVD">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="VideoPlayers.dll"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="47924D05-C8B6-4a75-8EFE-8A9CD73AA518" ClassName="MediaPortal.UI.Players.Video.VideoPlayerBuilder"/>
  </Register>

  <!-- Registration of the player builder for VideoPlayerMimeTypeMapping items -->
  <Builder Name="VideoPlayerMimeTypeMapping" ClassName="MediaPortal.UI.Players.Video.VideoPlayerMimeTypeMappingBuilder"/>

  <Register Location="/VideoPlayers/MimeTypeRegistrations">
    <!-- Try to play all unknown video types by default video player -->
    <VideoPlayerMimeTypeMapping Id="unknown" ClassName="MediaPortal.UI.Players.Video.VideoPlayer" MimeType="video/unknown"/>
    <VideoPlayerMimeTypeMapping Id="wmv" ClassName="MediaPortal.UI.Players.Video.VideoPlayer" MimeType="video/x-ms-wmv"/>
    <VideoPlayerMimeTypeMapping Id="ts" ClassName="MediaPortal.UI.Players.Video.TsVideoPlayer" MimeType="video/mp2t"/>
    <VideoPlayerMimeTypeMapping Id="dvd" ClassName="MediaPortal.UI.Players.Video.DvdPlayer" MimeType="video/dvd"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="VideoPlayersLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players/">
    <ConfigSection
        Id="VideoPlayer"
        Redundant="true"
        Text="[Settings.Players.VideoPlayer]"/>
  </Register>

  <!-- Contents of '/Players/VideoPlayer/Codecs' section -->
  <Register Location="/Configuration/Settings/Players/VideoPlayer">
    <ConfigSection
        Id="Codecs"
        Redundant="true"
        Text="[Settings.Players.Codecs]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs">
    <ConfigSection
        Id="VideoCodecs"
        Redundant="true"
        Text="[Settings.Players.Codecs.VideoCodecs]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs/VideoCodecs">
    <ConfigSetting
        Id="VideoMPEG2Codec"
        Text="[Settings.Players.Codecs.VideoCodecs.MPEG2]"
        HelpText="[Settings.Players.Codecs.VideoCodecs.MPEG2.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.VideoMPEG2Codec"/>
    <ConfigSetting
        Id="VideoMPEG4Codec"
        Text="[Settings.Players.Codecs.VideoCodecs.MPEG4]"
        HelpText="[Settings.Players.Codecs.VideoCodecs.MPEG4.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.VideoMPEG4Codec"/>
    <ConfigSetting
        Id="VideoAVCCodec"
        Text="[Settings.Players.Codecs.VideoCodecs.AVC]"
        HelpText="[Settings.Players.Codecs.VideoCodecs.AVC.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.VideoAVCCodec"/>
    <ConfigSetting
        Id="VideoHEVCCodec"
        Text="[Settings.Players.Codecs.VideoCodecs.HEVC]"
        HelpText="[Settings.Players.Codecs.VideoCodecs.HEVC.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.VideoHEVCCodec"/>
    <ConfigSetting
            Id="Splitter"
            Text="[Settings.Players.Codecs.VideoCodecs.Splitter]"
            HelpText="[Settings.Players.Codecs.VideoCodecs.Splitter.Help]"
            ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.Splitter"/>
  </Register>

  <!-- Contents of '/Players/Codecs' section -->
  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs">
    <ConfigSection
        Id="AudioCodecs"
        Redundant="true"
        Text="[Settings.Players.Codecs.AudioCodecs]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs/AudioCodecs">
    <ConfigSetting
        Id="AudioCodec"
        Text="[Settings.Players.Codecs.AudioCodecs.AudioCodec]"
        HelpText="[Settings.Players.Codecs.AudioCodecs.AudioCodec.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.AudioCodec"/>
    <ConfigSetting
        Id="AudioCodecLATMAAC"
        Text="[Settings.Players.Codecs.AudioCodecs.AudioCodecLATMAAC]"
        HelpText="[Settings.Players.Codecs.AudioCodecs.AudioCodecLATMAAC.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.AudioCodecLATMAAC"/>
    <ConfigSetting
        Id="AudioCodecAAC"
        Text="[Settings.Players.Codecs.AudioCodecs.AudioCodecAAC]"
        HelpText="[Settings.Players.Codecs.AudioCodecs.AudioCodecAAC.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.AudioCodecAAC"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs">
    <ConfigSection
        Id="AudioRenderer"
        Redundant="true"
        Text="[Settings.Players.Codecs.AudioRenderer]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer/Codecs/AudioRenderer">
    <ConfigSetting
        Id="AudioRenderer"
        Text="[Settings.Players.Codecs.AudioCodecs.AudioRenderer]"
        HelpText="[Settings.Players.Codecs.AudioCodecs.AudioRenderer.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.AudioRenderer"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/VideoPlayer">
    <ConfigSetting
        Id="PreferMultiChannelAudio"
        Text="[Settings.Players.VideoPlayer.PreferMultiChannelAudio]"
        HelpText="[Settings.Players.VideoPlayer.PreferMultiChannelAudio.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.AudioPreferMultiChannel"/>
    <ConfigSetting
        Id="EnableClosedCaptions"
        Text="[Settings.Players.DVDPlayer.EnableClosedCaption]"
        HelpText="[Settings.Players.DVDPlayer.EnableClosedCaption.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.ClosedCaptions"/>
    <ConfigSetting
        Id="EnableSubtitles"
        Text="[Settings.Players.DVDPlayer.EnableSubtitles]"
        HelpText="[Settings.Players.DVDPlayer.EnableSubtitles.Help]"
        ClassName="MediaPortal.UI.Players.Video.Settings.Configuration.Subtitles"/>
  </Register>

</Plugin>
