<Plugin
    DescriptorVersion="1.0"
    Name="SlimTv Service Plugin (TVE3.5)"
    PluginId="{14E7757A-F7D7-4F61-933B-91E948083A11}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Provides TV service with integrated TV Engine 3.5"
    AutoActivate="true">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <CoreDependency Name="UPnP" CompatibleAPI="1" />
  </DependsOn>

  <ConflictsWith>
    <PluginReference PluginId="{796C1294-38BA-4C9C-8E56-AA299558A59B}"/> <!-- SlimTv Service Plugin (TVE3.0) -->
  </ConflictsWith>

  <Runtime>
    <Assembly FileName="SlimTv.Service35.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.SlimTv.Service.SlimTvServicePlugin"/>
  </Runtime>
</Plugin>

