<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net451" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net451" />
  <package id="jQuery.UI.Themes.Smoothnes" version="1.11.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="OnlineVideos.Core" version="2.1.0.0" targetFramework="net451" />
</packages>