<Plugin
    DescriptorVersion="1.0" 
    Name="MP2Extended"
    PluginId="{397CD2C0-27CE-422E-A839-53E9E6824CAA}"
    Author="FreakyJ"
    Copyright="GPL"
    AutoActivate="true"
    Description="This Plugin brings the MPExtended API from MP1 to MP2">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2015-07-14 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <CoreDependency Name="HttpServer" CompatibleAPI="1" />
    <PluginReference PluginId="{AC708DE3-2E9B-4EFA-BB2F-8DD9456F2FF8}" CompatibleAPI="1"/>
    <!-- Transcoding Service -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="MP2Extended.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.MP2Extended.MP2Extended"/>
  </Runtime>

</Plugin>
