<Plugin
    DescriptorVersion="1.0" 
    Name="SlimTvClient"
    PluginId="{63040BB4-4638-49b7-A82F-F4530D4D43B9}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="The SlimTvClient plugin provides the GUI and Player for basic TV capabilities.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="SlimTv.Interfaces.dll"/>
    <Assembly FileName="SlimTv.Client.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.SlimTv.Client.SlimTvClientPlugin"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}" CompatibleAPI="2"/> <!-- Media -->
    <PluginReference PluginId="{89F8DD04-1CD5-4F78-8105-6979157E8936}" CompatibleAPI="2"/> <!-- Tve3RecordingMetadataExtractor -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}" CompatibleAPI="1"/> <!-- VideoPlayers -->
  </DependsOn>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="87B0BEAD-9345-47d6-83F8-A42A752CB6E1" ClassName="MediaPortal.Plugins.SlimTv.Client.Player.SlimTvPlayerBuilder" Priority="100" />
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="C7646667-5E63-48c7-A490-A58AC9518CFA"
        Name="SlimTvClientMain" 
        MainScreen="SlimTvClient-main"
        DisplayLabel="[SlimTvClient.Main]"
        WorkflowModel="8BEC1372-1C76-484c-8A69-C7F3103708EC"/> <!-- Workflow model = SlimTvClient Model -->

    <WorkflowState Id="A40F05BB-022E-4247-8BEE-16EB3E0B39C5"
      Name="SlimTvClientSingleChannelGuide"
      MainScreen="SlimTvClient-guide"
      DisplayLabel="[SlimTvClient.SingleChannelGuide]"
      WorkflowModel="74F50A53-BEF7-415c-A240-2EC718DA8C0F"/>   <!-- Workflow model = SlimTvSingleChannelGuide Model -->

    <WorkflowState Id="7323BEB9-F7B0-48c8-80FF-8B59A4DB5385"
      Name="SlimTvClientMultiChannelGuide"
      MainScreen="SlimTvClient-fullguide"
      DisplayLabel="[SlimTvClient.TvGuide]"
      WorkflowModel="5054408D-C2A9-451f-A702-E84AFCD29C10"/>   <!-- Workflow model = SlimTvMultiChannelGuide Model -->

    <WorkflowState Id="3C6081CB-88DC-44A7-9E17-8D7BFE006EE5"
      Name="SlimTvClientExtSchedule"
      MainScreen="SlimTvClient-extschedule"
      DisplayLabel="[SlimTvClient.ExtendedSchedule]"
      WorkflowModel="EB9CB370-9CD6-4D72-8354-73E446104438"/>   <!-- Workflow model = SlimTvExtSchedule Model -->

    <WorkflowState Id="CB5D4851-27D2-4222-B6A0-703EDC2071B5"
      Name="SlimTvClientProgramSearch"
      MainScreen="SlimTvClient-programsearch"
      DisplayLabel="[SlimTvClient.ProgramSearch]"
      WorkflowModel="71F1D594-21BF-4639-9F8A-3CE8D8170333"/>   <!-- Workflow model = SlimTvProgramSearch Model -->

    <WorkflowState Id="88842E97-2EF9-4658-AD35-8D74E3C689A4"
      Name="SlimTvClientScheduleList"
      MainScreen="SlimTvClient-schedulelist"
      DisplayLabel="[SlimTvClient.ScheduleManagement]"
      WorkflowModel="7610403A-4488-47A4-8C27-FD1FE833E52B"/>   <!-- Workflow model = SlimTvScheduleManagement Model -->

    <WorkflowState Id="9D5B01A7-035F-46CF-8246-3C158C6CA960"
      Name="RecordingsNavigation-Root"
      DisplayLabel="[SlimTvClient.RecordingsMenuItem]"
      WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/>   <!-- Workflow model = Media model -->

  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="SlimTvClientLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- MediaAspects for recordings views -->
  <!-- Morpheus_xx, 2014-07-07: Thumbnails are now loaded via FanArtImageSource on demand
  <Register Location="/Media/SkinSettings/default/default/Recordings/OptionalMIATypes">
    <MIATypeRegistration Id="ThumbnailSmallAspect" MediaItemAspectTypeId="A61846E9-0910-499D-9868-A1FABCE7CCFD"/>
    <MIATypeRegistration Id="ThumbnailLargeAspect" MediaItemAspectTypeId="1FDA5774-9AC5-4873-926C-E84E3C36A966"/>
  </Register>
  -->

  <!-- Registration of the SlimTv extension builder for SlimTvProgramExtension items -->
  <Builder Name="SlimTvExtensionBuilder" ClassName="MediaPortal.Plugins.SlimTv.Interfaces.Extensions.SlimTvExtensionBuilder"/>
  <Register Location="/SlimTv/Extensions">
    <SlimTvExtensionBuilder Id="{197B0299-B411-4FC7-BA96-765371C77B3B}" Caption="[SlimTvClient.ExtendedSchedule]" ClassName="MediaPortal.Plugins.SlimTv.Client.Extensions.ExtendedSchedule"/>
    <!--
    Morpheus_xx:
    This is an example for adding more actions for programs in TV Guide. Uncomment this item to see the "Example" action added.
    This can  be done from any plugin!
  -->
    <!--
    <SlimTvExtensionBuilder Id="{197B0299-B411-4FC7-BA96-765371C77B3B}" Caption="Example" ClassName="MediaPortal.Plugins.SlimTv.Client.Extensions.ProgramExample"/>
  -->
  </Register>

  <!-- MediaNavigationFilter -->
  <Register Location="/Media/Filters">
    <MediaNavigationFilterBuilder Id="{DD6FC152-0A98-4E4B-B3F4-643A68364470}" ClassName="VideosNavigationInitializer"
                                  Filter="{FilterWrapper}{Empty}{AttributeType}8DB70262-0DCE-4C80-AD03-FB1CDF7E1913:Channel{/AttributeType}{/Empty}{/FilterWrapper}"
                                  />
    <MediaNavigationFilterBuilder Id="{15A34EEC-3A93-4209-A81E-095C187D5925}" ClassName="AudioNavigationInitializer"
                                  Filter="{FilterWrapper}{Empty}{AttributeType}8DB70262-0DCE-4C80-AD03-FB1CDF7E1913:Channel{/AttributeType}{/Empty}{/FilterWrapper}"
                                  />
  </Register>

  <Register Location="/Models">
    <Model Id="8BEC1372-1C76-484c-8A69-C7F3103708EC" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvClientModel"/>
    <Model Id="74F50A53-BEF7-415c-A240-2EC718DA8C0F" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvSingleChannelGuideModel"/>
    <Model Id="5054408D-C2A9-451f-A702-E84AFCD29C10" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvMultiChannelGuideModel"/>
    <Model Id="EB9CB370-9CD6-4D72-8354-73E446104438" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvExtScheduleModel"/>
    <Model Id="71F1D594-21BF-4639-9F8A-3CE8D8170333" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvProgramSearchModel"/>
    <Model Id="7610403A-4488-47A4-8C27-FD1FE833E52B" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvScheduleManagement"/>
    <Model Id="117A9807-8B10-47F1-8780-C748DBCF45BA" Name="RecordingsContributorModel" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.RecordingsAction"/>
    <Model Id="1C7DCFFE-E34E-41FD-9104-9AA594E49375" Name="ChannelZapModel" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.ChannelZapModel" />
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SlimTvClientSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="TV"
        Redundant="true"
        Text="[Settings.Plugins.TV]"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/TV">
    <ConfigSetting
        Id="AutoStartTvSetting"
        Text="[SlimTvClient.AutoStartTv]"
        HelpText="[SlimTvClient.AutoStartTv.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.AutoStartTvSetting"/>
    <ConfigSetting
        Id="HideAllChannelsGroupSetting"
        Text="[SlimTvClient.HideAllChannelsGroup]"
        HelpText="[SlimTvClient.HideAllChannelsGroup.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.HideAllChannelsGroupSetting"/>
    <ConfigSetting
        Id="ShowSeriesInfoSetting"
        Text="[SlimTvClient.ShowSeriesInfo]"
        HelpText="[SlimTvClient.ShowSeriesInfo.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.ShowSeriesInfoSetting"/>
    <ConfigSetting
        Id="EpgNumberOfRows"
        Text="[SlimTvClient.EpgNumberOfRows]"
        HelpText="[SlimTvClient.EpgNumberOfRows.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.EpgNumberOfRowsSetting"/>
    <ConfigSetting
        Id="EpgNumberOfHoursSetting"
        Text="[SlimTvClient.EpgNumberOfHours]"
        HelpText="[SlimTvClient.EpgNumberOfHours.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.EpgNumberOfHoursSetting"/>
    <ConfigSetting
        Id="EpgVisibleChannelInfoSetting"
        Text="[SlimTvClient.EpgVisibleChannelInfo]"
        HelpText="[SlimTvClient.EpgVisibleChannelInfo.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.EpgVisibleChannelInfoSetting"/>
    <ConfigSetting
        Id="ZapByChannelIndex"
        Text="[SlimTvClient.ZapByChannelIndex]"
        HelpText="[SlimTvClient.ZapByChannelIndex.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.ZapByChannelIndexSetting"/>
    <ConfigSetting
        Id="ZapTimeoutSetting"
        Text="[SlimTvClient.ZapTimeout]"
        HelpText="[SlimTvClient.ZapTimeout.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Client.Settings.Configuration.ZapTimeoutSetting"/>
  </Register>
</Plugin>
