<Plugin
    DescriptorVersion="1.0"
    Name="OnlineLibraries"
    PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Library plugin providing online libaries access (TMDB, TheTvDB...) needed for some default metadata extractors"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="OnlineLibraries.dll"/>
  </Runtime>

  <Register Location="/Services">
    <Service Id="SeriesTvDbMatcher" RegistrationClassName="MediaPortal.Extensions.OnlineLibraries.SeriesTvDbMatcher"
        ServiceClassName="MediaPortal.Extensions.OnlineLibraries.SeriesTvDbMatcher"/>
    <Service Id="MovieTheMovieDbMatcher" RegistrationClassName="MediaPortal.Extensions.OnlineLibraries.MovieTheMovieDbMatcher"
        ServiceClassName="MediaPortal.Extensions.OnlineLibraries.MovieTheMovieDbMatcher"/>
    <Service Id="GeoLocationMatcher" RegistrationClassName="MediaPortal.Extensions.OnlineLibraries.GeoLocationMatcher"
        ServiceClassName="MediaPortal.Extensions.OnlineLibraries.GeoLocationMatcher"/>
  </Register>

</Plugin>
