<Plugin
    DescriptorVersion = "1.0" 
    Name = "ExampleSkin"
    PluginId="{46B20454-7BBA-489b-8B02-9BEC107DC1E8}"
    Author = "Team Mediaportal"
    Copyright = "GPL"
    Description = "mikael's test MP-II skin"
    PluginVersion = "1.0">

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"/> <!-- SkinBase -->
  </DependsOn>

  <Register Location = "/Resources/Skin">
    <Resource Id = "ExamplePluginSkins" Directory = "Skin" Type = "Skin"/>
  </Register>

</Plugin>