<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="FreeImage" version="3.15.4" targetFramework="net40" />
  <package id="FreeImageNET" version="3.15.1" targetFramework="net40" />
  <package id="SharpDX" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.D3DCompiler" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.Direct2D1" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.Direct3D11" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.DXGI" version="3.1.1" targetFramework="net451" />
  <package id="SharpDX.Mathematics" version="3.1.1" targetFramework="net451" />
</packages>