<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImage" version="3.15.4" targetFramework="net40" />
  <package id="FreeImageNET" version="3.15.1" targetFramework="net40" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net451" />
</packages>
