<Plugin
    DescriptorVersion="1.0"
    Name="SkinEngine"
    PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"
    Author="Frodo, Albert, Baboonanza"
    Copyright="GPL"
    AutoActivate="true"
    Description="DirectX Window Manager">

  <Version
    PluginVersion="1.0.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    MinCompatibleAPI="1"
    CurrentAPI="4"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
    <PluginReference PluginId="{94B90D7C-EF2E-466C-9FDE-E9F57472761A}" CompatibleAPI="1"/> <!-- FreeImageLib -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SkinEngine.dll"/>
    <PluginStateTracker ClassName="MediaPortal.UI.SkinEngine.SkinEnginePlugin"/>
  </Runtime>

  <Register Location="/Services">
    <Service Id="DialogManagerService" RegistrationClassName="MediaPortal.UI.Presentation.Screens.IDialogManager"
        RegistrationClassAssembly="MediaPortal.UI" ServiceClassName="MediaPortal.UI.SkinEngine.ScreenManagement.DialogManager"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="SkinEngineLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SkinEngineSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
    <ConfigSection
        Id="General"
        Redundant="true"
        Text="[Settings.General]"
        IconSmallPath="Resources\ConfigurationImages\general-22.png"
        IconLargePath="Resources\ConfigurationImages\general-48.png"/>
  </Register>

  <!-- Contents of '/General' section -->
  <Register Location="/Configuration/Settings/General">
    <ConfigGroup
        Id="System"
        Redundant="true"
        Text="[Settings.General.System]"/>
  </Register>

  <!-- Contents of '/General/System' group -->
  <Register Location="/Configuration/Settings/General/System">
    <ConfigSetting
        Id="ApplicationSuspendLevel"
        Text="[Settings.General.System.ApplicationSuspendLevel]"
        HelpText="[Settings.General.System.ApplicationSuspendLevel.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.General.ApplicationSuspendLevel"/>
  </Register>

  <!-- Contents of '/Appearance' section -->
  <Register Location="/Configuration/Settings/Appearance">
    <ConfigGroup
        Id="System"
        Redundant="true"
        Text="[Settings.Appearance.System]"/>
    <ConfigSection
        Id="Skin"
        Redundant="true"
        Text="[Settings.Appearance.Skin]"/>
  </Register>

  <!-- Contents of '/Appearance/System' group -->
  <Register Location="/Configuration/Settings/Appearance/System">
    <ConfigSetting
        Id="Fullscreen"
        Text="[Settings.Appearance.System.Fullscreen]"
        HelpText="[Settings.Appearance.System.Fullscreen.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Fullscreen"/>
    <ConfigSetting
        Id="StartupScreen"
        Text="[Settings.Appearance.System.StartupScreen]"
        HelpText="[Settings.Appearance.System.StartupScreen.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.StartupScreen"/>
    <ConfigSetting
        Id="CellPhoneInputStyle"
        Text="[Settings.Appearance.System.CellPhoneInputStyle]"
        HelpText="[Settings.Appearance.System.CellPhoneInputStyle.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.CellPhoneInputStyle"/>
    <ConfigSetting
        Id="Antialiasing"
        Text="[Settings.Appearance.System.Antialiasing]"
        HelpText="[Settings.Appearance.System.Antialiasing.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Antialiasing"/>

    <ConfigSetting
        Id="ScreenSaverEnabled"
        Text="[Settings.Appearance.System.ScreenSaverEnabled]"
        HelpText="[Settings.Appearance.System.ScreenSaverEnabled.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.ScreenSaverEnabled"/>

    <ConfigSetting
        Id="ScreenSaverTimeout"
        Text="[Settings.Appearance.System.ScreenSaverTimeout]"
        HelpText="[Settings.Appearance.System.ScreenSaverTimeout.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.ScreenSaverTimeout"/>

    <ConfigSetting
        Id="SkinSounds"
        Text="[Settings.Appearance.Skin.SkinAndTheme.SkinSounds]"
        HelpText="[Settings.Appearance.Skin.SkinAndTheme.SkinSounds.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.SkinSounds"/>
  </Register>

  <!-- Contents of '/Appearance/Skin' section -->
  <Register Location="/Configuration/Settings/Appearance/Skin">
    <ConfigGroup
        Id="SkinAndTheme"
        Redundant="true"
        Text="[Settings.Appearance.Skin.SkinAndTheme]"/>
  </Register>

  <!-- Contents of '/Appearance/Skin/SkinAndTheme' group -->
  <Register Location="/Configuration/Settings/Appearance/Skin/SkinAndTheme">
    <CustomConfigSetting
        Id="Skin"
        Text="[Settings.Appearance.Skin.SkinAndTheme.ChangeSkin]"
        HelpText="[Settings.Appearance.Skin.SkinAndTheme.ChangeSkin.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Skin.SkinConfigSetting"
        AdditionalTypes="CustomConfigController=MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Skin.SkinConfigurationController,ConfAppPanel=..."/>
    <CustomConfigSetting
        Id="Theme"
        Text="[Settings.Appearance.Skin.SkinAndTheme.ChangeTheme]"
        HelpText="[Settings.Appearance.Skin.SkinAndTheme.ChangeTheme.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Skin.ThemeConfigSetting"
        AdditionalTypes="CustomConfigController=MediaPortal.UI.SkinEngine.Settings.Configuration.Appearance.Skin.ThemeConfigurationController,ConfAppPanel=..."/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players/">
    <ConfigSection
        Id="VideoPlayer"
        Redundant="true"
        Text="[Settings.Players.VideoPlayer]"/>
  </Register>

  <!-- Contents of '/Players/Rendering' section -->
  <Register Location="/Configuration/Settings/Players/VideoPlayer">
    <ConfigSetting
        Id="DefaultGeometry"
        Text="[Settings.Players.Rendering.DefaultGeometry]"
        HelpText="[Settings.Players.Rendering.DefaultGeometry.Help]"
        ClassName="MediaPortal.UI.SkinEngine.Settings.Configuration.Players.DefaultGeometry"/>
  </Register>
</Plugin>
