<Plugin
    Version = "1.0"
    Name = "Playlist"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Playlist Plugin"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Playlist.dll"/>
  </Runtime>

  <Register Location = "/Models/PlayList">
    <Instance Id = "PlayList" ClassName = "Models.PlayList.PlayList"/>
  </Register>
</Plugin>