<Plugin Version = "1.0" Name = "Shares"
        Author = "Team MediaPortal"
        Copyright = "GPL"
        Description = "Shares Plugin"
        PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName="Shares.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="{F6C1A2AB-3E91-4766-A2C3-B60429668F8A}" Name="SharesModel" ClassName="Models.Shares.Model"/>
  </Register>
</Plugin>