<Plugin
    DescriptorVersion="1.0"
    Name="BassPlayer"
    PluginId="{9886EB43-B3EB-4cf1-A979-8D4D8874C555}"
    Author="hwahrmann, Symphy, Albert"
    Copyright="GPL"
    Description="Bass Audio Player">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}" CompatibleAPI="1"/> <!-- BassLibraries -->
    <PluginReference PluginId="{87316CE6-904A-48D3-90F0-BBEF3E9D007C}" CompatibleAPI="1"/> <!-- AudioCDResourceProvider -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="BassPlayer.dll"/>
    <PluginStateTracker ClassName="MediaPortal.UI.Players.BassPlayer.BassPlayerPlugin"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="0EB2A664-5CA1-4B1E-B661-527004D6019B" Name="BassPlayerSetupModel" ClassName="MediaPortal.UI.Players.BassPlayer.Models.BassPlayerSetupModel"/>
    <Model Id="33BA5457-F2C1-4CD6-A443-9E150C90100E" Name="BassPlayerSongTransitionSetupModel" ClassName="MediaPortal.UI.Players.BassPlayer.Models.BassPlayerSongTransitionSetupModel"/>
    <Model Id="1EA86870-CB4D-4B24-AEC1-13D018C92410" Name="BassPlayerPlaybackBufferSetupModel" ClassName="MediaPortal.UI.Players.BassPlayer.Models.BassPlayerPlaybackBufferSetupModel"/>
  </Register>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="1CBD4219-4ABD-4543-A3FE-37F6D7DDD78D" ClassName="MediaPortal.UI.Players.BassPlayer.BassPlayerPlugin"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="BassPlayerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="BassPlayerSkin" Directory="Skin" Type="Skin"/>
  </Register>
  
  <Register Location="/Workflow/States">
    <DialogState Id="330F967A-AB94-4890-9C6C-C1F86E672487"
        Name="BassPlayerSetup"
        DialogScreen="BassPlayerSetup"
        DisplayLabel="[Settings.Players.BassPlayer.Setup]"
        WorkflowModel="0EB2A664-5CA1-4B1E-B661-527004D6019B"/> <!-- BassPlayer config model -->
    <DialogState Id="D12CA7A1-C145-4B1D-A85E-BF6734F29A6B"
        Name="BassPlayerSetup"
        DialogScreen="BassPlayerSongTransitionSetup"
        DisplayLabel="[Settings.Players.BassPlayer.Setup.SongTransitionMode]"
        WorkflowModel="33BA5457-F2C1-4CD6-A443-9E150C90100E"/>
    <DialogState Id="3AE90F95-1E6D-4C84-AC1E-63F2ED065DD8"
        Name="BassPlayerSetup"
        DialogScreen="BassPlayerPlaybackBufferSetup"
        DisplayLabel="[Settings.Players.BassPlayer.Setup.PlaybackBuffer]"
        WorkflowModel="1EA86870-CB4D-4B24-AEC1-13D018C92410"/>
  </Register>

    <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players">
    <ConfigSection
        Id="AudioPlayer"
        Redundant="true"
        Text="[Settings.Players.AudioPlayer]"/>
  </Register>

  <!-- Contents of '/Configuration/Settings/Players/AudioPlayer' group -->
  <Register Location="/Configuration/Settings/Players/AudioPlayer">
    <CustomConfigSetting
        Id="BassPlayerSetup"
        Text="[Settings.Players.BassPlayer.Setup]"
        HelpText="[Settings.Players.BassPlayer.Setup.Help]"
        ClassName="MediaPortal.UI.Players.BassPlayer.Settings.Configuration.BassPlayerCustomSetting"
        AdditionalData="WorkflowState=330F967A-AB94-4890-9C6C-C1F86E672487,ConfAppPanel=..."/>
     <CustomConfigSetting
           Id="BassPlayerSongTransitionSetup"
           Text="[Settings.Players.BassPlayer.SongTransitionMode.Setup]"
           HelpText="[Settings.Players.BassPlayer.SongTransitionMode.Help]"
           ClassName="MediaPortal.UI.Players.BassPlayer.Settings.Configuration.SongTransitionCustomSettings"
           AdditionalData="WorkflowState=D12CA7A1-C145-4B1D-A85E-BF6734F29A6B,ConfAppPanel=..."/>
    <CustomConfigSetting
          Id="BassPlayerPlaybackBufferSetup"
          Text="[Settings.Players.BassPlayer.PlaybackBuffer.Setup]"
          HelpText="[Settings.Players.BassPlayer.PlaybackBuffer.Help]"
          ClassName="MediaPortal.UI.Players.BassPlayer.Settings.Configuration.PlaybackBufferCustomSettings"
          AdditionalData="WorkflowState=3AE90F95-1E6D-4C84-AC1E-63F2ED065DD8,ConfAppPanel=..."/>
 
    <ConfigGroup
         Id="Playback"
         Redundant="true"
         Text="[Settings.Players.Rendering.Playback]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/AudioPlayer/Playback">
    <ConfigSetting
        Id="SeekIncrementSeconds"
        Text="[Settings.Players.Rendering.Playback.SeekIncrementSeconds]"
        HelpText="[Settings.Players.Rendering.Playback.SeekIncrementSeconds.Help]"
        ClassName="MediaPortal.UI.Players.BassPlayer.Settings.Configuration.SeekIncrementSeconds"/>
  </Register>
  
</Plugin>
