<Plugin
    DescriptorVersion="1.0"
    Name="LocalFsMediaProvider"
    PluginId="{54727A8A-1CD8-46d1-84C6-C5E6A4169D70}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Local Filesystem Media Provider"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="LocalFsMediaProvider.dll"/>
  </Runtime>

  <Register Location="/Media/MediaProviders">
    <Instance Id="LocalFsProvider" ClassName="MediaPortal.Media.MediaProviders.LocalFsMediaProvider.LocalFsMediaProvider"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="LocalFsMediaProviderLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>
