<Plugin
    DescriptorVersion="1.0"
    Name="Black Backdrop Theme"
    PluginId="{2C53650F-3C44-4c0d-A620-F8FD82370032}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Black theme using backdrop images."
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"/> <!-- SkinBase -->
    <PluginReference PluginId="{F6C71648-3874-4d27-9232-C41EBEDE0337}"/> <!-- BackgroundManager -->
  </DependsOn>

  <Register Location="/Resources/Skin">
    <Resource Id="BlackBackdropSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
