<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Framework" publicKeyToken="80b5de62e27be49b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.29113" newVersion="1.5.0.29113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Common" publicKeyToken="80b5de62e27be49b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.29113" newVersion="1.5.0.29113" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>