<Plugin
    DescriptorVersion="1.0"
    Name="SQLCEDatabase"
    PluginId="{2A8624CA-6E65-414f-A0DB-22FB62A36DC7}"
    Author="offbyone"
    Copyright="GPL"
    AutoActivate="true"
    Description="Provides database access to an SQL Compact Edition database">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="SQLCEDatabase.dll"/>
  </Runtime>

  <Register Location="/Services">
    <Service Id="SQLCEDatabase" RegistrationClassName="MediaPortal.Backend.Database.ISQLDatabase"
        RegistrationClassAssembly="MediaPortal.Backend" ServiceClassName="MediaPortal.Database.SQLCE.SQLCEDatabase"/>
  </Register>
</Plugin>
