<Plugin
    Version="1.0"
    Name="SkinEngine"
    Author="Frodo, Albert"
    Copyright="GPL"
    AutoActivate="true" 
    Description="DirectX Window Manager"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference Name="ConfigurationManager"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName="SkinEngine.dll"/>
    <PluginStateTracker ClassName="MediaPortal.SkinEngine.SkinEnginePlugin"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="SkinEngineLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Contents of '/Appearance' section -->
  <Register Location="/Configuration/Settings/Appearance">
    <ConfigGroup
        Id="System"
        Redundant="true"
        Text="[Settings.Appearance.System]"/>
  </Register>

  <Register Location="/Configuration/Settings/Appearance/System">
    <ConfigSetting
        Id="Fullscreen"
        Text="[Settings.Appearance.System.Fullscreen]"
        HelpText="[Settings.Appearance.System.Fullscreen.help]"
        ClassName="MediaPortal.SkinEngine.Settings.Configuration.Fullscreen"/>
  </Register>
</Plugin>
