<Plugin
    Version="1.0"
    Name="SkinEngine"
    Author="Frodo, Albert"
    Copyright="GPL"
    AutoActivate="true" 
    Description="DirectX Window Manager"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference Name="ConfigurationManager"/>
    <PluginReference Name="Configuration"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName="SkinEngine.dll"/>
    <PluginStateTracker ClassName="MediaPortal.SkinEngine.SkinEnginePlugin"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="SkinEngineLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SkinEngineSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Contents of '/Appearance' section -->
  <Register Location="/Configuration/Settings/Appearance">
    <ConfigGroup
        Id="System"
        Redundant="true"
        Text="[Settings.Appearance.System]"/>
    <ConfigSection
        Id="Skin"
        Redundant="true"
        Text="[Settings.Appearance.Skin]"/>
  </Register>

  <!-- Contents of '/Appearance/System' group -->
  <Register Location="/Configuration/Settings/Appearance/System">
    <ConfigSetting
        Id="Fullscreen"
        Text="[Settings.Appearance.System.Fullscreen]"
        HelpText="[Settings.Appearance.System.Fullscreen.Help]"
        ClassName="MediaPortal.SkinEngine.Settings.Configuration.Appearance.Fullscreen"/>
  </Register>

  <!-- Contents of '/Appearance/Skin' section -->
  <Register Location="/Configuration/Settings/Appearance/Skin">
    <ConfigGroup
        Id="SkinAndTheme"
        Redundant="true"
        Text="[Settings.Appearance.Skin.SkinAndTheme]"/>
  </Register>

  <!-- Contents of '/Appearance/Skin/SkinAndTheme' group -->
  <Register Location="/Configuration/Settings/Appearance/Skin/SkinAndTheme">
    <CustomConfigSetting
        Id="Skin"
        Text="[Settings.Appearance.Skin.SkinAndTheme.ChangeSkin]"
        HelpText="[Settings.Appearance.Skin.SkinAndTheme.ChangeSkin.Help]"
        ClassName="MediaPortal.SkinEngine.Settings.Configuration.Appearance.Skin.SkinConfigSetting"
        AdditionalTypes="CustomConfigController=MediaPortal.SkinEngine.Settings.Configuration.Appearance.Skin.SkinConfigurationController,ConfAppPanel=..."/>
    <CustomConfigSetting
        Id="Theme"
        Text="[Settings.Appearance.Skin.SkinAndTheme.ChangeTheme]"
        HelpText="[Settings.Appearance.Skin.SkinAndTheme.ChangeTheme.Help]"
        ClassName="MediaPortal.SkinEngine.Settings.Configuration.Appearance.Skin.ThemeConfigSetting"
        AdditionalTypes="CustomConfigController=MediaPortal.SkinEngine.Settings.Configuration.Appearance.Skin.ThemeConfigurationController,ConfAppPanel=..."/>
  </Register>
</Plugin>
