<Plugin
    Version = "1.0"
    Name = "Login"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Login Plugin">

  <Runtime>
    <Assembly FileName = "Login.dll"/>
  </Runtime>

  <Register Location = "/Models/MyLogin">
    <Instance Id = "MyLogin" ClassName = "Models.Login.LoginModel"/>
  </Register>
</Plugin>