<Plugin
    DescriptorVersion="1.0" 
    Name="GUI Test"
    PluginId="{0105CFBA-14BE-4136-87E6-954D03CE5D66}"
    Author="Albert"
    Copyright="GPL"
    Description="GUI Test Plugin showing various test screens for the capabilities of the SkinEngine">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="GUITestPlugin.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="F4FC1599-F412-40d0-82BF-46FC352E93BE" ClassName="MediaPortal.Test.GUITest.GUITestModel"/>
    <Model Id="A6C3F942-105C-48cd-AEFF-059DA79773A9" ClassName="MediaPortal.Test.GUITest.TreeViewModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="F660C2CA-A340-4694-A7F4-9E68AB9721C4"
        Name="GuiTestMain" MainScreen="gui-test-main"
        DisplayLabel="GUI-Test"
        WorkflowModel="F4FC1599-F412-40d0-82BF-46FC352E93BE"/> <!-- Workflow model = GUITestModel -->
    <WorkflowState Id="9233F320-F0D3-4511-84F0-4575CC9F6A55"
        Name="TreeViewTest" MainScreen="test-treeview"
        DisplayLabel="TreeView"
        WorkflowModel="A6C3F942-105C-48cd-AEFF-059DA79773A9"/> <!-- Workflow model = TreeViewModel -->
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="GUITestSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
