<Plugin
    DescriptorVersion="1.0"
    Name="BackgroundManager"
    PluginId="{F6C71648-3874-4d27-9232-C41EBEDE0337}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Automatic exchange of backgrounds according to selected menu item"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"/> <!-- SkinBase -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="BackgroundManager.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="1F4CAEDE-7108-483d-B5C8-18BEC7EC58E5" Name="BackgroundManagerModel" ClassName="MediaPortal.UiComponents.BackgroundManager.Models.BackgroundManagerModel"/>
    <Model Id="35C31826-4159-4CF9-B4F5-98DEBE04E93C" Name="LayoutManagerModel" ClassName="MediaPortal.UiComponents.BackgroundManager.Models.LayoutManagerModel"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="LayoutManagerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="LayoutManagerSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
