<Plugin
    DescriptorVersion="1.0"
    Name="FirebirdDatabase"
    PluginId="{1D623278-473E-4ffb-AFB0-48487E4DC606}"
    Author="Albert"
    Copyright="GPL"
    AutoActivate="true"
    Description="Provides database access to an embedded Firebird database"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="FirebirdDatabase.dll"/>
  </Runtime>

  <Register Location="/Services">
    <Instance Id="ISQLDatabase" ClassName="MediaPortal.Database.Firebird.FirebirdSQLDatabase"/>
  </Register>
</Plugin>
