<Plugin
    Version = "1.0"
    Name = "Configuration"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Configuration"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Configuration.Framework.dll"/>
  </Runtime>

  <Builder Name = "Setting" ClassName = "Components.Configuration.Builders.SettingBuilder"/>

  <Register Location = "/Resources/Language">
    <Resource Id = "Configuration" Directory = "Language" Type = "Language"/>
  </Register>

  <Register Location = "/Configuration/Settings/">
    <Setting
        Id = "General"
        Type = "Section"
        Text = "[configuration.settings.general]"
        IconSmall ="images\general-22.png"
        IconLarge ="images\general-48.png"/>
    <Setting
        Id = "Regional"
        Type = "Section"
        Text = "[configuration.settings.regional]"
        IconSmall = "images\globe-22.png"
        IconLarge = "images\globe-48.png"/>
    <Setting
        Id = "Appearance"
        Type = "Section"
        Text = "[configuration.settings.appearance]"
        IconSmall = "images\skin-22.png"
        IconLarge = "images\skin-48.png"/>
    <Setting
        Id = "Folders"
        Type = "Section"
        Text = "[configuration.settings.folders]"
        IconSmall = "images\folders-22.png"
        IconLarge = "images\folders-48.png"/>
    <Setting
        Id = "Hardware"
        Type = "Section"
        Text = "[configuration.settings.hardware]"
        IconSmall = "images\hardware-22.png"
        IconLarge = "images\hardware-48.png"/>
  </Register>

  <Register Location = "/Configuration/Settings/General/">
    <Setting
        Id = "System"
        Type = "Group"
        Text = "[configuration.system]"/>
  </Register>

  <Register Location = "/Configuration/Settings/General/System/">
    <Setting
        Id = "Autostart"
        Type = "YesNo"
        Text = "[configuration.system.autostart]"
        Help = "[configuration.system.autostart.help]"
        ClassName = "Components.Configuration.Settings.Autostart"/>
    <Setting
        Id = "Balloontips"
        Type = "YesNo"
        Text = "[configuration.system.balloontips]"
        Help = "[configuration.system.balloontips.help]"
        ClassName ="Components.Configuration.Settings.Balloontips"/>
  </Register>

  <Register Location = "/Configuration/Settings/Regional/">
    <Setting
        Id = "Language"
        Type = "Group"
        Text = "[configuration.language]"/>
  </Register>

  <Register Location = "/Configuration/Settings/Regional/Language/">
    <Setting
        Id= "Language.main"
        Type = "SingleSelectionList"
        Text = "[configuration.language.main]"
        Help = "[configuration.language.main.help]"
        ClassName = "Components.Configuration.Settings.MainLanguage"/>
  </Register>

  <Register Location = "/Configuration/Settings/Regional">
    <Setting
        Id = "Location"
        Type = "Group" 
        Text = "[configuration.location]"/>
  </Register>

  <Register Location = "/Configuration/Settings/Regional/Location">
    <Setting
        Id = "Country"
        Type = "SingleSelectionList"
        Text = "[configuration.location.country]"
        Help = "[configuration.location.country.help]"
        ClassName = "Components.Configuration.Settings.Country"/>
    <Setting
        Id = "Region"
        Type = "SingleSelectionList"
        Text = "[configuration.location.region]"
        Help = "[configuration.location.region.help]"
        ClassName = "Components.Configuration.Settings.Region"/>
    <Setting
        Id = "City"
        Type = "SingleSelectionList"
        Text = "[configuration.location.city]"
        Help = "[configuration.location.city.help]"
        ClassName = "Components.Configuration.Settings.City"/>
  </Register>
  
</Plugin>