<Plugin
    DescriptorVersion="1.0" 
    Name="SlimTv4HomeProvider"
    PluginId="{727B7812-343D-4b35-8EFD-1D499B70D848}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="The SlimTv4HomeProvider uses TV4Home and MP TvServer to provide basic TV capabilities."
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/>    <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/>    <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/>    <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SlimTvInterfaces.dll"/>
    <Assembly FileName="SlimTv4HomeProvider.dll"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="Tv4HomeLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Services">
    <Service Id="SlimTv4HomeProviderService" RegistrationClassName="MediaPortal.Plugins.SlimTvClient.Interfaces.ITvProvider"        
        ServiceClassName="MediaPortal.Plugins.SlimTv.Providers.SlimTv4HomeProvider"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="TV"
        Redundant="true"
        Text="[Settings.Plugins.TV]"/>
  </Register>


  <Register Location="/Configuration/Settings/Plugins/TV">
    <ConfigSetting
        Id="TV4HomeServerAdress"
        Text="[Settings.Plugins.TV.TV4HomeServerAddress]"
        HelpText="[Settings.Plugins.TV.TV4HomeServerAddress.Help]"
        ClassName="MediaPortal.Plugins.SlimTv.Providers.Settings.Configuration.TV4HomeServerAddress"/>
  </Register>
  
  <!-- The ResourceProvider to access Tve3. -->
  <Register Location="/Media/ResourceProviders">
    <Instance Id="SlimTvProvider" ClassName="MediaPortal.Plugins.SlimTv.Providers.SlimTvResourceProvider"/>
  </Register>
</Plugin>
