<Plugin
    Version = "1.0" 
    Name = "Media"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Media Navigation Plugin"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Media.dll"/>
  </Runtime>

  <Register Location = "/Models/Media">
    <Instance Id = "Model" ClassName = "Models.Media.Model"/>
  </Register>
</Plugin>