<Plugin
    DescriptorVersion="1.0"
    Name="TranscodingService Client"
    PluginId="{F85F5A02-AAC3-4009-B9C0-CCA455D81EC3}"
    Author="Henso"
    Copyright="GPL"
    Description="Provides Client access to TranscodingService settings stored in MP2 Server"
    AutoActivate="True">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2018-09-01 12:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="TranscodingService.Client.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Extensions.TranscodingService.Client.TranscodingClientPlugin"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="TranscodingServiceLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Root configuration sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Transcoding"
        Sort="X100"
        Redundant="true"
        Text="[Settings.Title]"/>
  </Register>

  <!-- Contents of '/Transcoding' section -->
  <Register Location="/Configuration/Settings/Transcoding">
    <ConfigSetting
        Id="HWAcceleration"
        RestrictionGroup="Settings"
        Text="[Settings.HWAcceleration]"
        HelpText="[Settings.HWAccelleration.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.HardwareAccelerationSetting"/>
    
    <ConfigSetting
        Id="Cache"
        RestrictionGroup="Settings"
        Text="[Settings.Cache]"
        HelpText="[Settings.Cache.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.CacheEnabledSetting"/>
    
    <ConfigSetting
        Id="CacheAge"
        RestrictionGroup="Settings"
        Text="[Settings.CacheAge]"
        HelpText="[Settings.CacheAge.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.CacheMaxAgeSetting"/>

    <ConfigSetting
        Id="CacheSize"
        RestrictionGroup="Settings"
        Text="[Settings.CacheSize]"
        HelpText="[Settings.CacheSize.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.CacheMaxSizeSetting"/>

    <ConfigSetting
        Id="SubtitleForce"
        RestrictionGroup="Settings"
        Text="[Settings.SubtitleForce]"
        HelpText="[Settings.SubtitleForce.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.SubtitleForceSetting"/>

    <ConfigSetting
        Id="SubtitleBox"
        RestrictionGroup="Settings"
        Text="[Settings.SubtitleBox]"
        HelpText="[Settings.SubtitleBox.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.SubtitleBoxSetting"/>

    <ConfigSetting
        Id="SubtitleFont"
        RestrictionGroup="Settings"
        Text="[Settings.SubtitleFont]"
        HelpText="[Settings.SubtitleFont.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.SubtitleFontSetting"/>

    <ConfigSetting
        Id="SubtitleFontSize"
        RestrictionGroup="Settings"
        Text="[Settings.SubtitleFontSize]"
        HelpText="[Settings.SubtitleFontSize.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.SubtitleFontSizeSetting"/>

    <ConfigSetting
        Id="SubtitleFontColor"
        RestrictionGroup="Settings"
        Text="[Settings.SubtitleFontColor]"
        HelpText="[Settings.SubtitleFontColor.Help]"
        ClassName="MediaPortal.Extensions.TranscodingService.Client.Settings.Configuration.SubtitleFontColorSetting"/>

  </Register>
</Plugin>
