<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!--
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%-7timestamp] [%-9thread] [%-5level] - %message%newline"/>
      </layout>
      -->
      <!--
      You may want to use this so the log files show better information about the source of the message.
      As per the log4net documentation generating caller location information is very *extremely* slow,
      so this is useful for debugging issues but ruinously bad for performance.
      -->
      <layout type="MediaPortal.Common.Services.Logging.MediaPortalPatternLayout">
        <conversionPattern value="[%date] [%-7timestamp] [%-9thread] [%-5level] %class.%method(%file:%line) - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins\SQLiteDatabase;Plugins\NetworkNeighborhoodResourceProvider" />
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data></configuration>
