<Plugin
    DescriptorVersion="1.0" 
    Name="BassLibraries"
    PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Bass support plugin"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="BassLibraries.dll"/>
    <Assembly FileName="BassRegistration.dll"/>
    <Assembly FileName="Bass.Net.dll"/>
  </Runtime>
</Plugin>
