<Plugin
    DescriptorVersion="1.0"
    Name="MediaInfoPlugin"
    PluginId="{D418C9C9-6D2A-44ed-ADC2-16345294B019}"
    Author="Team MediaPortal, Third party: Jerome Martinez"
    Copyright="GPL"
    Description="Library plugin needed for some default metadata extractors"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="MediaInfoLib.dll"/>
  </Runtime>
</Plugin>
