<Plugin
    DescriptorVersion="1.0" 
    Name="Media"
    PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"
    Author="Albert"
    Copyright="GPL"
    AutoActivate="true"
    Description="Media Navigation Plugin"> <!-- AutoActivate = Workaround - else, the SkinEngine is not able to find the Media assembly which is referenced by MediaStyles.xaml -->

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>
  
  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <CoreDependency Name="UPnP" CompatibleAPI="1" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
    <PluginReference PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}" CompatibleAPI="1"/> <!-- BassLibraries -->
    <PluginReference PluginId="{87316CE6-904A-48D3-90F0-BBEF3E9D007C}" CompatibleAPI="1"/> <!-- AudioCDResourceProvider -->
    <PluginReference PluginId="{15FD97A4-D925-4D8A-9DF0-5349743EED0C}" CompatibleAPI="2"/> <!-- FanArtService Client -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="Media.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="4CDD601F-E280-43b9-AD0A-6D7B2403C856" Name="MediaNavigationModel" ClassName="MediaPortal.UiComponents.Media.Models.MediaNavigationModel"/>
    <Model Id="3750D3FE-CA2A-4c8a-97B3-A08EF305C084" Name="PlayItemsModel" ClassName="MediaPortal.UiComponents.Media.Models.PlayItemsModel"/>
    <Model Id="970649B2-CAE8-4830-A985-E5E78F3CB24F" Name="MediaItemsActionModel" ClassName="MediaPortal.UiComponents.Media.Models.MediaItemsActionModel"/>
    <Model Id="4E2301B4-3C17-4a1d-8DE5-2CEA169A0256" Name="VideoPlayerModel" ClassName="MediaPortal.UiComponents.Media.Models.VideoPlayerModel"/>
    <Model Id="D8998340-DA2D-42be-A29B-6D7A72AEA2DC" Name="AudioPlayerModel" ClassName="MediaPortal.UiComponents.Media.Models.AudioPlayerModel"/>
    <Model Id="E30AA448-C1D1-4d8e-B08F-CF569624B51C" Name="ShowPlaylistModel" ClassName="MediaPortal.UiComponents.Media.Models.ShowPlaylistModel"/>
    <Model Id="0AFD5E3A-2CB6-44d6-827F-72A7193595E2" Name="EditPlaylistModel" ClassName="MediaPortal.UiComponents.Media.Models.EditPlaylistModel"/>
    <Model Id="039151B6-800B-4279-A1BE-7F421EEA8C9A" Name="ManagePlaylistsModel" ClassName="MediaPortal.UiComponents.Media.Models.ManagePlaylistsModel"/>
    <Model Id="6997CD35-63F0-4F96-8997-E18C9382E2DC" Name="ViewModeModel" ClassName="MediaPortal.UiComponents.Media.Models.ViewModeModel"/>
    <Model Id="3871146E-AFF4-4B7F-90E5-091764E4F45A" Name="MediaSortingModel" ClassName="MediaPortal.UiComponents.Media.Models.MediaSortingModel"/>
    <Model Id="68A966B6-6EAC-415E-89A4-7C486F9B5A3B" Name="MediaGroupingModel" ClassName="MediaPortal.UiComponents.Media.Models.MediaGroupingModel"/>
    <Model Id="52DFDB33-5D94-41AC-BBB7-2B070473FB48" Name="MediaFilterModel" ClassName="MediaPortal.UiComponents.Media.Models.MediaFilterModel"/>

    <Model Id="6455D863-CCF2-403d-8C36-754299B61319" Name="BrowseLocalMediaContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.BrowseLocalMediaAction"/>
    <Model Id="92F6CE34-CB28-40f7-9136-AB576F479F94" Name="BrowseMediaContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.BrowseMediaAction"/>
    <Model Id="D8922F2B-5B56-4218-93B1-570616BAAEAD" Name="AudioContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.AudioAction"/>
    <Model Id="598F813D-D575-4229-A8E6-5ABCE0EDCDB8" Name="VideosContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.VideosAction"/>
    <Model Id="A772B6E4-352D-46F8-B328-C2F4F2FCEA0F" Name="SeriesContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SeriesAction"/>
    <Model Id="4F075A64-A8D5-4A6F-86C0-DA1FD86000DD" Name="MoviesContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.MoviesAction"/>
    <Model Id="E6E42CDB-07F7-4055-8EF9-0AA35904FAB5" Name="AddToPlaylistContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.AddViewToPlaylistAction"/>
    <Model Id="7190C5BB-430E-48be-A6B2-C651A840C54A" Name="ImagesContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.ImagesAction"/>
    <Model Id="313C4313-1D2B-4505-BA50-84EA684889C7" Name="ShowPlaylistContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.ShowPlaylistAction"/>
    <Model Id="2C3A747D-7FD7-408b-8843-31842A2EB6F3" Name="ManagePlaylistsContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.ManagePlaylistsAction"/>
    <Model Id="02848CDD-34F0-4719-9A52-DA959E848409" Name="SavePlaylistContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SavePlaylistAction"/>
    <Model Id="3CE266A6-95C9-412E-B93F-FA15DFD63442" Name="RemovePlaylistsContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.RemovePlaylistsAction"/>
    <Model Id="4BDAE589-15AF-4B84-B930-9F24E66841BB" Name="SwitchViewModeContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchViewModeAction"/>
    <Model Id="D447F742-5592-48FF-B189-C1868FB6740F" Name="SwitchSortingContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchSortingAction"/>
    <Model Id="4C132A3B-81ED-4080-895A-08E9EB56BA62" Name="SwitchGroupingContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchGroupingAction"/>
    <Model Id="C1FCD6E1-41E8-45F9-BFCB-D59F2FFB0F15" Name="SwitchFilterContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchFilterAction"/>
    <Model Id="F1DBEDCB-CB95-4CF5-8787-07390869DE44" Name="SwitchBrowseLocalMLContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchBrowseLocalMLAction"/>
    <Model Id="56B6B935-8972-48C2-811A-BF150A1F8F09" Name="SwitchBrowseModeContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.SwitchBrowseModeAction"/>

    <Model Id="8573DBD8-A257-426a-9875-9DB155D32D47" Name="ExtendedVideoSkip" ClassName="MediaPortal.UiComponents.Media.Models.ExtendedVideoSkip" />

    <Model Id="E1752E49-67FE-4D94-8544-1134CC3DCD87" Name="LatestMediaModelContributorModel" ClassName="MediaPortal.UiComponents.Media.Actions.LatestMediaAction" />
    <Model Id="11193401-D85D-4D50-9825-E9EB34D87062" Name="LatestMediaModel" ClassName="MediaPortal.UiComponents.Media.Models.LatestMediaModel" />
  </Register>

  <Register Location="/Workflow/States">
    <!-- Media navigation -->

    <WorkflowState Id="387044A0-83BA-435d-B262-C90CF70A9858"
        Name="BrowseMediaNavigation-Root"
        DisplayLabel="[Media.BrowseMediaNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="B393C6D8-9F37-4481-B403-0D5B17F52EC8"
        Name="LocalMediaNavigation-Root"
        DisplayLabel="[Media.LocalMediaNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="F2AAEBC6-BFB0-42c8-9C80-0A98BA67A7EB"
        Name="AudioNavigation-Root"
        DisplayLabel="[Media.AudioNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="22ED8702-3887-4acb-ACB4-30965220AFF0"
        Name="VideosNavigation-Root"
        DisplayLabel="[Media.VideoNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="30F57CBA-459C-4202-A587-09FFF5098251"
        Name="SeriesNavigation-Root"
        DisplayLabel="[Media.SeriesNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="312016AA-3DF6-4C1D-B8F7-44D34C456FFE"
        Name="MoviesNavigation-Root"
        DisplayLabel="[Media.MoviesNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="76019AEB-3445-4da9-9A10-63A87549A7CF"
        Name="ImagesNavigation-Root"
        DisplayLabel="[Media.ImageNavigationRootWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/> <!-- Workflow model = Media model -->

    <WorkflowState Id="60CD1874-1752-4486-9DF1-82B7BDF635A6"
        Name="LatestMedia"
        MainScreen="LatestMedia"
        DisplayLabel="[Media.LatestMediaWorkflowNavigationContextDisplayLabel]"
        WorkflowModel="11193401-D85D-4D50-9825-E9EB34D87062"/> <!-- Workflow model = Latest Media model -->

    <!-- MediaItemActions -->

    <DialogState Id="EEBCCAE6-59F8-4AF3-95FF-FC14A5B3CD62"
        Name="MediaItemActions"
        DisplayLabel="[Media.MediaItemsActionDialogHeader]"
        WorkflowModel="970649B2-CAE8-4830-A985-E5E78F3CB24F"/> <!-- Workflow model = MediaItemActions model -->

    <!-- Play items -->

    <DialogState Id="D93C8FA5-130F-4b5e-BE0B-79D6200CE8D2"
        Name="PlayOrEnqueueItems"
        DisplayLabel="[Media.PlayOrEnqueueItemsWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="3750D3FE-CA2A-4c8a-97B3-A08EF305C084"/> <!-- Workflow model = PlayItems model -->
    <DialogState Id="B79E395B-2276-4cde-B4CC-BB4F3E201EFF"
        Name="CheckQueryPlayActionSingleItem"
        DisplayLabel="[Media.CheckQueryPlayActionSingleItemWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="3750D3FE-CA2A-4c8a-97B3-A08EF305C084"/> <!-- Workflow model = PlayItems model -->
    <DialogState Id="895C4853-6D52-4c0f-9B16-B7DA789CBF6A"
        Name="CheckQueryPlayActionMultipleItems"
        DisplayLabel="[Media.CheckQueryPlayActionMultipleItemsWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="3750D3FE-CA2A-4c8a-97B3-A08EF305C084"/> <!-- Workflow model = PlayItems model -->
    <DialogState Id="9F73CA87-732F-4017-9B1D-11DAFEED7FEC"
        Name="CheckQueryPlayActionMultipleItems_ChooseMediaType"
        DisplayLabel="[Media.CheckQueryPlayActionMultipleItemsChooseMediaTypeWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="3750D3FE-CA2A-4c8a-97B3-A08EF305C084"/> <!-- Workflow model = PlayItems model -->
    <DialogState Id="04138763-42E6-49F1-BA51-EE3A9BAA835D"
        Name="CheckResumePlayback"
        DisplayLabel="[Media.CheckQueryPlayActionSingleItemWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="3750D3FE-CA2A-4c8a-97B3-A08EF305C084"/> <!-- Workflow model = PlayItems model -->

    <!-- CP/FSC states -->

    <WorkflowState Id="5764A810-F298-4a20-BF84-F03D16F775B1"
        Name="VideoCurrentlyPlaying"
        DisplayLabel="[Media.VideoCurrentlyPlayingWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="4E2301B4-3C17-4a1d-8DE5-2CEA169A0256"/> <!-- Workflow model = Video player model -->

    <WorkflowState Id="882C1142-8028-4112-A67D-370E6E483A33"
        Name="VideoFullscreenContent"
        DisplayLabel="[Media.VideoFullscreenContentWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="4E2301B4-3C17-4a1d-8DE5-2CEA169A0256"/> <!-- Workflow model = Video player model -->

    <WorkflowState Id="4596B758-CE2B-4e31-9CB9-6C30215831ED"
        Name="AudioCurrentlyPlaying"
        DisplayLabel="[Media.AudioCurrentlyPlayingWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="D8998340-DA2D-42be-A29B-6D7A72AEA2DC"/> <!-- Workflow model = Audio player model -->

    <WorkflowState Id="82E8C050-0318-41a3-86B8-FC14FB85338B"
        Name="AudioFullscreenContent"
        DisplayLabel="[Media.AudioFullscreenContentWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="D8998340-DA2D-42be-A29B-6D7A72AEA2DC"/> <!-- Workflow model = Audio player model -->

    <!-- Playlists -->

    <DialogState Id="95E38A80-234C-4494-9F7A-006D8E4D6FDA"
        Name="ShowPlaylist"
        DialogScreen="DialogShowPlaylist"
        DisplayLabel="[Media.ShowPlaylistWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="E30AA448-C1D1-4d8e-B08F-CF569624B51C"/> <!-- Workflow model = ShowPlaylist model -->
    <WorkflowState Id="078DCC03-AE75-4347-8C07-183605CDB1B7"
        Name="EditPlaylist"
        MainScreen="EditPlaylist"
        DisplayLabel="[Media.EditPlaylistWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="0AFD5E3A-2CB6-44d6-827F-72A7193595E2"/> <!-- Workflow model = EditPlaylist model -->
    <WorkflowState Id="4A0981A3-2051-46f7-89ED-2DD3A9237DE9"
        Name="PlaylistsOverview"
        MainScreen="PlaylistsOverview"
        DisplayLabel="[Media.PlaylistsOverviewWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="00E50877-E3BF-4361-A57D-15F5B495FDEF"
        Name="PlaylistInfo"
        MainScreen="PlaylistInfo"
        DisplayLabel="[Media.PlaylistInfoWorkflowStateNavigationContextDisplayLabel]"
        Temporary="true"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="BF716CDF-638C-4716-98F8-935FA85BC4D8"
        Name="RemovePlaylists"
        MainScreen="RemovePlaylists"
        DisplayLabel="[Media.RemovePlaylistsWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="D41DC5C7-71B0-4bf5-AE8E-FE2F3BC04FF1"
        Name="SavePlaylistChooseLocation"
        MainScreen="SavePlaylistChooseLocation"
        DisplayLabel="[Media.SavePlaylistChooseLocationWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="A967AEC6-C470-4ef6-B034-F192983AA02E"
        Name="SavePlaylistEditName"
        MainScreen="SavePlaylistEditName"
        DisplayLabel="[Media.SavePlaylistEditNameWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="D9DB81D6-CD4E-47a3-9E3A-BD388BD1297E"
        Name="SavePlaylistSuccessful"
        MainScreen="SavePlaylistSuccessful"
        DisplayLabel="[Media.SavePlaylistSuccessfulWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
    <WorkflowState Id="9588B122-D697-4f9e-B8ED-887E83843C8E"
        Name="SavePlaylistFailed"
        MainScreen="SavePlaylistFailed"
        DisplayLabel="[Media.SavePlaylistFailedWorkflowStateNavigationContextDisplayLabel]"
        WorkflowModel="039151B6-800B-4279-A1BE-7F421EEA8C9A"/> <!-- Workflow model = ManagePlaylists model -->
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="MediaLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="MediaSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- MediaItemActions -->
  <Builder Name="MediaItemActionBuilder" ClassName="MediaPortal.UiComponents.Media.Extensions.MediaItemActionBuilder"/>
  <Register Location="/Media/Extensions">
    <MediaItemActionBuilder Id="{23BB0F41-CF41-4C42-9F0A-D6B84F3C364E}" Caption="[Media.AddSingleToPlaylist]" Sort="A.1" ClassName="MediaPortal.UiComponents.Media.MediaItemActions.AddSingleToPlaylist"/>
    <MediaItemActionBuilder Id="{6693EE38-DDC9-4463-8AF1-9EFD75473B3B}" Caption="[Media.AddAllToPlaylist]" Sort="A.2" ClassName="MediaPortal.UiComponents.Media.MediaItemActions.AddAllToPlaylist"/>
    <MediaItemActionBuilder Id="{A6DC6A3C-3F90-493A-84C5-0E4400E7A949}" Caption="[Media.SetUnwatched]" Sort="C.1" ClassName="MediaPortal.UiComponents.Media.MediaItemActions.SetUnwatched"/>
    <MediaItemActionBuilder Id="{6840E4DB-3787-421F-910E-7450BD5A408C}" Caption="[Media.SetWatched]" Sort="C.1" ClassName="MediaPortal.UiComponents.Media.MediaItemActions.SetWatched"/>
    <MediaItemActionBuilder Id="{37417344-B43E-486F-A2C5-DFF9E8C1C8E1}" Caption="[Media.DeleteFromStorage]" Sort="D.2" ClassName="MediaPortal.UiComponents.Media.MediaItemActions.DeleteFromStorage"/>
  </Register>

  <!-- MediaNavigationFilter -->
  <Builder Name="MediaNavigationFilterBuilder" ClassName="MediaPortal.UiComponents.Media.Extensions.MediaNavigationFilterBuilder"/>
  <Register Location="/Media/Filters">
    <MediaNavigationFilterBuilder Id="{58B4F0AB-D57B-46DD-BDF2-4FBDA83B03E8}" ClassName="VideosNavigationInitializer"
                                  Filter="{FilterWrapper}{Empty}{AttributeType}22E58B5D-77A3-4F74-95DB-4B9DD3A289F6:SeriesName{/AttributeType}{/Empty}{/FilterWrapper}"
                                  />
    <MediaNavigationFilterBuilder Id="{774CD13B-0572-4A8D-ABE6-CDD552FA9F1D}" ClassName="VideosNavigationInitializer"
                                  Filter="{FilterWrapper}{Empty}{AttributeType}C5C21762-FA8A-4C51-8C5B-6B0BF7FB162A:MovieName{/AttributeType}{/Empty}{/FilterWrapper}"
                                  />
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Media"
        Redundant="true"
        Text="[Settings.Media]"/>
  </Register>

  <!-- Contents of '/Players' section -->
  <Register Location="/Configuration/Settings/Players">
    <ConfigSetting
        Id="ClosePlayersWhenFinished"
        Text="[Settings.Players.ClosePlayersWhenFinished]"
        HelpText="[Settings.Players.ClosePlayersWhenFinished.Help]"
        ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.ClosePlayersWhenFinished"/>

    <ConfigSetting
      Id="InstantSkipPercent"
      Text="[Settings.Players.InstantSkipPercent]"
      HelpText="[Settings.Players.InstantSkipPercent.Help]"
      ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.InstantSkipPercent"/>

    <ConfigSetting
      Id="SkipStepTimeout"
      Text="[Settings.Players.SkipStepTimeout]"
      HelpText="[Settings.Players.SkipStepTimeout.Help]"
      ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.SkipStepTimeout"/>

    <ConfigSetting
      Id="SkipStepList"
      Text="[Settings.Players.SkipStepList]"
      HelpText="[Settings.Players.SkipStepList.Help]"
      ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.SkipStepList"/>

    <ConfigSetting
      Id="OpenPlayerStrategy"
      Text="[Settings.Players.OpenPlayerStrategy]"
      HelpText="[Settings.Players.OpenPlayerStrategy.Help]"
      ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.OpenPlayerStrategy"/>

    <ConfigSetting
      Id="WatchedPlayPercentage"
      Text="[Settings.Players.WatchedPlayPercentage]"
      HelpText="[Settings.Players.WatchedPlayPercentage.Help]"
      ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.WatchedPlayPercentage"/>

  </Register>

  <!-- Contents of '/Media' section -->
  <Register Location="/Configuration/Settings/Media">
    <ConfigSetting
        Id="ShowVirtual"
        Text="[Settings.Media.ShowVirtual]"
        HelpText="[Settings.Media.ShowVirtual.Help]"
        ClassName="MediaPortal.UiComponents.Media.Settings.Configuration.ShowVirtual"/>
    
  </Register>
  
</Plugin>
