
<div class="flex-container horizontal packages">
    <aside class="flex-item package-filter">
        package filter goes here
    </aside>

    <section class="flex-item package-list">
        <ul id="package-list"></ul>
    </section>

    <section class="flex-item package-details">
        <article id="package-details"></article>
    </section>
</div>