
<div class="flex-container shelf main">
    <aside id="package-filter-container" class="flex-item left"></aside>

    <section id="package-list-container" class="flex-item center"></section>

    <section id="package-details-container" class="flex-item right"></section>
</div>
