
<div class="flex-container horizontal">
    <aside id="package-filter-container" class="flex-item package-filter"></aside>

    <section id="package-list-container" class="flex-item package-list"></section>

    <section id="package-details-container" class="flex-item package-details"></section>
</div>
