<Plugin
    DescriptorVersion="1.0" 
    Name="StatisticsRenderer"
    PluginId="{0C47610D-A6DB-475f-8304-BFF35E572AE2}"
    Author="Morpheus_xx"
    Copyright="GPL"
    AutoActivate="true"
    Description="The StatisticsRenderer plugin provides performance and video playback quality related information.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>
  
  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="StatisticsRenderer.dll"/>
    <Assembly FileName="..\SkinEngine\SharpDX.dll"/> <!-- Placed in SkinEngine plugin -->
    <PluginStateTracker ClassName="MediaPortal.Plugins.StatisticsRenderer.StatisticsRenderer"/>
  </Runtime>

</Plugin>
