<Plugin
    DescriptorVersion="1.0"
    Name="SkinBase"
    PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"
    Author="Albert"
    Copyright="GPL"
    Description="Base services for the skin and default skin"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SkinBase.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="D4B7FEDD-243F-4afc-A8BE-28BBBF17D799" Name="ScreenSaverModel" ClassName="UiComponents.SkinBase.Models.ScreenSaverModel"/>
    <Model Id="9E9D0CD9-4FDB-4c0f-A0C4-F356E151BDE0" Name="MenuModel" ClassName="UiComponents.SkinBase.Models.MenuModel"/>
    <Model Id="E821B1C8-0666-4339-8027-AA45A4F6F107" Name="TimeModel" ClassName="UiComponents.SkinBase.Models.TimeModel"/>
    <Model Id="81A130E1-F417-47e4-AC9C-0B2E4912331F" Name="ServerAttachmentModel" ClassName="UiComponents.SkinBase.Models.ServerAttachmentModel"/>
    <Model Id="854ABA9A-71A1-420b-A657-9641815F9C01" Name="HomeServerModel" ClassName="UiComponents.SkinBase.Models.HomeServerModel"/>
    <Model Id="A2F24149-B44C-498b-AE93-288213B87A1A" Name="PlayerModel" ClassName="UiComponents.SkinBase.Models.PlayerModel"/>
    <Model Id="58A7F9E3-1514-47af-8E83-2AD60BA8A037" Name="PlayerConfigurationDialogModel" ClassName="UiComponents.SkinBase.Models.PlayerConfigurationDialogModel"/>
    <Model Id="95DD6923-058A-4481-AF33-2455CEBB7A03" Name="PlayerConfigurationContributorModel" ClassName="UiComponents.SkinBase.Actions.PlayerConfigurationAction"/>
    <Model Id="04854BDB-0933-4194-8AAE-DEC50062F37F" Name="CurrentMediaContributorModel" ClassName="UiComponents.SkinBase.Actions.CurrentMediaAction"/>
    <Model Id="08E19EDA-7BB3-4e74-8079-FFB0D52F3838" Name="FullscreenContentContributorModel" ClassName="UiComponents.SkinBase.Actions.FullscreenContentAction"/>
    <Model Id="793DAD9F-F64C-4c7a-86C0-F5AA222D0CDB" Name="AttachDetachContributorModel" ClassName="UiComponents.SkinBase.Actions.AttachDetachAction"/>
  </Register>

  <Register Location="/Services">
    <Service Id="ConnectionListenerService" RegistrationClassName="UiComponents.SkinBase.IConnectionListenerService"
        ServiceClassName="UiComponents.SkinBase.ConnectionListenerService"/>
  </Register>

  <Register Location="/Skins/default">
    <Background Id="Background" BackgroundManagerClassName="UiComponents.SkinBase.PlayerBackgroundManager"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="SkinBaseLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="DefaultSkinBaseSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Appearance"
        Redundant="true"
        Text="[Settings.Appearance]"
        IconSmallPath="Resources\ConfigurationImages\skin-22.png"
        IconLargePath="Resources\ConfigurationImages\skin-48.png"/>
    <ConfigSection
        Id="General"
        Redundant="true"
        Text="[Settings.General]"
        IconSmallPath="Resources\ConfigurationImages\general-22.png"
        IconLargePath="Resources\ConfigurationImages\general-48.png"/>
    <ConfigSection
        Id="Regional"
        Redundant="true"
        Text="[Settings.Regional]"
        IconSmallPath="Resources\ConfigurationImages\globe-22.png"
        IconLargePath="Resources\ConfigurationImages\globe-48.png"/>
  </Register>

  <!-- Contents of '/Appearance' section -->
  <Register Location="/Configuration/Settings/Appearance">
    <ConfigSection
        Id="Skin"
        Redundant="true"
        Text="[Settings.Appearance.Skin]"/>
  </Register>

  <!-- Contents of '/Appearance/Skin' section -->
  <Register Location="/Configuration/Settings/Appearance/Skin">
    <ConfigGroup
        Id="Formats"
        Redundant="true"
        Text="[Settings.Appearance.Skin.Formats]"/>
  </Register>

  <!-- Contents of '/Appearance/Skin/Formats' group -->
  <Register Location="/Configuration/Settings/Appearance/Skin/Formats">
    <ConfigSetting
        Id="TimeFormat"
        Text="[Settings.Appearance.Skin.Formats.TimeFormat]"
        HelpText="[Settings.Appearance.Skin.Formats.TimeFormat.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.Appearance.Skin.TimeFormat"/>
    <ConfigSetting
        Id="DateFormat"
        Text="[Settings.Appearance.Skin.Formats.DateFormat]"
        HelpText="[Settings.Appearance.Skin.Formats.DateFormat.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.Appearance.Skin.DateFormat"/>
  </Register>

  <!-- Contents of '/General' section -->
  <Register Location="/Configuration/Settings/General">
    <ConfigGroup
        Id="System"
        Redundant="true"
        Text="[Settings.General.System]"/>
    <ConfigGroup
        Id="Server"
        Redundant="true"
        Text="[Settings.General.Server]"/>
  </Register>

  <!-- Contents of '/General/Server' group -->
  <Register Location="/Configuration/Settings/General/Server">
    <CustomConfigSetting
        Id="HomeServer"
        Text="[Settings.General.Server.HomeServer]"
        HelpText="[Settings.General.Server.HomeServer.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.General.HomeServerSetting"
        AdditionalData="WorkflowState=17214BAC-E79C-4e5e-9280-A01478B27579,ConfAppPanel=..."/>
    <ConfigSetting
        Id="ServerListener"
        Text="[Settings.General.Server.ServerListener]"
        HelpText="[Settings.General.Server.ServerListener.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.General.ServerListener"/>
  </Register>

  <!-- Contents of '/General/System' group -->
  <Register Location="/Configuration/Settings/General/System">
    <ConfigSetting
        Id="Autostart"
        Text="[Settings.General.System.Autostart]"
        HelpText="[Settings.General.System.Autostart.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.General.Autostart"/>
    <ConfigSetting
        Id="Balloontips"
        Text="[Settings.General.System.Balloontips]"
        HelpText="[Settings.General.System.Balloontips.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.General.Balloontips"/>
  </Register>

  <!-- Contents of '/Regional' section -->
  <Register Location="/Configuration/Settings/Regional">
    <ConfigGroup
        Id="Language"
        Redundant="true"
        Text="[Settings.Regional.Language]"/>
  </Register>

  <!-- Contents of '/Regional/Language' group -->
  <Register Location="/Configuration/Settings/Regional/Language">
    <ConfigSetting
        Id="MainLanguage"
        Text="[Settings.Regional.Language.Main]"
        HelpText="[Settings.Regional.Language.Main.Help]"
        ClassName="UiComponents.SkinBase.Settings.Configuration.Regional.MainLanguage"/>
  </Register>
</Plugin>
