<Plugin
    Version = "1.0"
    Name = "MetaDataMapper"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "MetaDataMapper"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Services.MetaDataMapper.dll"/>
  </Runtime>

  <Register Location = "/Services">
    <Instance Id = "IMetaDataFormatterCollection" ClassName = "Components.Services.MetaDataMapper.MetaDataFormatterCollection"/>
    <Instance Id = "IMetadataMappingProvider" ClassName = "Components.Services.MetaDataMapper.MetadataMappingProvider"/>
  </Register>
</Plugin>