<Plugin
    Version = "1.0"
    Name = "Settings"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Settings Plugin">

  <Runtime>
    <Assembly FileName="Settings.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="{1E0332C8-A2D9-44ee-A87F-64B37673EACA}" Name="RefreshrateSettingsModel" ClassName = "UiComponents.Settings.RefreshrateSettings"/>
    <Model Id="{8D9D63A0-4FBB-48fb-B107-3804048C43FA}" Name="MusicSettingsModel" ClassName = "UiComponents.Settings.MusicSettings"/>
    <Model Id="{E5062924-0252-4561-B64D-1BB7C57950BF}" Name="VideoSettingsModel" ClassName = "UiComponents.Settings.VideoSettings"/>
  </Register>
</Plugin>