<Plugin
    Version = "1.0"
    Name = "DatabaseProvider"
    Author = "Frodo"
    Copyright = "GPL"
    Description = "Database Provider"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "DatabaseProvider.dll"/>
  </Runtime>

  <Register Location = "/Media/Providers">
    <Instance Id = "DatabaseProvider" ClassName = "Media.Providers.DatabaseProvider.DatabaseProvider"/>
  </Register>
</Plugin>