<Plugin
    Version = "1.0"
    Name = "MovieMetadataExtractor"
    Author = "Frodo, Albert"
    Copyright = "GPL"
    Description = "Movie metadata extractor"
    PluginVersion = "1.0">

  <DependsOn>
    <PluginReference Name="MediaInfoPlugin"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName = "MovieMetadataExtractor.dll"/>
  </Runtime>

  <Register Location = "/Media/MetadataExtractors">
    <Instance
        Id = "MovieMetadataExtractor"
        ClassName = "MediaPortal.Media.MetadataExtractors.MovieMetadataExtractor.MovieMetadataExtractor"/>
  </Register>
</Plugin>