<Plugin
    Version = "1.0"
    Name = "SkinEngine"
    Author = "Frodo, Albert78"
    Copyright = "GPL"
    AutoActivate = "true" 
    Description = "DirectX Window Manager"
    PluginVersion = "1.0">

  <DependsOn>
    <PluginReference Name="Configuration"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName = "MediaPortal.SkinEngine.dll"/>
    <PluginStateTracker ClassName= "MediaPortal.SkinEngine.SkinEnginePlugin"/>
  </Runtime>

  <Configuration>
    <Group
    Location = "/Appearance/System"
    Text = "[configuration.system]"/>
    <Setting
    Location = "/Appearance/System/Fullscreen"
    Text = "[configuration.system.fullscreen]"
    HelpText = "[configuration.system.fullscreen.help]"
    ClassName = "MediaPortal.SkinEngine.Settings.Fullscreen"/>
  </Configuration>
  
</Plugin>