<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS" version="2.4.12.1" targetFramework="net451" />
  <package id="bass.aac" version="2.4.5.1" targetFramework="net451" />
  <package id="bass.ac3" version="2.4.0.5" targetFramework="net451" />
  <package id="bass.adx" version="2.4.1.1" targetFramework="net451" />
  <package id="bass.aix" version="2.4.1.1" targetFramework="net451" />
  <package id="bass.alac" version="2.4.3" targetFramework="net451" />
  <package id="bass.ape" version="2.4.2.0" targetFramework="net451" />
  <package id="bass.cd" version="2.4.6.0" targetFramework="net451" />
  <package id="bass.dsd" version="2.4.0.2" targetFramework="net451" />
  <package id="bass.flac" version="2.4.3.0" targetFramework="net451" />
  <package id="bass.fx" version="2.4.11.1" targetFramework="net451" />
  <package id="bass.midi" version="2.4.10.0" targetFramework="net451" />
  <package id="bass.mix" version="2.4.8.0" targetFramework="net451" />
  <package id="bass.mpc" version="2.4.1.2" targetFramework="net451" />
  <package id="BASS.NET" version="2.4.12.5" targetFramework="net451" />
  <package id="bass.ofr" version="2.4.0.2" targetFramework="net451" />
  <package id="bass.spx" version="2.4.3.2" targetFramework="net451" />
  <package id="bass.tags" version="0.0.17" targetFramework="net451" />
  <package id="bass.tta" version="2.4.0.2" targetFramework="net451" />
  <package id="bass.wasapi" version="2.4.1.2" targetFramework="net451" />
  <package id="bass.wma" version="2.4.5.1" targetFramework="net451" />
  <package id="bass.wv" version="2.4.6.0" targetFramework="net451" />
  <package id="BassRegistration" version="2.4.12.5" targetFramework="net451" />
</packages>