<Plugin
    DescriptorVersion="1.0" 
    Name="BassLibraries"
    PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}"
    Author="un4seen, Team MediaPortal"
    Copyright="GPL"
    Description="Bass support plugin">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="BassLibraries.dll"/>
    <Assembly FileName="Bass.Net.dll"/>
    <Assembly FileName="BassRegistration.dll"/>
  </Runtime>
</Plugin>
