<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <!-- Directory definition -->
    <DirectoryRef Id="TeamMediaPortalFolder">
      <Directory Id="INSTALLDIR_SERVER" Name="MP2-Server" />
    </DirectoryRef>

    <DirectoryRef Id="TeamMediaPortal.DATA.FOLDER">
      <Directory Id="SERVER.DATA.FOLDER" Name="MP2-Server">
        <Component Id="SERVER.DATA.FOLDER" Guid="4C918D8D-9925-49D9-8CC9-0369A32F6221">
          <CreateFolder/>
        </Component>

        <Directory Id="SERVER.CONFIG.FOLDER" Name="Config">
          <Component Id="SERVER.CONFIG.FOLDER" Guid="97054EC5-47F1-4072-ADC3-BB4BF26CF35A">
            <CreateFolder/>
          </Component>
        </Directory>
        <Directory Id="SERVER.LOG.FOLDER" Name="Log">
          <Component Id="SERVER.LOG.FOLDER" Guid="4FF03809-8904-43E9-929B-A1397853A77F">
            <CreateFolder/>
          </Component>
        </Directory>
        <Directory Id="SERVER.DATABASE.FOLDER" Name="Database">
          <Component Id="SERVER.DATABASE.FOLDER" Guid="A7ABDEB5-0D3F-48B7-A4EA-92B1B5DE6C2A">
            <CreateFolder/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <!-- Directory content -->
    <DirectoryRef Id="INSTALLDIR_SERVER" FileSource="$(var.MediaPortal.Server.TargetDir)">
      
      <Component Id="Server.Registry.InstallDir" Guid="AB85C3C6-423A-484D-93B6-60A24057E683">
        <RegistryKey Root="HKLM"
                     Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="INSTALLDIR_SERVER" Value="[INSTALLDIR_SERVER]"/>
        </RegistryKey>
        <CreateFolder />
      </Component>

      <!-- Albert, 2012-03-04: If we would let the user change the custom paths, we could write them here to the Paths.xml file.
                                 We would need to call our custom action PrepareXmlPathVariables(). -->
      <!--
      <Directory Id="S__Defaults" Name="Defaults">
        <Component Id="S__Defaults" Guid="9894844B-C89B-4F8D-A905-751B836A5DF3">
          <File Id="S__Paths.xml" Name="Paths.xml" KeyPath="yes" Checksum="yes" />
        </Component>
      </Directory>
      -->

      <Component Id="Server.exe" Guid="3AF13E59-DC3A-4C6F-A0EB-89462019140C">
        <File Id="Server.exe" Name="MP2-Server.exe" KeyPath="yes" Checksum="yes">
          <fire:FirewallException Id="MP2ServerExTCPDom" Name="MP2-Server TCP Domain" Profile="domain" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExTCPPriv" Name="MP2-Server TCP Private" Profile="private" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExUDPDom" Name="MP2-Server UDP Domain" Profile="domain" Protocol="udp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExUDPPriv" Name="MP2-Server UDP Private" Profile="private" Protocol="udp" Scope="any" IgnoreFailure="yes" />
        </File>
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="MP2-Server"
            DisplayName="!(loc.Service_DisplayName)"
            Description="!(loc.Service_Description)"
            Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="MP2-Server" Wait="yes" />
      </Component>

    </DirectoryRef>

    <!-- Feature -->
    <Feature Id="Server"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_SERVER"
             Title="!(loc.F_Server)"
             Description="!(loc.F_Server_Desc)">

      <ComponentRef Id="SERVER.DATA.FOLDER" />
      <ComponentRef Id="SERVER.CONFIG.FOLDER" />
      <ComponentRef Id="SERVER.LOG.FOLDER" />
      <ComponentRef Id="SERVER.DATABASE.FOLDER" />

      <ComponentRef Id="Server.exe" />
      <ComponentRef Id="Server.Registry.InstallDir" />

      <ComponentGroupRef Id="Server.Heat"/>
    </Feature>

  </Fragment>
</Wix>