<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <?include $(var.SolutionDir)\Includes.wxi?>

    <!-- Icon -->
    <Icon Id="SetupTV" SourceFile="$(var.SlimTv.Service3.TargetDir)\SetupTV.ico" />

    <!-- Shortcuts -->
    <DirectoryRef Id="MP2.StartMenu">
      <Component Id="SetupTV.StartMenu.Shortcut" Guid="08D3FF8F-A2AE-4AAA-8598-981F1E26F299">
        <Condition>STARTMENUSHORTCUTS = 1</Condition>
        <Shortcut Id="SetupTV.StartMenu.Shortcut"
                  Name="MediaPortal 2 TV Configuration"
                  Target="[SERVER_PLUGINS_FOLDER]\SlimTv.Service3\SetupTV.exe"
                  Icon="SetupTV"
                  WorkingDirectory="INSTALLDIR_SERVER" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="SetupTV.StartMenu.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="SetupTV.Desktop.Shortcut" Guid="958D7666-FDE2-43EF-BE84-4D19F7BAEA32">
        <Condition>DESKTOPSHORTCUTS = 1</Condition>
        <Shortcut Id="SetupTV.Desktop.Shortcut"
                  Name="MediaPortal 2 TV Configuration"
                  Target="[SERVER_PLUGINS_FOLDER]\SlimTv.Service3\SetupTV.exe"
                  Icon="SetupTV"
                  WorkingDirectory="INSTALLDIR_SERVER" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="SetupTV.Desktop.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Feature -->
    <Feature Id="SlimTv.Service3"
             Level="1"
             AllowAdvertise="no"
             Title="!(loc.F_SlimTvService3)"
             Description="!(loc.F_SlimTvService3_Desc)">

      <ComponentRef Id="SetupTV.StartMenu.Shortcut" />
      <ComponentRef Id="SetupTV.Desktop.Shortcut" />

      <ComponentGroupRef Id="SlimTv.Service3.Heat"/>
    </Feature>
    
	</Fragment>
</Wix>
