<Plugin
    DescriptorVersion="1.0"
    Name="ZipResourceProvider"
    PluginId="{6B042DB8-69AD-4B57-B869-1BCEA4E43C77}"
    Author="Bavarian"
    Copyright="GPL"
    Description="Zip files resource provider">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="ZipResourceProvider.dll"/>
  </Runtime>

  <Register Location="/ResourceProviders">
    <Instance Id="ZipProvider" ClassName="MediaPortal.Extensions.ResourceProviders.ZipResourceProvider.ZipResourceProvider"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="ZipResourceProviderLanguage" Directory="Language" Type="Language"/>
  </Register>
</Plugin>

