<Plugin
    DescriptorVersion="1.0"
    Name="SlimTv Resources Plugin"
    PluginId="{801041F6-E613-4E1C-8132-2BC696B9012D}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Provides provider independend resources like channel logos."
    AutoActivate="true">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="SlimTv.Resources.dll"/>
    <Assembly FileName="FanArtService.Interfaces.dll"/>
  </Runtime>

  <!-- We use our own local name here to avoid circular references to FanArtService -->
  <Builder Name="SlimTvFanartProviderBuilder" ClassName="MediaPortal.Extensions.UserServices.FanArtService.Interfaces.Providers.FanartProviderBuilder"/>
  <Register Location="/Fanart/Providers">
    <SlimTvFanartProviderBuilder Id="{FD33FDDA-4F07-4518-BB33-273C031D6B08}" MediaTypes="Channel" ClassName="MediaPortal.Plugins.SlimTv.SlimTvResources.FanartProvider.SlimTvFanartProvider"/>
  </Register>
</Plugin>

