<Plugin
    DescriptorVersion="1.0"
    Name="DefaultVideoPlayer"
    PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"
    Author="Frodo, Albert"
    Copyright="GPL"
    Description="This plugin contains default players for several video formats and DVD"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="VideoPlayers.dll"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="47924D05-C8B6-4a75-8EFE-8A9CD73AA518" ClassName="Ui.Players.Video.VideoPlayerBuilder"/>
  </Register>

  <Register Location="/Models">
    <Model Id="4E2301B4-3C17-4a1d-8DE5-2CEA169A0256" Name="VideoPlayerModel" ClassName="Ui.Players.Video.VideoPlayerModel"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="VideoPlayerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="DefaultVideoPlayerSkin" Directory="Skin" Type="Skin"/>
  </Register>

</Plugin>
