<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <Property Id="DX9RUNTIME1">
      <DirectorySearch Id="SystemFolderDx9_41" Path="[SystemFolder]">
        <!-- Note: Version number needs to be 1 less then the actual file version !-->
        <FileSearch Name="D3DX9_41.DLL" MinVersion="9.26.952.2843"/>
      </DirectorySearch>
    </Property>

    <Property Id="DX9RUNTIME2">
      <DirectorySearch Id="SystemFolderDx9_43" Path="[SystemFolder]">
        <!-- Note: Version number needs to be 1 less then the actual file version !-->
        <FileSearch Name="D3DX9_43.DLL" MinVersion="9.29.952.3110"/>
      </DirectorySearch>
    </Property>

    <PackageGroup Id="directx9">
      <ExePackage Id="directx9" Cache="yes" PerMachine="yes" Permanent="yes" Vital="yes" Compressed="no"
                  Name="dxwebsetup.exe"
                  DownloadUrl="http://download.microsoft.com/download/1/7/1/1718CCC4-6315-4D8E-9543-8E28A4E18C4C/dxwebsetup.exe"
                  InstallCommand="/q"
                  InstallCondition="NOT DX9RUNTIME1 OR NOT DX9RUNTIME2">
        <RemotePayload Description="Microsoft DirectX9C Web Setup" ProductName="Microsoft DirectX9C Web Setup" Size="292184" Version="10.0.30319.1" Hash="3c8243734cf43dd7bb2332ba05b58ccacfa4377c"/>
      </ExePackage>
    </PackageGroup>

  </Fragment>

</Wix>
