<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <util:FileSearch Id="Dokan_1000_Version"
           Variable="Dokan_1000_Version" Path="[SystemFolder]DOKAN1.DLL"
           Result="version"/>

    <PackageGroup Id="dokan">
      <ExePackage Id="dokan" Cache="yes" PerMachine="yes" Permanent="yes" Vital="yes" Compressed="no"
                  Name="DokanSetup.exe"
                  DownloadUrl="http://install.team-mediaportal.com/MP2/install/DokanSetup.exe"
                  InstallCommand="/q"
                  InstallCondition="(NOT Dokan_1000_Version >= v1.0.0.0) OR NOT Dokan_1000_Version">
        <RemotePayload
                  CertificatePublicKey="70E450EF45A7F579112248987E26294ACCDC3D2F"
                  CertificateThumbprint="F8A563CC68F5C1501337A38404F81CC9E1567A14"
                  Description="Dokan Library 1.0.1.1000 Bundle"
                  Hash="3D62E6D105CD4941D0B71BDBBE4C880770EB0240"
                  ProductName="Dokan Library 1.0.1.1000 Bundle"
                  Size="5759592"
                  Version="1.0.1.1000" />
      </ExePackage>
    </PackageGroup>

  </Fragment>

</Wix>
