<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>

    <!-- 
         Note: Version variables defined here should follow the naming convention [Package Id]_Version
         as they will be looked up by the Bootstrapper to determine the currently installed version.
    -->

    <util:FileSearch Id="Dokan_1000_Version" Variable="dokan_Version" Path="[SystemFolder]DOKAN1.DLL" Result="version" />
    <PackageGroup Id="dokan">
      <ExePackage Id="dokan" Cache="keep" PerMachine="yes" Permanent="yes" Vital="yes" DetectCondition="dokan_Version &gt;= v1.0.0.0" InstallArguments="/q">
        <ExePackagePayload Name="DokanSetup-1.0.5.1000.exe" ProductName="Dokan Library 1.0.5.1000 Bundle" Description="Dokan Library 1.0.5.1000 Bundle"
                           DownloadUrl="http://install.team-mediaportal.com/MP2/install/DokanSetup-1.0.5.1000.exe"
                           Hash="0046D13842ECB36DC0E8E83BADA3922CC91BBF5CE1A3C7683505F37A2AC846A0FEC36ED3B88A52131D745FEE84ADAC937E19C03B5DAC9EE347C90F9922F376A7"
                           Size="6835728" Version="1.0.5.1000" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
