<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <PackageGroup Id="LAVFilters">
      <ExePackage Id="LAVFilters" Cache="yes" Permanent="yes" Vital="yes" Compressed="no"
                  Name="LAVFilters.exe"
                  DownloadUrl="http://install.team-mediaportal.com/MP2/install/LAVFilters.exe"
                  InstallCommand="/VERYSILENT /SP-">
        <RemotePayload 
                  CertificatePublicKey="13D546F374FB43B26E99D5E16F9CC35FEEE9F890" 
                  CertificateThumbprint="394983FFD62B9BEB9FA2C1B0F4BD50BFA71B088E" 
                  Description="LAV Filters Setup" 
                  Hash="69C0D78971DEA0B466166F6B53B54A21CFE535FA" 
                  ProductName="LAV Filters" 
                  Size="10746592" 
                  Version="0.70.0.0" />
      </ExePackage>
    </PackageGroup>
	</Fragment>
</Wix>
