<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <?include $(var.SolutionDir)\Includes.wxi?>

    <!-- Installation directory to pass to the package, defaults to 'Program Files (x86)\Team MediaPortal' --> 
    <Variable Name="INSTALLDIR" bal:Overridable="yes" Value="[ProgramFilesFolder]$(var.Manufacturer)" />
    
    <!-- Shortcut installation options to pass to the package, defaults to empty which allows the package to determine the appropriate value --> 
    <Variable Name="CREATESTARTMENUSHORTCUTS" Type="string" Value="" bal:Overridable="yes" />
    <Variable Name="CREATEDESKTOPSHORTCUTS" Type="string" Value="" bal:Overridable="yes" />

    <!-- Search for a previous install directory -->
    <util:RegistrySearch Id="PreviousInstallDirectorySearch"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="INSTALLDIR"
                         Variable="PreviousInstallDirectory"/>

    <!-- If a previous install directory exists in the registry, check that the directory still exists,
         if so use it as the current install directory, if not keep the default install directory-->
    <util:DirectorySearch Path="[PreviousInstallDirectory]"
                          Variable="INSTALLDIR"
                          After="PreviousInstallDirectorySearch"
                          Condition="PreviousInstallDirectory" />
    
    <!-- Search for the previous value of create start menu shortcuts, update the CREATESTARTMENUSHORTCUTS variable only if it exists -->
    <util:RegistrySearch Id="CreateStartMenuShortcutsRegistryExists"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="STARTMENUSHORTCUTS"
                         Variable="CreateStartMenuShortcutsRegistryExists"
                         Result="exists"/>
    <util:RegistrySearch Id="CreateStartMenuShortcutsRegistry"
                         After="CreateStartMenuShortcutsRegistryExists"
                         Condition="CreateStartMenuShortcutsRegistryExists"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="STARTMENUSHORTCUTS"
                         Variable="CREATESTARTMENUSHORTCUTS"/>
    
    <!-- Search for the previous value of create desktop shortcuts, update the CREATEDESKTOPSHORTCUTS variable only if it exists -->
    <util:RegistrySearch Id="CreateDesktopShortcutsRegistryExists"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="DESKTOPSHORTCUTS"
                         Variable="CreateDesktopShortcutsRegistryExists"
                         Result="exists"/>
    <util:RegistrySearch Id="CreateDesktopShortcutsRegistry"
                         After="CreateDesktopShortcutsRegistryExists"
                         Condition="CreateDesktopShortcutsRegistryExists"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="DESKTOPSHORTCUTS"
                         Variable="CREATEDESKTOPSHORTCUTS"/>

    <PackageGroup Id="MediaPortal2">
      <MsiPackage Id="MediaPortal2"
                  SourceFile="..\MP2-Setup\Bin\$(var.Configuration)\en-us\MP2-Setup.msi"
                  EnableFeatureSelection="yes"
                  DisplayInternalUI="no"
                  Compressed="yes"
                  Vital="yes"
                  Visible="yes">
        <MsiProperty Name="INSTALLDIR" Value="[INSTALLDIR]"/>
        <MsiProperty Name="CREATESTARTMENUSHORTCUTS" Value="[CREATESTARTMENUSHORTCUTS]"/>
        <MsiProperty Name="CREATEDESKTOPSHORTCUTS" Value="[CREATEDESKTOPSHORTCUTS]"/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
