<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <?include $(var.SolutionDir)\Includes.wxi?>

    <Variable Name="INSTALLDIR" bal:Overridable="yes" Value="[ProgramFilesFolder]$(var.Manufacturer)" />

    <!-- Search for a previous install directory -->
    <util:RegistrySearch Id="PreviousInstallDirectorySearch"
                         Win64="no"
                         Root="HKLM"
                         Key="$(var.RegKeyRoot)"
                         Value="INSTALLDIR"
                         Variable="PreviousInstallDirectory"/>

    <!-- If a previous install directory exists in the registry, check that the directory still exists,
         if so use it as the current install directory, if not keep the default install directory-->
    <util:DirectorySearch Path="[PreviousInstallDirectory]"
                          Variable="INSTALLDIR"
                          After="PreviousInstallDirectorySearch"
                          Condition="PreviousInstallDirectory" />

    <PackageGroup Id="MediaPortal2">
      <MsiPackage Id="MediaPortal2"
                  SourceFile="..\MP2-Setup\Bin\$(var.Configuration)\en-us\MP2-Setup.msi"
                  EnableFeatureSelection="yes"
                  DisplayInternalUI="no"
                  Compressed="yes"
                  Vital="yes"
                  Visible="yes">
        <MsiProperty Name="INSTALLDIR" Value="[INSTALLDIR]"/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
