<Plugin
    Version = "1.0"
    Name = "BassPlayer"
    Author = "hwahrmann/symphy"
    Copyright = "GPL"
    Description = "Bass Music Player"
    PluginVersion = "1.0">

  <DependsOn>
    <PluginReference Name="PlayerManager"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName = "BassPlayer.dll"/>
    <PluginStateTracker ClassName = "Media.Players.BassPlayer.BassPlayerPlugin"/>
  </Runtime>

  <Register Location = "/Media/Players">
    <Player Id = "BassPlayerPlugin" ClassName = "Media.Players.BassPlayer.BassPlayerPlugin" Type = "audio" Extensions = ".mp3,.ogg,.wav,.flac,.cda,.asx,.dts,.mod,.mo3,.s3m,.xm,.it,.mtm,.umx,.mdz,.s3z,.itz,.xmz,.mp2,.mp1,.aiff,.m2a,.mpa,.m1a,.swa,.aif,.mp3pro,.aac,.mp4,.m4a,.m4b,.ac3,.aac,.mov,.ape,.apl,.midi,.mid,.rmi,.kar,.mpc,.mpp,.mp+,.ofr,.ofs,.spx,.tta,.wma,.wv"/>
  </Register>
</Plugin>