<Plugin
    Version = "1.0"
    Name = "SharesProvider"
    Author = "Frodo"
    Copyright = "GPL"
    Description = "Predefined shares Provider"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "SharesProvider.dll"/>
  </Runtime>

  <Register Location = "/Media/Providers">
    <Instance Id = "SharesProvider" ClassName = "Media.Providers.SharesProvider.SharesProvider"/>
  </Register>
</Plugin>