<Plugin
    Version = "1.0" 
    Name = "MediaManager"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "MediaManager"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Services.MediaManager.dll"/>
    <PluginStateTracker ClassName = "Components.Services.MediaManager.MediaManager"/>
  </Runtime>

  <Register Location = "/Services">
    <Instance Id = "IMediaManager" ClassName = "Components.Services.MediaManager.MediaManager"/>
  </Register>
</Plugin>