<Plugin
    DescriptorVersion="1.0"
    Name="MceRemoteReceiver"
    PluginId="{68FB8837-FA41-4701-85A6-6A0EDAC92E36}"
    Author="chefkoch"
    Copyright="GPL"
    AutoActivate="true"
    Description="Control your MP2 by a Microsoft MCE Remote">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="MceRemoteReceiver.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.MceRemoteReceiver.MceRemoteReceiver"/>
  </Runtime>
</Plugin>