<Plugin
    Version = "1.0"
    Name = "Menu"
    Author = "Team MediaPortal"
    Copyright = "GPL"
    Description = "Provides Menu Services"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Menu.dll"/>
  </Runtime>

  <Register Location = "/Models/Menu">
    <Instance Id = "HomeMenu" ClassName = "Models.HomeMenu.HomeMenu"/>
  </Register>
</Plugin>