<Plugin
    DescriptorVersion="1.0"
    Name="BassAudioMetadataExtractor"
    PluginId="{85EEF5B4-7648-4747-8990-672E6AC3213A}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Metadata extractor based on BASS.NET for many kinds of audio file formats">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>

  <DependsOn>
    <PluginReference PluginId="{8B248D2D-C6DF-4263-BBF3-B424C6C81B31}" CompatibleAPI="2"/> <!-- AudioMetadataExtractor -->
    <PluginReference PluginId="{2BA6F93C-B2A9-4795-A99C-BA19126B1359}" CompatibleAPI="1"/> <!-- BassLibraries -->

    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Runtime>
    <Assembly FileName="BassAudioMetadataExtractor.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="BassAudioMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.BassAudioMetadataExtractor.BassAudioMetadataExtractor"/>
  </Register>
</Plugin>
