<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ServerPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="MediaInfoLib" Name="MediaInfoLib">

        <Component Id="MediaInfoLib" Guid="7E2FC532-635D-431E-A404-6C2861316A6C">
          <File Id="MediaInfoLib.dll" Name="MediaInfoLib.dll" KeyPath="yes" Checksum="yes" />
          <File Id="MediaInfoLib.plugin.xml" Name="plugin.xml" />

          <File Id="MediaInfo.dll" Name="MediaInfo.dll" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="MediaInfoLib" Level="0">
      <ComponentRef Id="MediaInfoLib" />
    </Feature>

  </Fragment>
</Wix>