<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ServerPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="S__MovieMetadataExtractor" Name="MovieMetadataExtractor">

        <Component Id="S__MovieMetadataExtractor" Guid="7D3C07C3-31C7-4A5F-B336-15F4C2D756BE">
          <File Id="S__MovieMetadataExtractor.dll" Name="MovieMetadataExtractor.dll" KeyPath="yes" Checksum="yes" />
          <File Id="S__MovieMetadataExtractor.plugin.xml" Name="plugin.xml" />

          <!-- todo: is duplicated MediaInfo.dll needed here? -->
          <File Id="S__MovieMetadataExtractor.MediaInfo.dll" Name="MediaInfo.dll" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="S__MovieMetadataExtractor" Level="0">
      <ComponentRef Id="S__MovieMetadataExtractor" />
    </Feature>

  </Fragment>
</Wix>