<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ServerPluginsFolder" FileSource="$(var.OutDirClient)\Plugins">
      <Directory Id="S__MusicMetadataExtractor" Name="MusicMetadataExtractor">

        <Component Id="S__MusicMetadataExtractor" Guid="273F257E-EEF5-4D34-8C4C-4C9018CD79EA">
          <File Id="S__MusicMetadataExtractor.dll" Name="MusicMetadataExtractor.dll" KeyPath="yes" Checksum="yes" />
          <File Id="S__MusicMetadataExtractor.plugin.xml" Name="plugin.xml" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="S__MusicMetadataExtractor" Level="0">
      <ComponentRef Id="S__MusicMetadataExtractor" />
    </Feature>

  </Fragment>
</Wix>