<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include ..\..\Includes.wxi ?>

    <DirectoryRef Id="ServerPluginsFolder" FileSource="$(var.OutDirServer)\Plugins">
      <Directory Id="SQLCEDatabase" Name="SQLCEDatabase">

        <Component Id="SQLCEDatabase" Guid="9A792E48-30CB-4C8B-8CCE-C9A1920BCC01">
          <File Id="SQLCEDatabase.dll" Name="SQLCEDatabase.dll" KeyPath="yes" Checksum="yes" />
          <File Id="SQLCEDatabase.plugin.xml" Name="plugin.xml" />

          <!-- todo: slimtvinterfaces are available multiple times -->
          <File Id="sqlceca35.dll" Name="sqlceca35.dll" />
          <File Id="sqlcecompact35.dll" Name="sqlcecompact35.dll" />
          <File Id="sqlceer35EN.dll" Name="sqlceer35EN.dll" />
          <File Id="sqlceme35.dll" Name="sqlceme35.dll" />
          <File Id="sqlceoledb35.dll" Name="sqlceoledb35.dll" />
          <File Id="sqlceqp35.dll" Name="sqlceqp35.dll" />
          <File Id="sqlcese35.dll" Name="sqlcese35.dll" />
          <File Id="System.Data.SqlServerCe.dll" Name="System.Data.SqlServerCe.dll" />
        </Component>

      </Directory>
    </DirectoryRef>

    <Feature Id="SQLCEDatabase" Level="0">
      <ComponentRef Id="SQLCEDatabase" />
    </Feature>

  </Fragment>
</Wix>