<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net451" />
  <package id="OneTrueError.Client" version="1.0.1" targetFramework="net451" />
  <package id="OneTrueError.Client.WinForms" version="1.0.3" targetFramework="net451" />
</packages>