<Plugin
    DescriptorVersion="1.0"
    Name="Weather"
    PluginId="{AD9C0439-F9DA-443c-BAC3-163891FB09F1}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Weather Plugin"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="Weather.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
  </DependsOn>
  
  <Register Location="/Models">
    <Model Id="92BDB53F-4159-4dc2-B212-6083C820A214" Name="WeatherModel" ClassName="MediaPortal.UiComponents.Weather.Models.WeatherModel"/>
    <Model Id="CF0434F2-B319-48ff-A700-0BB7F0C2CD2A" Name="WeatherSetupModel" ClassName="MediaPortal.UiComponents.Weather.Models.WeatherSetupModel"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="WeatherLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location = "/Resources/Skin">
    <Resource Id = "WeatherSkin" Directory = "Skin" Type = "Skin"/>
  </Register>

  <!-- Root configuration sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>

  <!-- Contents of '/Plugins' section -->
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="Weather"
        Redundant="true"
        Text="[Settings.Plugins.Weather]"/>
  </Register>

  <!-- Contents of '/Plugins/Weather' section -->
  <Register Location="/Configuration/Settings/Plugins/Weather">
    <CustomConfigSetting
        Id="WeatherConfiguration"
        Text="[Settings.Plugins.Weather.LocationSetup]"
        HelpText="[Settings.Plugins.Weather.LocationSetup.Help]"
        ClassName="MediaPortal.UiComponents.Weather.Settings.Configuration.WeatherConfigSetting"
        AdditionalData="WorkflowState=F1CE62B4-32CA-46e8-BCFB-250FE07911B2,ConfAppPanel=..."/>
  </Register>
</Plugin>