<Plugin
    DescriptorVersion="1.0"
    Name="Weather"
    PluginId="{AD9C0439-F9DA-443c-BAC3-163891FB09F1}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Weather Plugin">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>
  
  <Runtime>
    <Assembly FileName="Weather.dll"/>
    <PluginStateTracker ClassName="MediaPortal.UiComponents.Weather.WeatherPlugin"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Register Location="/Models">
    <Model Id="92BDB53F-4159-4dc2-B212-6083C820A214" Name="WeatherModel" ClassName="MediaPortal.UiComponents.Weather.Models.WeatherModel"/>
    <Model Id="FC57FF5C-F72F-47E9-B973-338E31FF7FF1" Name="CurrentWeatherModel" ClassName="MediaPortal.UiComponents.Weather.Models.CurrentWeatherModel"/>
    <Model Id="CF0434F2-B319-48ff-A700-0BB7F0C2CD2A" Name="WeatherSetupModel" ClassName="MediaPortal.UiComponents.Weather.Models.WeatherSetupModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="44E1CF89-66D0-4850-A076-E1B602432983" Name="Weather" MainScreen="Weather"
        DisplayLabel="[Weather.WeatherStateDisplayLabel]" WorkflowModel="92BDB53F-4159-4dc2-B212-6083C820A214"/> <!-- Weather Model -->

    <DialogState Id="F1CE62B4-32CA-46e8-BCFB-250FE07911B2" Name="Weather" DialogScreen="dialogWeatherSetup" 
        DisplayLabel="[Weather.WeatherSetupStateDisplayLabel]" WorkflowModel="CF0434F2-B319-48ff-A700-0BB7F0C2CD2A"/> <!-- Weather Setup Model -->

    <DialogState Id="9A20A26F-2EF0-4a45-8F92-42D911AE1D8F" Name="Weather" DialogScreen="dialogWeatherLocations" 
        DisplayLabel="[Weather.WeatherLocationStateDisplayLabel]" WorkflowModel="92BDB53F-4159-4dc2-B212-6083C820A214"/> <!-- Weather Model -->
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="WeatherLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location = "/Resources/Skin">
    <Resource Id = "WeatherSkin" Directory = "Skin" Type = "Skin"/>
  </Register>

  <!-- Root configuration sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>

  <!-- Contents of '/Plugins' section -->
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="Weather"
        Redundant="true"
        Text="[Settings.Plugins.Weather]"/>
  </Register>

  <!-- Contents of '/Plugins/Weather' section -->
  <Register Location="/Configuration/Settings/Plugins/Weather">
    <CustomConfigSetting
        Id="WeatherConfiguration"
        Text="[Settings.Plugins.Weather.LocationSetup]"
        HelpText="[Settings.Plugins.Weather.LocationSetup.Help]"
        ClassName="MediaPortal.UiComponents.Weather.Settings.Configuration.WeatherConfigSetting"
        AdditionalData="WorkflowState=F1CE62B4-32CA-46e8-BCFB-250FE07911B2,ConfAppPanel=..."/>
  </Register>
</Plugin>