<Plugin
    DescriptorVersion="1.0"
    Name="Apollo One Skin"
    PluginId="{AC4B8A5F-0399-40BB-91AD-55D2673929BD}"
    Author="Wizard123,Morpheus_xx"
    Copyright="GPL"
    AutoActivate="true"
    Description="Apollo One for MediaPortal 2.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2015-01-20 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="ApolloOne.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
    <PluginReference PluginId="{F6C71648-3874-4d27-9232-C41EBEDE0337}" CompatibleAPI="1"/> <!-- BackgroundManager -->

    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
  </DependsOn>

  <Register Location="/Models">
    <Model Id="EBA16B93-B669-4162-9CA2-CB1D5E267EC3" Name="HomeMenuModel" ClassName="MediaPortal.UiComponents.ApolloOne.Models.HomeMenuModel"/>
  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="ApolloOneLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="ApolloOneSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
