<Plugin
    DescriptorVersion="1.0"
    Name="UpNpProvider"
    PluginId="{43E01965-3E96-41e9-BEA1-172FF909FFF3}"
    Author="Frodo"
    Copyright="GPL"
    Description="UPNP Provider"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="UpNpProvider.dll"/>
  </Runtime>

  <Register Location="/Media/MediaProviders">
    <Instance Id="UpNpProvider" ClassName="Media.Providers.UpNpProvider.UpNpProvider"/>
  </Register>
</Plugin>