[Bb]in
[Oo]bj
*.log
*.suo
*.sln.cache
*.resharper
*.user
_ReSharper.*

# NuGet.exe will be downloaded by NuGet.targets if missing
nuget.exe
[Pp]ackages


# All executables, uncomment only if really necessary
*.exe
*.dll

# Don't include other languages than English into repository, others are managed with Transifex
strings_*.xml
!strings_en.xml