<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="TeamMediaPortal source @ MyGet" value="http://www.myget.org/F/mediaportal/" />
  </packageSources>
</configuration>