<Plugin
    DescriptorVersion="1.0"
    Name="SystemStateMenu"
    PluginId="{E5326D7C-698F-48C2-AA15-AD6CCBD1A96F}"
    Author="chefkoch"
    Copyright="GPL"
    Description="The SystemStateMenu plugin provides a menu to shutdown, suspend or restart the PC.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="2"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1"/> <!-- SkinBase -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="SystemStateMenu.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="25F16911-ED0D-4439-9858-5E69C970C037"
           Name="SystemStateDialogModel"
           ClassName="MediaPortal.Plugins.SystemStateMenu.Models.SystemStateDialogModel"/>
    <Model Id="B348CBF3-ABCF-4D3D-9397-DBA2FFA49FD6"
           Name="SystemStateMenuModel"
           ClassName="MediaPortal.Plugins.SystemStateMenu.Models.SystemStateMenuModel"/>
    <Model Id="869C15FC-AF55-4003-BF0D-F5AF7B6D0B3B"
           Name="SystemStateConfigurationModel"
           ClassName="MediaPortal.Plugins.SystemStateMenu.Models.SystemStateConfigurationModel"/>
    <Model Id="40FDD1C3-CFAB-4731-9636-96726301B648"
           Name="SleepTimerModel"
           ClassName="MediaPortal.Plugins.SystemStateMenu.Models.SleepTimerModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <!-- SystemState Dialog -->
    <DialogState Id="BBFA7DB7-5055-48D5-A904-0F0C79849369"
                 Name="dialogSystemState"
                 DialogScreen="dialogSystemState"
                 DisplayLabel="[SystemState.ShutdownDialogStateDisplayLabel]"
                 WorkflowModel="25F16911-ED0D-4439-9858-5E69C970C037"/>
    <!-- SystemStateConfiguration Dialog -->
    <DialogState Id="F499DC76-2BCE-4126-AF4E-7FEB9DB88E80"
                 Name="dialogSystemStateConfiguration"
                 DialogScreen="dialogSystemStateConfiguration"
                 DisplayLabel="[SystemState.ShutdownConfigurationDialogStateDisplayLabel]"
                 WorkflowModel="869C15FC-AF55-4003-BF0D-F5AF7B6D0B3B"/>
    <!-- SleepTimer Dialog -->
    <DialogState Id="5BFE10D3-6D66-46D8-B0BE-74F4190DA6A9"
                 Name="dialogSleepTimer"
                 DialogScreen="dialogSleepTimer"
                 DisplayLabel="[SystemState.ShutdownDialogStateDisplayLabel]"
                 WorkflowModel="40FDD1C3-CFAB-4731-9636-96726301B648"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="SystemStateMenuLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SystemStateMenuSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Register SystemStateConfiguration at '/General/System' group -->
  <Register Location="/Configuration/Settings/General/System">
    <CustomConfigSetting
        Id="SystemStateDialog"
        Text="[Settings.General.System.SystemStateDialog]"
        HelpText="[Settings.General.System.SystemStateDialog.Help]"
        ClassName="MediaPortal.Plugins.SystemStateMenu.Settings.Configuration.General.SystemStateDialogSettings"
        AdditionalData="WorkflowState=F499DC76-2BCE-4126-AF4E-7FEB9DB88E80,ConfAppPanel=..."/>
  </Register>

</Plugin>
