<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaPortal.TvEngine.Core3" version="3.0.16.2" targetFramework="net451" />
  <package id="MediaPortal.TvEngine.Interfaces" version="1.0.4" targetFramework="net451" />
  <package id="MSBuild.NugetContentRestore" version="0.1.5.2" targetFramework="net451" />
</packages>