<Plugin
    DescriptorVersion="1.0"
    Name="NfoMetadataExtractors"
    PluginId="{2505C495-28AA-4D1C-BDEE-CA4A3A89B0D5}"
    Author = "MJGraf"
    Copyright="GPL"
    Description="Metadata extractors reading metadata from local nfo-files">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="NfoMetadataExtractors.dll"/>
    <!-- Make sure that the Newtonsoft.Json.dll contained in OnlineLibraries is loaded -->
    <!-- The existence of the relative directory path below is ensured by the PluginReference above -->
    <Assembly FileName="..\OnlineLibraries\Newtonsoft.Json.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="NfoMovieMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.NfoMetadataExtractors.NfoMovieMetadataExtractor"/>
    <Instance
        Id="NfoSeriesMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.NfoMetadataExtractors.NfoSeriesMetadataExtractor"/>
  </Register>

  <Register Location="/Media/RelationshipExtractors">
    <Instance
        Id="NfoMovieRelationshipExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.NfoMetadataExtractors.MovieRelationshipExtractor"/>
    <Instance
        Id="NfoSeriesRelationshipExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.NfoMetadataExtractors.SeriesRelationshipExtractor"/>
  </Register>
</Plugin>
