<Plugin
    DescriptorVersion="1.0"
    Name="ImageMetadataExtractor"
    PluginId="{059F49E5-E7FB-43bd-B859-49BAAD497FFA}"
    Author="Frodo, Morpheus_xx"
    Copyright="GPL"
    Description="Metadata extractor for many kinds of image file formats">

  <Version
    PluginVersion="1.1"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="2"/>
  
  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{94B90D7C-EF2E-466C-9FDE-E9F57472761A}" CompatibleAPI="1"/> <!-- FreeImageLib -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="ImageMetadataExtractor.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="ImageMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.ImageMetadataExtractor.ImageMetadataExtractor"/>
  </Register>
</Plugin>
