<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <Feature Id="Server"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_SERVER"
             Title="!(loc.F_Server)"
             Description="!(loc.F_Server_Desc)">

      <ComponentRef Id="S__Defaults" />
      <ComponentRef Id="WriteCustomServerPaths" />

      <ComponentRef Id="ClientManager_create_1_0" />
      <ComponentRef Id="MediaLibrary_create_1_0" />
      <ComponentRef Id="MediaPortal_Basis_create_1_0" />

      <ComponentRef Id="MP2Server" />
      <ComponentRef Id="MP2Server.config" />
      <ComponentRef Id="MP2Server.Desktop.Shortcut" />
      <ComponentRef Id="MP2Server.StartMenu.Shortcut" />

      <ComponentRef Id="S__HttpServer" />
      <ComponentRef Id="S__log4net" />
      <ComponentRef Id="MediaPortal.Backend" />
      <ComponentRef Id="S__MediaPortal.Core" />
      <ComponentRef Id="S__MediaPortal.Utilities" />
      <ComponentRef Id="S_Microsoft.WindowsAPICodePack"/>
      <ComponentRef Id="S_Microsoft.WindowsAPICodePack.Shell"/>
      <ComponentRef Id="S__UPnP" />

      <Feature Id="Server.Plugins"
               Level="2"
               Absent="disallow"
               AllowAdvertise="no"
               ConfigurableDirectory="SERVER.PLUGINS.FOLDER"
               Title="!(loc.F_Server_Plugins)"
               Description="!(loc.F_Server_Plugins_Desc)">
        <ComponentGroupRef Id="ServerPlugins" />
      </Feature>

      <Feature Id="Server.Data" Level="2" Absent="disallow" AllowAdvertise="no"
               ConfigurableDirectory="SERVER.DATA.FOLDER"
               Title="!(loc.F_Server_Data)"
               Description="!(loc.F_Server_Data_Desc)">
        <ComponentRef Id="SERVER.DATA.FOLDER" />

        <Feature Id="Server.Config" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="SERVER.CONFIG.FOLDER"
                 Title="!(loc.F_Server_Config)"
                 Description="!(loc.F_Server_Config_Desc)">
          <ComponentRef Id="SERVER.CONFIG.FOLDER" />
        </Feature>
        <Feature Id="Server.Log" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="SERVER.LOG.FOLDER"
                 Title="!(loc.F_Server_Log)"
                 Description="!(loc.F_Server_Log_Desc)">
          <ComponentRef Id="SERVER.LOG.FOLDER" />
        </Feature>
        <Feature Id="Server.Database" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="SERVER.DATABASE.FOLDER"
                 Title="!(loc.F_Server_Database)"
                 Description="!(loc.F_Server_Database_Desc)">
          <ComponentRef Id="SERVER.DATABASE.FOLDER" />
        </Feature>
        <Feature Id="Server.RemoteResources" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="SERVER.REMOTERESOURCES.FOLDER"
                 Title="!(loc.F_Server_RemoteResources)"
                 Description="!(loc.F_Server_RemoteResources_Desc)">
          <ComponentRef Id="SERVER.REMOTERESOURCES.FOLDER" />
        </Feature>

      </Feature>
    </Feature>

  </Fragment>
</Wix>