<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <Feature Id="Server"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_SERVER"
             Title="!(loc.F_Server)"
             Description="!(loc.F_Server_Desc)">

      <ComponentRef Id="SERVER.DATA.FOLDER" />
      <ComponentRef Id="SERVER.CONFIG.FOLDER" />
      <ComponentRef Id="SERVER.LOG.FOLDER" />
      <ComponentRef Id="SERVER.DATABASE.FOLDER" />

      <ComponentRef Id="InstallDirServerRegistry" />

      <ComponentRef Id="S__Defaults" />

      <ComponentRef Id="ClientManager_create_1_0" />
      <ComponentRef Id="MediaLibrary_create_1_0" />
      <ComponentRef Id="MediaPortal_Basis_create_1_0" />

      <ComponentRef Id="MP2Server" />
      <ComponentRef Id="MP2Server.config" />
      <ComponentRef Id="MP2Server.Desktop.Shortcut" />
      <ComponentRef Id="MP2Server.StartMenu.Shortcut" />

      <ComponentRef Id="S__HttpServer" />
      <ComponentRef Id="S__log4net" />
      <ComponentRef Id="MediaPortal.Backend" />
      <ComponentRef Id="S__MediaPortal.Common" />
      <ComponentRef Id="S__MediaPortal.Utilities" />
      <ComponentRef Id="S_Microsoft.WindowsAPICodePack"/>
      <ComponentRef Id="S_Microsoft.WindowsAPICodePack.Shell"/>
      <ComponentRef Id="S__UPnP" />

      <Feature Id="Server.Plugins"
               Level="2"
               Absent="disallow"
               AllowAdvertise="no"
               ConfigurableDirectory="SERVER.PLUGINS.FOLDER"
               Title="!(loc.F_Server_Plugins)"
               Description="!(loc.F_Server_Plugins_Desc)">
        <ComponentGroupRef Id="ServerPlugins" />
      </Feature>
    </Feature>

  </Fragment>
</Wix>