<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <!-- Directories -->
    <DirectoryRef Id="INSTALLDIR_SERVER" FileSource="$(var.OutDirServer)">

      <Directory Id="S__Defaults" Name="Defaults">
        <Component Id="S__Defaults" Guid="9894844B-C89B-4F8D-A905-751B836A5DF3">
          <File Id="S__Paths.xml" Name="Paths.xml" KeyPath="yes" Checksum="yes" />
        </Component>

        <Component Id="InstallDirServerRegistry" Guid="AB85C3C6-423A-484D-93B6-60A24057E683">
          <RegistryKey Root="HKLM"
                       Key="Software\[Manufacturer]\[ProductName]"
                       Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="INSTALLDIR_SERVER" Value="[INSTALLDIR_SERVER]"/>
          </RegistryKey>
          <CreateFolder />
        </Component>
      </Directory>

      <Directory Id="Scripts" Name="Scripts">
        <Component Id="ClientManager_create_1_0" Guid="C8345C2F-AC4F-44B7-8FC8-FC31CDB782B2">
          <File Id="ClientManager_create_1.0.sql" Name="ClientManager-create-1.0.sql" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="MediaLibrary_create_1_0" Guid="FA84842F-A7F2-4DD4-B859-DBFB3931AF3D">
          <File Id="MediaLibrary_create_1.0.sql" Name="MediaLibrary-create-1.0.sql" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="MediaPortal_Basis_create_1_0" Guid="87AEE59F-516D-463A-9221-5C82D0A5246D">
          <File Id="MediaPortal_Basis_create_1.0.sql" Name="MediaPortal-Basis-create-1.0.sql" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="UserProfileDataManagement_create_1_0" Guid="24D425B0-27A0-4369-8614-5DFA0582F13C">
          <File Id="UserProfileDataManagement_create_1.0.sql" Name="UserProfileDataManagement-create-1.0.sql" KeyPath="yes" Checksum="yes" />
        </Component>
      </Directory>

      <Component Id="MP2Server" Guid="3AF13E59-DC3A-4C6F-A0EB-89462019140C">
        <File Id="MP2Server.exe" Name="MP2-Server.exe" KeyPath="yes" Checksum="yes">
          <fire:FirewallException Id="MP2ServerExTCPDom" Name="MP2-Server TCP Domain" Profile="domain" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExTCPPriv" Name="MP2-Server TCP Private" Profile="private" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExUDPDom" Name="MP2-Server UDP Domain" Profile="domain" Protocol="udp" Scope="any" IgnoreFailure="yes" />
          <fire:FirewallException Id="MP2ServerExUDPPriv" Name="MP2-Server UDP Private" Profile="private" Protocol="udp" Scope="any" IgnoreFailure="yes" />
        </File>
      </Component>
      <Component Id="MP2Server.config" Guid="1015AFE2-59B7-47B0-A1F8-F96053572A6F">
        <File Id="MP2Server.exe.config" Name="MP2-Server.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S__HttpServer" Guid="85F6FE7A-B5C5-4934-BDE1-53EA8A166762">
        <File Id="S__HttpServer.dll" Name="HttpServer.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S__log4net" Guid="B8B1CA85-3224-4287-86D0-06A391B0F43F">
        <File Id="S__log4net.dll" Name="log4net.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MediaPortal.Backend" Guid="C6555D68-586C-45FF-9E5B-92C00F6E3A25">
        <File Id="MediaPortal.Backend.dll" Name="MediaPortal.Backend.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S__MediaPortal.Common" Guid="51EFED2C-A252-4EEF-9C72-4829DA11FC27">
        <File Id="S__MediaPortal.Common.dll" Name="MediaPortal.Common.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S__MediaPortal.Utilities" Guid="9726D595-7054-438A-9E77-39ECEE934769">
        <File Id="S__MediaPortal.Utilities.dll" Name="MediaPortal.Utilities.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S_Microsoft.WindowsAPICodePack" Guid="BF43A8A4-47F1-43B4-9DC5-E4E883ADCE2C">
        <File Id="S_Microsoft.WindowsAPICodePack.dll" Name="Microsoft.WindowsAPICodePack.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S_Microsoft.WindowsAPICodePack.Shell" Guid="F574F216-D789-4E41-B7E7-6CCFE16B55C6">
        <File Id="S_Microsoft.WindowsAPICodePack.Shell.dll" Name="Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="S__UPnP" Guid="EC221FE7-04DC-4734-AC0F-0527B6B6BB01">
        <File Id="S__UPnP.dll" Name="UPnP.dll" KeyPath="yes" Checksum="yes" />
      </Component>

    </DirectoryRef>

    <!-- Shortcuts -->
    <DirectoryRef Id="MP2StartMenu">
      <Component Id="MP2Server.StartMenu.Shortcut" Guid="6A4D291B-5143-48F5-A277-65DAAE31623F">
        <Shortcut Id="MP2Server.StartMenu.Shortcut"
                  Name="!(loc.SC_Server)"
                  Description="!(loc.SC_Server_Desc)"
                  Target="[!MP2Server.exe]"
                  Icon="MediaPortal2ServerIcon" 
                  WorkingDirectory="INSTALLDIR_SERVER" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="MP2Server.StartMenu.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="MP2Server.Desktop.Shortcut" Guid="751AD25F-D690-4C01-8915-CD5DA4029F8E">
        <Shortcut Id="MP2Server.Desktop.Shortcut"
                  Name="!(loc.SC_Server)"
                  Description="!(loc.SC_Server_Desc)"
                  Target="[!MP2Server.exe]"
                  Icon="MediaPortal2ServerIcon"
                  WorkingDirectory="INSTALLDIR_SERVER" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="MP2Server.Desktop.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>