<Plugin
    DescriptorVersion="1.0"
    Name="FanArt Service Plugin"
    PluginId="{BDA68C24-EEA3-47D0-B43A-86E086E43AE1}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Provides access to fan art from MP2 clients"
    AutoActivate="true">

  <Version
    PluginVersion="1.2"
    ReleaseDate="2016-12-20 01:00:00 GMT+01:00"
    CurrentAPI="3"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="HttpServer" CompatibleAPI="1" />
    <CoreDependency Name="UPnP" CompatibleAPI="1" />
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}" CompatibleAPI="2"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="FanArtService.dll"/>
    <Assembly FileName="FanArtService.Interfaces.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Extensions.UserServices.FanArtService.FanArtServicePlugin"/>
  </Runtime>

  <!-- We use our own local name here to avoid circular references to FanArtService -->
  <Builder Name="FanartProviderBuilder" ClassName="MediaPortal.Extensions.UserServices.FanArtService.Interfaces.Providers.FanartProviderBuilder"/>
  <Register Location="/Fanart/Providers">
    <FanartProviderBuilder Id="{C9D5883D-99C6-4607-8B22-EF5DB2CFBE7B}" MediaTypes="Audio" ClassName="MediaPortal.Extensions.UserServices.FanArtService.AlbumThumbs"/>
    <FanartProviderBuilder Id="{D2D15B97-18F2-4224-8204-67C890403FDA}" MediaTypes="Movies,Series,Audio" ClassName="MediaPortal.Extensions.UserServices.FanArtService.MediaItemThumbs"/>
  </Register>

</Plugin>

