<Plugin
    DescriptorVersion="1.0"
    Name="ReloadScreen"
    PluginId="{8A3E438C-2304-4119-BF3A-0EB8A287B59C}"
    Author="Albert"
    Copyright="GPL"
    AutoActivate="true" 
    Description="Reloads all current screens by pressing F4"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="ReloadScreen.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Helpers.ReloadScreen.ReloadScreenPlugin"/>
  </Runtime>
</Plugin>
