<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <?include ..\Includes.wxi ?>

    <!-- Directories -->
    <DirectoryRef Id="INSTALLDIR_CLIENT" FileSource="$(var.OutDirClient)">

      <Directory Id="Defaults" Name="Defaults">
        <Component Id="Defaults" Guid="8B5A0635-DF72-4668-96BC-3F9CDDDFA5FF">
          <File Id="Paths.xml" Name="Paths.xml" KeyPath="yes" Checksum="yes" />
        </Component>
      </Directory>

      <Directory Id="Docs" Name="Docs">
        <Component Id="BASSLicense" Guid="AA26C33C-4939-480F-A01E-5F8FA46A2782">
          <File Id="BASSLicense.txt" Name="BASS License.txt" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="MediaPortalLicense" Guid="A7926457-4926-40CA-8632-CED29D0810F5">
          <File Id="MediaPortalLicense.rtf" Name="MediaPortal License.rtf" KeyPath="yes" Checksum="yes" />
        </Component>
      </Directory>

      <Component Id="MP2Client" Guid="15EAC789-4F3A-4F65-B758-92562DB7C5AA">
        <File Id="MP2Client.exe" Name="MP2-Client.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MP2Client.config" Guid="D3FFB65D-0A46-4F34-8472-85466CD1067C">
        <File Id="MP2Client.exe.config" Name="MP2-Client.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MP2ClientSplashscreen" Guid="B038F5DE-3940-46A9-AD12-C4142F826044">
        <File Id="MP2ClientSplashscreen.jpg" Name="MP2 Client Splashscreen.jpg" KeyPath="yes" Checksum="yes" />
      </Component>

      <Component Id="HttpServer" Guid="D26BF800-F936-4FD8-94A9-9A71CCB7AB3B">
        <File Id="HttpServer.dll" Name="HttpServer.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MediaPortal.Core" Guid="60570A25-6C30-4CBB-8484-261C99C74B71">
        <File Id="MediaPortal.Core.dll" Name="MediaPortal.Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MediaPortal.UI" Guid="07414112-5955-4639-B425-25DE0D55684D">
        <File Id="MediaPortal.UI.dll" Name="MediaPortal.UI.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="MediaPortal.Utilities" Guid="8BD9E84A-22B2-4C5D-9737-25526216F97B">
        <File Id="MediaPortal.Utilities.dll" Name="MediaPortal.Utilities.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="log4net" Guid="6AB68CEB-DABE-497E-887D-E4AACABE7016">
        <File Id="log4net.dll" Name="log4net.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="UPnP" Guid="DF7F4726-1AC0-4C8D-9222-850568F9E15C">
        <File Id="UPnP.dll" Name="UPnP.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="zlib1" Guid="1AFA13C5-506E-440A-A38C-8F519FB0EAD4">
        <File Id="zlib1.dll" Name="zlib1.dll" KeyPath="yes" Checksum="yes" />
      </Component>

    </DirectoryRef>

    <!-- Shortcuts -->
    <DirectoryRef Id="MP2StartMenu">
      <Component Id="MP2Client.StartMenu.Shortcut" Guid="1F79952A-464C-4E69-9C4F-F8F4488DE83F">
        <Shortcut Id="MP2Client.StartMenu.Shortcut"
                  Name="MediaPortal 2"
                  Description="MediaPortal 2 description"
                  Target="[!MP2Client.exe]"
                  Icon="MediaPortalIcon" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="MP2Client.StartMenu.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="MP2Client.Desktop.Shortcut" Guid="F005C623-CE3D-4ABD-A6DB-598D3859D58D">
        <Shortcut Id="MP2Client.Desktop.Shortcut"
                  Name="MediaPortal 2"
                  Description="MediaPortal 2 description"
                  Target="[!MP2Client.exe]"
                  Icon="MediaPortalIcon" />
        <!--
        Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
        http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
        -->
        <RegistryValue Root="HKCU"
                       Key="$(var.RegKeyInstall)"
                       Name="MP2Client.Desktop.Shortcut"
                       Type="string"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="MP2Client" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR_CLIENT" Title="Client" Description="Client description">

      <ComponentRef Id="Defaults" />

      <ComponentRef Id="BASSLicense" />
      <ComponentRef Id="MediaPortalLicense" />

      <ComponentRef Id="MP2Client" />
      <ComponentRef Id="MP2Client.config" />
      <ComponentRef Id="MP2ClientSplashscreen" />
      <ComponentRef Id="MP2Client.Desktop.Shortcut" />
      <ComponentRef Id="MP2Client.StartMenu.Shortcut" />

      <ComponentRef Id="HttpServer" />
      <ComponentRef Id="log4net" />
      <ComponentRef Id="MediaPortal.Core" />
      <ComponentRef Id="MediaPortal.UI" />
      <ComponentRef Id="MediaPortal.Utilities" />
      <ComponentRef Id="UPnP" />
      <ComponentRef Id="zlib1" />

      <ComponentGroupRef Id="ClientPlugins" />

    </Feature>

  </Fragment>
</Wix>