<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <Feature Id="Client"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_CLIENT"
             Title="!(loc.F_Client)"
             Description="!(loc.F_Client_Desc)">

      <ComponentRef Id="Defaults" />
      <ComponentRef Id="WriteCustomClientPaths" />

      <ComponentRef Id="BASSLicense" />
      <ComponentRef Id="MediaPortalLicense" />

      <ComponentRef Id="MP2Client" />
      <ComponentRef Id="MP2Client.config" />
      <ComponentRef Id="MP2Client.Splashscreen" />
      <ComponentRef Id="MP2Client.Desktop.Shortcut" />
      <ComponentRef Id="MP2Client.StartMenu.Shortcut" />

      <ComponentRef Id="HttpServer" />
      <ComponentRef Id="log4net" />
      <ComponentRef Id="MediaPortal.Common" />
      <ComponentRef Id="MediaPortal.UI" />
      <ComponentRef Id="MediaPortal.Utilities" />
      <ComponentRef Id="Microsoft.WindowsAPICodePack"/>
      <ComponentRef Id="Microsoft.WindowsAPICodePack.Shell"/>
      <ComponentRef Id="UPnP" />

      <Feature Id="Client.Plugins"
               Level="2"
               Absent="disallow"
               AllowAdvertise="no"
               ConfigurableDirectory="CLIENT.PLUGINS.FOLDER"
               Title="!(loc.F_Client_Plugins)"
               Description="!(loc.F_Client_Plugins_Desc)">
        <ComponentGroupRef Id="ClientPlugins" />
      </Feature>
    </Feature>

  </Fragment>
</Wix>