<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <?include ..\Includes.wxi ?>

    <Feature Id="Client"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_CLIENT"
             Title="!(loc.F_Client)"
             Description="!(loc.F_Client_Desc)">

      <ComponentRef Id="Defaults" />
      <ComponentRef Id="WriteCustomClientPaths" />

      <ComponentRef Id="BASSLicense" />
      <ComponentRef Id="MediaPortalLicense" />

      <ComponentRef Id="MP2Client" />
      <ComponentRef Id="MP2Client.config" />
      <ComponentRef Id="MP2ClientSplashscreen" />
      <ComponentRef Id="MP2Client.Desktop.Shortcut" />
      <ComponentRef Id="MP2Client.StartMenu.Shortcut" />

      <ComponentRef Id="HttpServer" />
      <ComponentRef Id="log4net" />
      <ComponentRef Id="MediaPortal.Core" />
      <ComponentRef Id="MediaPortal.UI" />
      <ComponentRef Id="MediaPortal.Utilities" />
      <ComponentRef Id="Microsoft.WindowsAPICodePack"/>
      <ComponentRef Id="Microsoft.WindowsAPICodePack.Shell"/>
      <ComponentRef Id="UPnP" />
      <ComponentRef Id="zlib1" />

      <Feature Id="Client.Plugins"
               Level="2"
               Absent="disallow"
               AllowAdvertise="no"
               ConfigurableDirectory="CLIENT.PLUGINS.FOLDER"
               Title="!(loc.F_Client_Plugins)"
               Description="!(loc.F_Client_Plugins_Desc)">
        <ComponentGroupRef Id="ClientPlugins" />
      </Feature>

      <Feature Id="Client.Data" Level="2" Absent="disallow" AllowAdvertise="no"
               ConfigurableDirectory="CLIENT.DATA.FOLDER"
               Title="!(loc.F_Client_Data)"
               Description="!(loc.F_Client_Data_Desc)">

        <Feature Id="Client.Config" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="CLIENT.CONFIG.FOLDER"
                 Title="!(loc.F_Client_Config)"
                 Description="!(loc.F_Client_Config_Desc)">
        </Feature>
        <Feature Id="Client.Log" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="CLIENT.LOG.FOLDER"
                 Title="!(loc.F_Client_Log)"
                 Description="!(loc.F_Client_Log_Desc)">
        </Feature>
        <Feature Id="Client.Playlists" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="CLIENT.PLAYLISTS.FOLDER"
                 Title="!(loc.F_Client_Playlist)"
                 Description="!(loc.F_Client_Playlist_Desc)">
        </Feature>
        <Feature Id="Client.RemoteResources" Level="2" Absent="disallow" AllowAdvertise="no"
                 ConfigurableDirectory="CLIENT.REMOTERESOURCES.FOLDER"
                 Title="!(loc.F_Client_RemoteResources)"
                 Description="!(loc.F_Client_RemoteResources_Desc)">
        </Feature>

      </Feature>
    </Feature>

  </Fragment>
</Wix>