<Plugin
    DescriptorVersion="1.0"
    Name="RefreshRateChanger"
    PluginId="{EE2CCBD2-8ACC-418B-9219-3C24C3FFD801}"
    Author="Morpheus_xx"
    Copyright="GPL"
    AutoActivate="true"
    Description="The RefreshRateChanger plugin provides allows to change the display's refresh rate to match video playback.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2015-06-01 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="RefreshRateChanger.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.RefreshRateChanger.VideoFpsWatcher"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/> <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Register Location="/Resources/Language">
    <Resource Id="RefreshRateChangerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Players"
        Redundant="true"
        Text="[Settings.Players]"/>
  </Register>

  <Register Location="/Configuration/Settings/Players/">
    <ConfigSection
        Id="VideoPlayer"
        Redundant="true"
        Text="[Settings.Players.VideoPlayer]"/>
  </Register>

  <!-- Contents of '/Players/VideoPlayer' section -->
  <Register Location="/Configuration/Settings/Players/VideoPlayer">

    <ConfigSetting
      Id="IsEnabled"
      Text="[RefreshRateChanger.IsEnabled]"
      HelpText="[RefreshRateChanger.IsEnabled.Help]"
      ClassName="MediaPortal.Plugins.RefreshRateChanger.Settings.Configuration.IsEnabled"/>

    <ConfigSetting
      Id="NoChangeForRate"
      Text="[RefreshRateChanger.RateMappings]"
      HelpText="[RefreshRateChanger.RateMappings.Help]"
      ClassName="MediaPortal.Plugins.RefreshRateChanger.Settings.Configuration.RateMappings"/>

  </Register>
</Plugin>
