<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <castle>
    <components/>
  </castle>

  <log4net>
    <appender name="DefaultLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Server.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Once"/>
      <maxSizeRollBackups value="4"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%-7timestamp] [%-9thread] [%-5level] - %message%newline"/>
      </layout>
    </appender>

    <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ServerError.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Once"/>
      <maxSizeRollBackups value="4"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%-7timestamp] [%-9thread] [%-5level] - %message%newline"/>
      </layout>
    </appender>

    <appender name="LossyFileAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="25"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <appender-ref ref="ErrorLogAppender"/>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss,fff}] [%-9thread] [%-5level] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="LossyFileAppender"/>
      <appender-ref ref="DefaultLogAppender"/>
    </root>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins\SlimTv.Service"/>
    </assemblyBinding>
  </runtime>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>

    <!--
    for MYSQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MySQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=TVE35;password=MediaPortal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    
    for MS SQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=TVE35;User ID=sa;Password=MediaPortal;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    for MS SQL CE (MP2) use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQLCE.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=System.Data.SqlServerCe;provider connection string=&quot;Data Source='C:\ProgramData\Team MediaPortal\MP2-Server\TVE35.sdf'; Default Lock Timeout=30000; Max Buffer Size = 2048; Max Database Size = 1024;&quot;" providerName="System.Data.EntityClient" />
    -->

    <!--add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQLCE.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=System.Data.SqlServerCe;provider connection string=&quot;Data Source='C:\ProgramData\Team MediaPortal\MP2-Server\TVE354.sdf'; Default Lock Timeout=30000; Max Buffer Size = 2048; Max Database Size = 1024;&quot;" providerName="System.Data.EntityClient" /-->
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MySQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=TVE355;password=MediaPortal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="System.Data.SqlServerCe" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <add name="SQLCE Data Provider" invariant="System.Data.SqlServerCe" description=".Net Framework Data Provider for SQL CE" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>
