<Plugin
    DescriptorVersion="1.0" 
    Name="SlimTvClient"
    PluginId="{63040BB4-4638-49b7-A82F-F4530D4D43B9}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="The SlimTvClient plugin provides the GUI and Player for basic TV capabilities."
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="SlimTv.Interfaces.dll"/>
    <Assembly FileName="SlimTv.Client.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}"/>    <!-- SkinBase -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"/>    <!-- Media -->
  </DependsOn>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="87B0BEAD-9345-47d6-83F8-A42A752CB6E1" ClassName="MediaPortal.Plugins.SlimTv.Client.Player.SlimTvPlayerBuilder"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="C7646667-5E63-48c7-A490-A58AC9518CFA"
        Name="SlimTvClientMain" 
        MainScreen="SlimTvClient-main"
        DisplayLabel="Slim TV-Client"
        WorkflowModel="8BEC1372-1C76-484c-8A69-C7F3103708EC"/> <!-- Workflow model = SlimTvClient Model -->

    <WorkflowState Id="A40F05BB-022E-4247-8BEE-16EB3E0B39C5"
      Name="SlimTvClientSingleChannelGuide"
      MainScreen="SlimTvClient-guide"
      DisplayLabel="TV Guide"
      WorkflowModel="74F50A53-BEF7-415c-A240-2EC718DA8C0F"/>   <!-- Workflow model = SlimTvSingleChannelGuide Model -->

    <WorkflowState Id="7323BEB9-F7B0-48c8-80FF-8B59A4DB5385"
      Name="SlimTvClientMultiChannelGuide"
      MainScreen="SlimTvClient-fullguide"
      DisplayLabel="TV Guide"
      WorkflowModel="5054408D-C2A9-451f-A702-E84AFCD29C10"/>   <!-- Workflow model = SlimTvMultiChannelGuide Model -->
  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="SlimTvClientLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Services">
    <Service Id="SlimTvHandlerService" RegistrationClassName="MediaPortal.Plugins.SlimTv.Interfaces.ITvHandler"        
        ServiceClassName="MediaPortal.Plugins.SlimTv.Client.TvHandler.SlimTvHandler"/>
  </Register>

  <!-- Registration of the SlimTv extension builder for SlimTvProgramExtension items -->
  <!--
    Morpheus_xx:
    This is an example for adding more actions for programs in TV Guide. Uncomment this item to see the "Example" action added.
    This can  be done from any plugin!
  -->
  <!--
  <Builder Name="SlimTvExtensionBuilder" ClassName="MediaPortal.Plugins.SlimTv.Interfaces.Extensions.SlimTvExtensionBuilder"/>
  <Register Location="/SlimTv/Extensions">
    <SlimTvExtensionBuilder Id="{197B0299-B411-4FC7-BA96-765371C77B3B}" Caption="Example" ClassName="MediaPortal.Plugins.SlimTv.Extensions.ProgramExample"/>
  </Register>
  -->

  <Register Location="/Models">
    <Model Id="8BEC1372-1C76-484c-8A69-C7F3103708EC" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvClientModel"/>
    <Model Id="74F50A53-BEF7-415c-A240-2EC718DA8C0F" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvSingleChannelGuideModel"/>
    <Model Id="5054408D-C2A9-451f-A702-E84AFCD29C10" ClassName="MediaPortal.Plugins.SlimTv.Client.Models.SlimTvMultiChannelGuideModel"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="SlimTvClientSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
