<Plugin
    DescriptorVersion="1.0"
    Name="GeoLocation"
    PluginId="{48A21846-9267-4F7C-A0B5-843A2A00970E}"
    Author="Valk"
    Copyright="GPL"
    Description="GeoLocation Plugin"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="GeoLocation.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Register Location="/Services">
    <Service Id="GeoLocationService" RegistrationClassName="MediaPortal.Extensions.GeoLocation.IGeoLocationService"
        ServiceClassName="MediaPortal.Extensions.GeoLocation.GeoLocationService"/>
  </Register>
</Plugin>