<Plugin
    Version = "1.0"
    Name = "MusicMetadataExtractor"
    Author = "Team Mediaportal"
    Copyright = "GPL"
    Description = "Metadata extractor for many kinds of music file formats"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "MusicMetadataExtractor.dll"/>
  </Runtime>

  <Register Location = "/Media/MetadataExtractors">
    <Instance
        Id = "MusicMetadataExtractor"
        ClassName = "MediaPortal.Media.MetadataExtractors.MusicMetadataExtractor.MusicMetadataExtractor"/>
  </Register>
</Plugin>
