<Plugin
    DescriptorVersion="1.0"
    Name="SQLiteDatabase"
    PluginId="{CDFC897C-DBFC-4815-8135-EEA1E4628623}"
    Author="offbyone; MJGraf"
    Copyright="GPL"
    AutoActivate="true"
    Description="Provides database access to an SQLite database">

  <Version
    PluginVersion="0.08"
    ReleaseDate="2015-06-01 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="SQLiteDatabase.dll"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
  </DependsOn>

  <Register Location="/Services">
    <Service Id="SQLiteDatabase" RegistrationClassName="MediaPortal.Backend.Database.ISQLDatabase"
        RegistrationClassAssembly="MediaPortal.Backend" ServiceClassName="MediaPortal.Database.SQLite.SQLiteDatabase"/>
  </Register>
</Plugin>
