body 
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	font-size: x-small;
}
a 
{
  text-decoration: none;
  background-color: Transparent
}
a:link 
{	
	color: #0033ff;
}		
a:visited 
{	
	color:	#003399;
}			
a:active, a:hover
{	
	color:#69c;
}			
h2 
{
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: large;
}
h3 
{
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: medium;
}
table 
{
	padding:0px;
	width: 100%;
	margin-left: -2px;
	margin-right: -2px;
}
th, td 
{
  padding: 2px 4px 2px 4px;
  vertical-align: top;
  font-size: x-small;
}
address 
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	font-size: 8pt;
    font-style: normal; 
    text-align: right;
}

.title 
{
	background-color: #bbb;
	color: white;
}
.success 
{
	background-color: #a6f178;
	color: black;
}
.error 
{
	background-color: #f18888;
	color: black;
}
.warning
{
	background-color: #f1de78;
	color: black;
}
.question
{
	background-color: #bed6f1;
	color: black;
}
.buildreport 
{
	background-color: #f1f1f1;
	color: black;
	font-size: 9pt;
}
.right
{
	font-size: 8pt;
	text-align: right;
}