<Plugin
    DescriptorVersion="1.0" 
    Name="SlimTv4HomeProvider"
    PluginId="{727B7812-343D-4b35-8EFD-1D499B70D848}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="The SlimTv4HomeProvider uses TV4Home and MP TvServer to provide basic TV capabilities."
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="SlimTv4HomeProvider.dll"/>
  </Runtime>

  <!-- The MediaProvider to access Tve3. -->
  <Register Location="/Media/MediaProviders">
    <Instance Id="SlimTvProvider" ClassName="MediaPortal.Plugins.SlimTv.Providers.SlimTvMediaProvider"/>
  </Register>
</Plugin>
