<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="Custom_Action_Dll" SourceFile="$(var.CustomActions.TargetDir)CustomActions.CA.dll" />

    <CustomAction Id="ReadCustomPathsFromExistingPathsFile" DllEntry="ReadCustomPathsFromExistingPathsFile" Execute="immediate" Return="check" BinaryRef="Custom_Action_Dll" />
    <CustomAction Id="PrepareXmlPathVariables" DllEntry="PrepareXmlPathVariables" Execute="immediate" Return="check" BinaryRef="Custom_Action_Dll" />

    <CustomAction Id="AttachClientToServer" DllEntry="AttachClientToServer" Execute="immediate" Return="check" BinaryRef="Custom_Action_Dll" />

    <CustomAction Id="StopProcesses" DllEntry="StopProcesses" Impersonate="no" Execute="immediate" Return="ignore" BinaryRef="Custom_Action_Dll" />

    <!-- Use WixQuietExec to run the commands to avoid the command window popping up. The command line to run needs to be stored
         in a property with the same id as the WixQuietExec custom action and the path to the exe needs to be quoted.
         A SetProperty action is used to allow the [SystemFolder] reference to be resolved and needs to be scheduled to run before the action.-->
    <SetProperty Id="ListenerServiceAddReservation" Value="&quot;[SystemFolder]netsh.exe&quot; http add urlacl url=http://+:55555/MediaPortal/ sddl=D:(A;;GX;;;S-1-1-0)" Before="ListenerServiceAddReservation" Sequence="execute" />
    <CustomAction Id="ListenerServiceAddReservation" DllEntry="WixQuietExec" Execute="deferred" Return="asyncWait" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <SetProperty Id="ListenerServiceDeleteReservation" Value="&quot;[SystemFolder]netsh.exe&quot; http delete urlacl url=http://+:55555/MediaPortal/" Before="ListenerServiceDeleteReservation" Sequence="execute" />
    <CustomAction Id="ListenerServiceDeleteReservation" DllEntry="WixQuietExec" Execute="deferred" Return="asyncWait" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <SetProperty Id="FirewallPortAdd" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall add rule name=&quot;MediaPortal UPnP/HttpServer&quot; dir=in action=allow protocol=TCP localport=55555" Before="FirewallPortAdd" Sequence="execute" />
    <CustomAction Id="FirewallPortAdd" DllEntry="WixQuietExec" Execute="deferred" Return="asyncWait" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <SetProperty Id="FirewallPortRemove" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall delete rule name=&quot;MediaPortal UPnP/HttpServer&quot; protocol=TCP localport=55555" Before="FirewallPortRemove" Sequence="execute" />
    <CustomAction Id="FirewallPortRemove" DllEntry="WixQuietExec" Execute="deferred" Return="asyncWait" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <InstallExecuteSequence>
      <Custom Action="ListenerServiceDeleteReservation" Before="InstallFinalize" Condition="REMOVE~=&quot;ALL&quot;" />
      <Custom Action="ListenerServiceAddReservation" Before="InstallFinalize" Condition="NOT Installed" />
      <Custom Action="FirewallPortRemove" Before="InstallFinalize" Condition="REMOVE~=&quot;ALL&quot;" />
      <Custom Action="FirewallPortAdd" Before="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
