<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="Custom_Action_Dll" SourceFile="$(var.CustomActions.TargetDir)CustomActions.CA.dll"/>

    <CustomAction Id="ReadCustomPathsFromExistingPathsFile" BinaryKey="Custom_Action_Dll" DllEntry="ReadCustomPathsFromExistingPathsFile" Execute="immediate" Return="check" />
    <CustomAction Id="PrepareXmlPathVariables" BinaryKey="Custom_Action_Dll" DllEntry="PrepareXmlPathVariables" Execute="immediate" Return="check" />

    <CustomAction Id="AttachClientToServer" BinaryKey="Custom_Action_Dll" DllEntry="AttachClientToServer" Execute="immediate" Return="check" />

    <CustomAction Id="InstallLAVFilters" BinaryKey="Custom_Action_Dll" DllEntry="InstallLAVFilters" Impersonate="no" Execute="deferred" Return="ignore" />

    <CustomAction Id="StopProcesses" BinaryKey="Custom_Action_Dll" DllEntry="StopProcesses" Impersonate="no" Execute="immediate" Return="ignore" />
  </Fragment>
</Wix>
