<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="LaunchConditionsFile">1</Property>

    <Condition Message="!(loc.LC_OS)">
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>

    <Condition Message="!(loc.LC_NET)">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    <Condition Message="!(loc.LC_ADMIN)">
      Privileged
    </Condition>

    <!--
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      <![CDATA[NOT NEWERVERSIONDETECTED OR Installed]]>
    </Condition>
    -->

  </Fragment>
</Wix>