<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>

    <Property Id="LaunchConditionsFile" Value="1" />

    <Property Id="DOKAN">
      <DirectorySearch Id="SystemFolderDokan" Path="[SystemFolder]">
        <!-- Note: Version number needs to be 1 less then the actual file version !-->
        <FileSearch Name="DOKAN1.DLL" />
      </DirectorySearch>
    </Property>

    <Launch Condition="Installed OR VersionNT &gt;= 601" Message="!(loc.LC_OS)" />

    <PropertyRef Id="NETFRAMEWORK45" />
    <Launch Condition="Installed OR (NETFRAMEWORK45 &gt;= &quot;#378675&quot;)" Message="!(loc.LC_NET)" />
    <Launch Condition="Privileged" Message="!(loc.LC_ADMIN)" />

    <Launch Condition="Installed OR DOKAN" Message="!(loc.LC_DOKAN)" />

    <!--
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      <![CDATA[NOT NEWERVERSIONDETECTED OR Installed]]>
    </Condition>
    -->

  </Fragment>
</Wix>
