<?xml version="1.0" encoding="utf-8" ?>
<Plugin
    DescriptorVersion="1.0"
    Name="VideoEffectChanger"
    PluginId="{21F4BB41-6DEF-4B88-B748-D645CB5D3CB4}"
    Author="Team MediaPortal"
    Copyright="GPL"
    Description="Allows automatic selection of effects depending on video resolution">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2015-06-01 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="VideoEffectChanger.dll"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Register Location="/Models">
    <Model Id="10A1ABE0-2EF6-4DF1-822B-DEBC7DDB676A" Name="VideoEffectSetupModel" ClassName="MediaPortal.UiComponents.VideoEffectChanger.Models.VideoEffectSetupModel"/>
  </Register>

  <Register Location="/Services">
    <Service Id="VideoEffectChanger" RegistrationClassName="MediaPortal.UiComponents.VideoEffectChanger.VideoEffectChanger" ServiceClassName="MediaPortal.UiComponents.VideoEffectChanger.VideoEffectChanger"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="VideoEffectChangerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location = "/Resources/Skin">
    <Resource Id="VideoEffectChangerSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <Register Location="/Workflow/States">
    <DialogState Id="F053871A-0B5E-4E00-A417-4AE22D07F81B" Name="VideoEffectChangerSetup" DialogScreen="dialogVideoEffectChangerSetup"
        DisplayLabel="[Settings.Players.VideoPlayer.VEC]" WorkflowModel="10A1ABE0-2EF6-4DF1-822B-DEBC7DDB676A"/>
    <DialogState Id="D1722690-1B10-4EA1-B0A4-938A861F53E5" Name="VideoEffectDialog" DialogScreen="dialogVideoEffectSelect"
        DisplayLabel="[Settings.Players.VideoPlayer.VEC]" WorkflowModel="10A1ABE0-2EF6-4DF1-822B-DEBC7DDB676A"/>
  </Register>


  <Register Location="/Configuration/Settings/Players/VideoPlayer">
    <CustomConfigSetting
        Id="VideoEffectChanger"
        Text="[Settings.Players.VideoPlayer.VEC]"
        HelpText="[Settings.Plugins.VideoPlayer.VEC.Help]"
        ClassName="MediaPortal.UiComponents.VideoEffectChanger.Settings.Configuration.VideoEffectConfiguration"
        AdditionalData="WorkflowState=F053871A-0B5E-4E00-A417-4AE22D07F81B,ConfAppPanel=..."/>
  </Register>

</Plugin>
