<Plugin
    DescriptorVersion="1.0" 
    Name="SlimTV TvMosaic Provider"
    PluginId="{F7DF567F-A2A3-4DE5-A9A3-1DFB7012FD87}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="This provider uses TvMosaic as backend to provide LiveTv and Recording features to MediaPortal.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2019-08-26 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="2" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="2" />
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/>    <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/>    <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/>    <!-- Configuration plugin -->
  </DependsOn>

  <ConflictsWith>
    <PluginReference PluginId="{2ED35264-D9EB-4C6A-A035-2BEA4C0A5024}"/>    <!-- SlimTvNativeProvider -->
  </ConflictsWith>

  <Runtime>
    <Assembly FileName="SlimTv.Interfaces.dll"/>
    <Assembly FileName="SlimTv.TvMosaicProvider.dll"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="AE53B8DA-FEA8-4CDD-82CF-2FF161AFF038" ClassName="SlimTv.TvMosaicProvider.Models.RecordingsModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="4C1CD946-1FF8-44E1-AEED-A39577215A35"
                   Name="TvMosaicRecordings"
                   MainScreen="TvMosaicRecordings"
                   DisplayLabel="[SlimTvClient.Recordings]"
                   WorkflowModel="AE53B8DA-FEA8-4CDD-82CF-2FF161AFF038"/>
    <!-- Workflow model = TvMosaic Recordings Model -->
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="TvMosaicClientSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="TvMosaicLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Services">
    <Service Id="TvMosaicProviderService" RegistrationClassName="MediaPortal.Plugins.SlimTv.Interfaces.ITvProvider" ServiceClassName="SlimTv.TvMosaicProvider.TvMosaicProvider"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="TV"
        Redundant="true"
        Text="[Settings.Plugins.TV]"/>
  </Register>

  <Register Location="/Configuration/Settings/TV">
    <ConfigSetting
        Id="TvMosaicServerAddress"
        Text="[Settings.Plugins.TV.TvMosaicServerAddress]"
        HelpText="[Settings.Plugins.TV.TvMosaicServerAddress.Help]"
        ClassName="SlimTv.TvMosaicProvider.Settings.Configuration.ServerAddress"/>
    <ConfigSetting
        Id="TvMosaicUsername"
        Text="[Settings.Plugins.TV.TvMosaicUsername]"
        HelpText="[Settings.Plugins.TV.TvMosaicUsername.Help]"
        ClassName="SlimTv.TvMosaicProvider.Settings.Configuration.Username"/>
    <ConfigSetting
        Id="TvMosaicPassword"
        Text="[Settings.Plugins.TV.TvMosaicPassword]"
        HelpText="[Settings.Plugins.TV.TvMosaicPassword.Help]"
        ClassName="SlimTv.TvMosaicProvider.Settings.Configuration.Password"/>
  </Register>

  <!-- The ResourceProvider to access Tve3. -->
  <Register Location="/ResourceProviders">
    <Instance Id="SlimTvProvider" ClassName="MediaPortal.Plugins.SlimTv.Interfaces.ResourceProvider.SlimTvResourceProvider"/>
  </Register>
</Plugin>
