<Plugin
    Version = "1.0" 
    Name = "Database Factory"
    Author = "Frodo"
    Copyright = "GPL"
    AutoActivate = "true" 
    Description = "Database Factory"
    PluginVersion = "1.0">

  <Runtime>
    <Assembly FileName = "Database.dll"/>
    <PluginStateTracker ClassName="Components.Database.DatabasePlugin"/>
  </Runtime>

  <Register Location = "/Databases">
    <!-- SqlLite - Connection String: Data Source= -->
    <Instance Id = "SqlLite" ClassName = "Components.Database.SqlLite.SqlLiteDatabaseBuilder"/>
    <!-- MS SqlServer - Connection String: Password=;Persist Security Info=True;User ID=sa;Initial Catalog=TvLibrary;Data Source=htpc\sqlexpress; -->
    <Instance Id = "SqlServer" ClassName = "Components.Database.Sql.SqlDatabaseBuilder"/>
    <!-- FireBird - Connection String: SqlServer:ServerType=1;User=SYSDBA;Password=masterkey;Charset=ISO8859_1;Database=databasefolder\database.fdb -->
    <Instance Id = "FireBird" ClassName = "Components.Database.FireBird.FireBirdDatabaseBuilder"/>
  </Register>
</Plugin>