<Plugin
    DescriptorVersion="1.0" 
    Name="Configuration Model"
    PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"
    Author="Albert"
    Copyright="GPL"
    Description="Shows settings to be edited in the MediaPortal 2 GUI"
    PluginVersion="1.0">

  <Runtime>
    <Assembly FileName="Configuration.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
  </DependsOn>

  <Register Location="/Models">
    <Model Id="545674F1-D92A-4383-B6C1-D758CECDBDF5" ClassName="UiComponents.Configuration.ConfigurationModel"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="ConfigurationLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="ConfigurationSkin" Directory="Skin" Type="Skin"/>
  </Register>
</Plugin>
