<?xml version="1.0" encoding="utf-8" ?>
<Plugin
    DescriptorVersion="1.0"
    Name="Diagnostics"
    PluginId="{650FA589-5C23-4B66-9B7B-CF6C4CEDE997}"
    Author="Morpheus_xx"
    Copyright="GPL"
    Description="Provides additional features for problem diagnostics.">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2016-04-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="Diagnostics.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>

  <Register Location="/Services">
    <Service Id="DiagnosticsHandler" RegistrationClassName="MediaPortal.UiComponents.Diagnostics.Service.DiagnosticsHandler" ServiceClassName="MediaPortal.UiComponents.Diagnostics.Service.DiagnosticsHandler"/>
  </Register>

</Plugin>
